<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>报表维护</title>
    <style>
        .bootstrap-select.show-menu .dropdown-menu {
            height: 150px;
            max-height: 200px; /* 设置最大高度以展示滚动条 */
            min-height: 100px; /* 设置最大高度以展示滚动条 */
            overflow-y: auto; /* 添加滚动条 */
        }

        #div-table {
            height: 600px;
        }
    </style>
</head>
<body>
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">报表代码</span>
                <select class="selectpicker" data-live-search="true" data-style="btn-default" id="bbdm" name="bbdm">
                    <option value='' selected="selected">请选择报表</option>
                    {% for var in dm_bbdm %}
                    <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">报表名称</span>
                <input type="text" id="bbmc" class="form-control" placeholder="请输入报表名称">
            </div>
        </div>
        <div class="col-md-1">
                 <span class="input-group-btn">
                   <button type="button" id='query_btn' class="btn waves-effect waves-light btn-primary"><i
                           class="fa fa-search"></i></button>
                </span>
        </div>
    </div>
</form>
<br>
<div id='div-table'>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>

<script>

    function query_data(bbdm) {
        console.log('query_data=', bbdm)
        $.ajax({
            url: "/bbgl/query",
            type: "get",
            datatype: "html",
            data: {
                bbdm: bbdm
            },
            success: function () {
                $('#main-container-div').load("/bbgl/query?bbdm=" + bbdm);
            },
        })
    }

    function del_config(p_bbdm) {
        swal({
            title: "确认要删除吗?",
            text: "删除报表信息[" + p_bbdm + ']',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是, 删除!",
            cancelButtonText: "否, 取消!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/bbgl/delete",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm: p_bbdm,
                    },
                    success: function (dataSet) {
                        if (dataSet.code == '0') {
                            swal("已删除!", "报表[" + p_bbdm + "]已删除!", "success");
                            $("#query_btn").click();
                        } else {
                            swal("删除失败!", "报表[" + p_bbdm + "]" + dataSet.message + "!", "error");
                        }
                    },
                });

            } else {
                swal("已取消", "报表[" + p_bbdm + "]未删除!", "error");
            }
        });
    }

    function edit_config(p_row) {
        console.log('edit_config=', p_row)
        var bbdm = p_row.split(',')[0]
        var dsid = p_row.split(',')[2]
        var db = p_row.split(',')[4]
        $('#main-container-div').load("/bbgl/edit?bbdm=" + bbdm + '&dsid=' + dsid + '&db=' + db);

        // $.ajax({
        //     url: "/bbgl/edit",
        //     type: "get",
        //     datatype: "html",
        //     data: {
        //         bbdm: bbdm,
        //         dsid: dsid,
        //         db: db
        //     },
        //     success: function () {
        //         $('#main-container-div').load("/bbgl/edit?bbdm=" + bbdm + '&dsid=' + dsid + '&db=' + db+'&readonly=N');
        //     },
        // })
    }

     function query_config(p_row) {
        console.log('edit_config=', p_row)
        var bbdm = p_row.split(',')[0]
        var dsid = p_row.split(',')[2]
        var db = p_row.split(',')[4]
        $('#main-container-div').load("/bbgl/query/defi?bbdm=" + bbdm + '&dsid=' + dsid + '&db=' + db);

    }

    $(document).ready(function () {
        $("#query_btn").click(function () {
            $.ajax({
                url: "/bbgl/query/config",
                type: "post",
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                    bbmc: $('#bbmc').val(),
                },
                success: function (dataSet) {
                    $('#example').DataTable({
                        "stripeClasses": ['cell-border', 'cell-border', 'cell-border'],
                        "dom": '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                        destroy: true,
                        async: true,
                        scrollY: true,
                        scrollX: false,
                        scrollCollapse: true,
                        paging: true,
                        iDisplayLength: 12,
                        data: dataSet.data,
                        columns: [
                            {"title": "报表代码"},
                            {"title": "报表名称"},
                            {"title": "数据源ID", "visible": false},
                            {"title": "数据源名"},
                            {"title": "数据库名"},
                            {"title": "创建人"},
                            {"title": "创建日期"},
                            {"title": "最近更新"},
                            {
                                "title": "功能",
                                "width": "60px",
                                "render": function (data, type, row) {
                                    bbdm = row[0]
                                    var query_btn;
                                    var query_cfg_btn;
                                    var update_btn;
                                    var delete_btn;

                                    if (dataSet.uuri.includes('/bbgl/query')) {
                                        query_btn = '<input class="btn btn-xs btn-primary"  type="button"  value="查询" onclick="query_data(\'' + bbdm + '\');"/>' + '&nbsp;'
                                    } else {
                                        query_btn = '<input class="btn btn-xs btn-primary"  type="button"  disabled value="查询" onclick="query_data(\'' + bbdm + '\');"/>' + '&nbsp;'
                                    }

                                    if (dataSet.uuri.includes('/bbgl/config')
                                        && dataSet.uuri.includes('/bbgl/header/query')
                                        && dataSet.uuri.includes('/bbgl/filter/query')
                                        && dataSet.uuri.includes('/bbgl/preprocess/query')
                                        && dataSet.uuri.includes('/bbgl/statement/query')
                                        && dataSet.uuri.includes('/bbgl/query/preprocess')) {
                                        query_cfg_btn = '<input class="btn btn-xs btn-primary"  type="button"  value="定义" onclick="query_config(\'' + row + '\');"/>' + '&nbsp;'
                                    } else {
                                        query_cfg_btn = '<input class="btn btn-xs btn-primary"  type="button"  disabled value="定义"" onclick="query_config(\'' + row + '\');"/>' + '&nbsp;'
                                    }

                                    if (dataSet.uuri.includes('/bbgl/edit')) {
                                        update_btn = '<input class="btn btn-xs btn-primary"  type="button"  value="变更" onclick="edit_config(\'' + row + '\');"/>' + '&nbsp;'
                                    } else {
                                        update_btn = '<input class="btn btn-xs btn-primary"  type="button"  disabled value="变更" onclick="edit_config(\'' + row + '\');"/>' + '&nbsp;'
                                    }

                                    if (dataSet.uuri.includes('/bbgl/delete')) {
                                        delete_btn = '<input class="btn btn-xs btn-primary"  type="button"  value="删除" onclick="del_config(\'' + bbdm + '\');"/>'
                                    } else {
                                        delete_btn = '<input class="btn btn-xs btn-primary"  type="button"  disabled value="删除" onclick="del_config(\'' + bbdm + '\');"/>'
                                    }
                                     msg = '&nbsp;' +query_btn+query_cfg_btn+update_btn+delete_btn;
                                    return msg;
                                }
                            },
                        ],
                        "language": get_languages()
                    });
                },
            });
        });
        $("#query_btn").click();

         $('.selectpicker').selectpicker({
              noneSelectedText: '请选择',
              noneResultsText: '没有找到匹配的内容'
        });
        $('.selectpicker').selectpicker('refresh');

    });
</script>

</body>

</html>