<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>报表维护</title>
</head>
<body>
  <form class="form-horizontal" role="form">
       <div class="row">
            <div class="col-md-3">
                 <div class="input-group">
                    <span class="input-group-addon">报表代码</span>
                    <select class="form-control select" id="bbdm" name="bbdm">
                        <option value='' selected = "selected">请选择报表</option>
                        {% for var in dm_bbdm %}
                          <option value={{var[0]}} >{{var[1]}}</option>
                        {% end %}
                    </select>
                 </div>
            </div>
            <div class="col-md-1">
                 <span class="input-group-btn">
                   <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </div>
      </div>
  </form>
  <br>
  <div id='div-table'>
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" ></table>
  </div>

  <script>

      function del_config(p_bbdm) {
             swal({
                    title: "确认要删除吗?",
                    text: "删除报表信息["+p_bbdm+']',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是, 删除!",
                    cancelButtonText:  "否, 取消!",
                    closeOnConfirm: false,
                    closeOnCancel: false
             }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                                url: "/bbgl/delete",
                                type: "post",
                                datatype: "json",
                                data: {
                                    bbdm : p_bbdm,
                                },
                                success: function (dataSet) {
                                     if (dataSet.code=='0') {
                                        swal("已删除!", "报表["+p_bbdm+"]已删除!", "success");
                                        $("#query_btn").click();
                                     } else {
                                        swal("删除失败!", "报表["+p_bbdm+"]"+dataSet.message+"!", "error");
                                     }
                                },
                           });

                    } else {
                        swal("已取消", "报表["+p_bbdm+"]未删除!", "error");
                    }
                });
         }

      function edit_config(p_bbdm) {
           $.ajax({
                url: "/bbgl/edit",
                type: "get",
                datatype: "html",
                data: {
                    bbdm:p_bbdm
                },
                success: function () {
                    $('#main-container-div').load("/bbgl/edit?bbdm="+p_bbdm);
                },
            })
      }

      $(document).ready(function() {
          $("#query_btn").click(function() {
                    $.ajax({
                        url     : "/bbgl/query/config",
                        type    : "post",
                        datatype: "json",
                        data: {
                            bbdm :  $('#bbdm').val(),
                        },
                        success: function (dataSet) {
                           $('#example').DataTable( {
                                  "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                                  "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                                  destroy    :true,
                                  async      :true,
                                  scrollY    :true,
                                  scrollX    :false,
                                  scrollCollapse: true,
                                  paging:     true,
                                  iDisplayLength: 12,
                                  data: dataSet,
                                  columns: [
                                    { "title": "报表代码" },
                                    { "title": "报表名称"},
                                    { "title": "数据源名" },
                                    { "title": "创建人" },
                                    { "title": "创建日期" },
                                    { "title": "最近更新" },
                                    {
                                        "title":"功能",
                                        "width": "60px",
                                        "render": function(data,type,row)
                                        {
                                           bbdm = row[0]
                                           msg ='&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="变更" onclick="edit_config(\''+bbdm+'\');"/>' +'&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="删除" onclick="del_config(\''+bbdm+'\');"/>';
                                           return msg;
                                        }
                                    },
                                  ],
                                  "language": get_languages()
                           });
                       },
                    });
             });
          $("#query_btn").click();
      });
   </script>

</body>

</html>