<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>报表定义</title>
    <style>
       .modal-dialog {
            width :60%;
       }

       .modal-dialog-small {
            width :40%;
       }


    </style>
</head>
<body>
    <form class="form-horizontal" role="form" >
        <div class="row">
            <div class="form-group col-md-3">
                <div>
                    <label class="col-md-3 control-label"><span id="s_login">*</span>代码</label>
                </div>
                <div class="col-md-9">
                    <input id="bbdm"  type="text" class="form-control" placeholder="请输入报表代码">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div>
                    <label class="col-md-3 control-label"><span id="s_user">*</span>名称</label>
                </div>
                <div class="col-md-9">
                    <input id="bbmc" type="text" class="form-control" placeholder="请输入报表名称">
                </div>
            </div>
            <div class="form-group col-md-3">
                <div>
                    <label class="col-md-3 control-label"><span id="s_proj_group">*</span>数据源</label>
                </div>
               <div class="col-md-9">
                    <select class="form-control select" id="dsid" >
                        <option value='' selected = "selected">请选择数据源</option>
                        {% for var in db_server %}
                          <option value={{var[0]}} >{{var[1]}}</option>
                        {% end %}
                    </select>
               </div>
            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1">
                <button id="save_btn" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
            </div>
        </div>
   </form>

    <input id='cur_tab' type="hidden">
    <input id='cur_bbdm' type="hidden">

    <div  class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills m-b-30 pull-left">
                <li class="active">
                    <a href="#div-bbgl-header" data-toggle="tab" aria-expanded="true">表头定义</a>
                </li>
                <li class="">
                    <a href="#div-bbgl-filter" data-toggle="tab" aria-expanded="false">条件定义</a>
                </li>
                <li class="">
                    <a href="#div-bbgl-pre-process" data-toggle="tab" aria-expanded="false">预处理定义</a>
                </li>
                <li class="">
                    <a href="#div-bbgl-query" data-toggle="tab" aria-expanded="false">查询定义</a>
                </li>
                 <li class="">
                     <a id="add_tab_btn"  onclick="addBtn()"><i class="ion-plus"></i></a>
                </li>
            </ul>
            <div class="tab-content br-n pn">
                 <div id="div-bbgl-header" class="tab-pane active">
                    <table id="tab-bbgl-header" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                 </div>
                 <div id="div-bbgl-filter" class="tab-pane">
                    <table id="tab-bbgl-filter" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                </div>
                <div id="div-bbgl-pre-process" class="tab-pane">
                    <table id="tab-bbgl-pre-proccess" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                 </div>
                 <div id="div-bbgl-query" class="tab-pane">
                    <div id="editor-bbgl-query" ></div>
                 </div>
            </div>
        </div>
      </div>

    <!--表头定义窗口 -->
    <div id="modal-add-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">表头定义</h4>
            </div>
            <div class="modal-body">
               <div class="panel panel-flat">
                  <div class="panel-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group" >
                            <div>
                                <label class="col-md-3 control-label" ><span>*</span>列名：</label>
                            </div>
                            <div class="col-md-9" >
                                <input type="text" id="add_header_name"  class="form-control">
                           </div>
                        </div>
                        <div class="form-group">
                            <div >
                                <label class="col-md-3 control-label"><span id="s_add_type_code">*</span>宽度：</label>
                            </div>
                            <div class="col-md-9">
                               <input type="text" id="add_header_width"  class="form-control">
                           </div>
                        </div>
                      </form>
                  </div>
               </div>
               <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="save_header_btn" >保存</button>
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                    </div>
              </div>
            </div>
         </div>
      </div>
     </div>

    <!--条件定义窗口 -->
    <div id="modal-add-filter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">条件定义</h4>
            </div>
            <div class="modal-body">
               <div class="panel panel-flat">
                  <div class="panel-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group" >
                            <div>
                                <label class="col-md-3 control-label" ><span>*</span>条件名称：</label>
                            </div>
                            <div class="col-md-9" >
                                <input type="text" id="add_filter_name"  class="form-control">
                           </div>
                        </div>
                        <div class="form-group">
                            <div >
                                <label class="col-md-3 control-label"><span>*</span>条件代码：</label>
                            </div>
                            <div class="col-md-9">
                               <input type="text" id="add_filter_width"  class="form-control">
                           </div>
                        </div>
                        <div class="form-group">
                            <div >
                                <label class="col-md-3 control-label"><span>*</span>条件类型：</label>
                            </div>
                            <div class="col-md-9">
                               <input type="text" id="add_filter_type"  class="form-control">
                           </div>
                        </div>

                      </form>
                  </div>
               </div>
               <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="save_filter_btn" >保存</button>
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                    </div>
              </div>
            </div>
         </div>
      </div>
     </div>

    <!--预处理窗口 -->
    <div id="modal-add-pre-process" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">预处理定义</h4>
            </div>
            <div class="modal-body">
               <div class="panel panel-flat">
                  <div class="panel-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div >
                                <label class="col-md-2 control-label"><span>*</span>描述：</label>
                            </div>
                            <div class="col-md-10">
                               <input type="text" id="add_pre_process_width"  class="form-control">
                           </div>
                        </div>
                        <div class="form-group" >
                            <div>
                                <label class="col-md-2 control-label" ><span>*</span>语句:</label>
                            </div>
                            <div class="col-md-10" >
                                 <div id="add_pre_process_name" ></div>
                           </div>
                        </div>
                      </form>
                  </div>
               </div>
               <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="save_pre_process_btn" >保存</button>
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                    </div>
              </div>
            </div>
         </div>
      </div>
     </div>

    <!--查询窗口 -->
    <div id="modal-add-query" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">查询定义</h4>
            </div>
            <div class="modal-body">
               <div class="panel panel-flat">
                  <div class="panel-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group" >
                            <div class="col-md-12" >
                                <div id="add_query_content" ></div>
                           </div>
                        </div>
                      </form>
                  </div>
               </div>
               <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="save_query_btn" >保存</button>
                       <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                    </div>
              </div>
            </div>
         </div>
      </div>
     </div>

    <script>

         function addBtn() {

            if ($('#cur_tab').val()=='表头定义') {
                open_model('modal-add-header')
            }
            if ($('#cur_tab').val()=='条件定义') {
                open_model('modal-add-filter')
            }
            if ($('#cur_tab').val()=='预处理定义') {
                open_model('modal-add-pre-process')
            }
            if ($('#cur_tab').val()=='查询定义') {
                open_model('modal-add-query')
            }
         }

         function set_editor(p_editor) {
              var editor = ace.edit(p_editor);
              editor.setTheme("ace/theme/xcode");
              editor.getSession().setMode("ace/mode/mysql");
              editor.getSession().setUseSoftTabs(true);
              editor.getSession().setUseWrapMode(true);
              editor.setShowPrintMargin(false);
              editor.setFontSize(14);
              editor.setOption("wrap", "free");
              ace.require("ace/ext/language_tools");
              editor.setOptions({
                 enableBasicAutocompletion: true,
                 enableSnippets: true,
                 enableLiveAutocompletion: true
              });
              editor.setHighlightActiveLine(true);
         }

         function query_header(){
                $.ajax({
                    url: "/bbgl/header/query",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm : $('#bbdm').val(),
                    },
                    success: function (dataSet) {
                          console.log('query_header=',dataSet)
                          $('#tab-bbgl-header').DataTable( {
                              "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                              "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                              destroy    :true,
                              async      :true,
                              ordering   :false,
                              scrollY    :true,
                              scrollX    :true,
                              scrollCollapse: true,
                              paging     : true,
                              bAutoWidth : true,
                              iDisplayLength: 10,
                              data: dataSet,
                              columns: [
                                { "title": "序号","width":"50px"},
                                { "title": "列名","width":"200px"},
                                { "title": "宽度","width":"200px"},
                              ],
                             "language": get_languages()
                         });
                     }

                });
         }

         function query_filter(){

         }

         function query_pre_process(){

         }

         function query_sql(){

         }

         function open_model(p_model_name) {
            $('.modal').on('show.bs.modal', centerModals);
            $(window).on('resize', centerModals);
            $('#'+p_model_name).modal({
                   keyboard: false,
                   backdrop:false
             });
         }

         $("#add").click(function () {
                   $.ajax({
                        url: "/user/add/save",
                        type: "post",
                        datatype: "json",
                        data: {
                            login  : $('#login').val(),
                            wkno   : $('#wkno').val(),
                        },
                        success: function (dataSet) {
                            if (dataSet.code == 0) {
                                swal("保存成功", "", "success")
                            } else {
                                swal(dataSet.message, "", "error")
                            }
                        }
                   });
              });

         $('#save_btn').click(function(){
              $.ajax({
                    url: "/bbgl/add/save",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm   : $('#bbdm').val(),
                        bbmc   : $('#bbmc').val(),
                        dsid   : $('#dsid').val(),
                    },
                    success: function (dataSet) {
                        if (dataSet.code == 0) {
                            swal("保存成功", "", "success")
                            $('#add_tab_btn').attr('onclick',"addBtn();");
                            $('#cur_bbdm').val($('#bbdm').val())
                            //界面上代码改为只读，不允许修复
                        } else {
                            swal(dataSet.message, "", "error")
                        }
                    }
                });
         });

         $('#save_header_btn').click(function(){
              $.ajax({
                    url: "/bbgl/add/header/save",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm   : $('#bbdm').val(),
                        name   : $('#add_header_name').val(),
                        width  : $('#add_header_width').val(),
                    },
                    success: function (dataSet) {
                        if (dataSet.code == 0) {
                            swal("保存成功", "", "success")
                            $('#bbdm').attr("readonly","readonly");
                            query_header();
                        } else {
                            swal(dataSet.message, "", "error")
                        }
                    }
                });
         });

         $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
             var activeTab = $(e.target).text();
             $('#cur_tab').val(activeTab)

             if (activeTab == '表头定义') {
                 query_header();
             }
             if (activeTab == '条件定义') {
                 query_filter();
             }
             if (activeTab == '预处理定义') {
                 query_pre_process();
             }
             if (activeTab == '查询定义') {
                 query_sql();
             }
        });

         $(document).ready(function() {

              set_selected();

              $('#cur_tab').val('表头定义')

              set_editor('add_pre_process_name')
              set_editor('add_query_content')

              $('#add_tab_btn').removeAttr('onclick');

        });

   </script>

</body>

</html>