<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>报表定义</title>
    <style>
        .modal-dialog {
            width: 60%;
        }

        .modal-dialog-small {
            width: 40%;
        }

        #editor_bbgl_query {
            height: 400px;
            overflow-x: auto;
            overflow-y: auto;
        }

        .table-responsive {
          overflow-x: auto; /* 使容器支持水平滚动条 */
          white-space: nowrap; /* 禁止折行 */
        }

        table.dataTable {
          width: 100%; /* 确保表格宽度自动调整 */
        }

    </style>
</head>
<body>
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="form-group col-md-2">
            <div>
                <label class="col-md-3 control-label"><span>*</span>代码</label>
            </div>
            <div class="col-md-9">
                <input id="bbdm" type="text" class="form-control" placeholder="请输入报表代码">
            </div>
        </div>
        <div class="form-group col-md-2">
            <div>
                <label class="col-md-3 control-label"><span>*</span>名称</label>
            </div>
            <div class="col-md-9">
                <input id="bbmc" type="text" class="form-control" placeholder="请输入报表名称">
            </div>
        </div>
        <div class="form-group col-md-3">
            <div>
                <label class="col-md-3 control-label"><span>*</span>数据源</label>
            </div>
            <div class="col-md-9">
                <select class="selectpicker" data-live-search="true" data-style="btn-default" id="dsid">
                    <option value='' selected="selected">...</option>
                    {% for var in db_server %}
                    <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <div>
                <label class="col-md-3 control-label"><span>*</span>数据库</label>
            </div>
            <div class="col-md-9">
                <select class="selectpicker" data-live-search="true" data-style="btn-default" id="curr_db">
                    <option value='' selected="selected">...</option>
                </select>
            </div>
        </div>


        <div class="form-group col-md-2" style="text-align:center">
            <button id="save_btn" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
        </div>
    </div>
</form>
<br>
<input id='cur_tab' type="hidden">
<input id='cur_bbdm' type="hidden">
<input id='upd_header_xh' type="hidden">
<input id='upd_filter_xh' type="hidden">
<input id='upd_preprocess_xh' type="hidden">

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-pills m-b-30 pull-left">
            <li class="active">
                <a href="#div-bbgl-header" data-toggle="tab" aria-expanded="true">表头定义</a>
            </li>
            <li class="">
                <a href="#div-bbgl-filter" data-toggle="tab" aria-expanded="false">条件定义</a>
            </li>
            <li class="">
                <a href="#div-bbgl-pre-process" data-toggle="tab" aria-expanded="false">预处理定义</a>
            </li>
            <li class="">
                <a href="#div-bbgl-query" data-toggle="tab" aria-expanded="false">查询定义</a>
            </li>
            <li class="">
                <a id="add_tab_btn" onclick="addBtn()"><i class="ion-plus"></i></a>
            </li>
        </ul>
        <div class="tab-content br-n pn">
            <div id="div-bbgl-header" class="tab-pane active">
                <table id="tab-bbgl-header" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%" height="100%"></table>
            </div>
            <div id="div-bbgl-filter" class="tab-pane">
                <table id="tab-bbgl-filter" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%" height="100%"></table>
            </div>
            <div id="div-bbgl-pre-process" class="tab-pane">
                <table id="tab-bbgl-pre-proccess" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%" height="100%"></table>
            </div>
            <div id="div-bbgl-query" class="tab-pane">
                <div class="row">
                    <div id="editor_bbgl_query" class="col-md-12"></div>
                    <br>
                    <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button id="upd_query_btn" type="button"
                                    class="btn btn-custom waves-effect waves-light btn-md">更新
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--表头定义窗口 -->
<div id="modal-add-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">表头定义</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>列名：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="add_header_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span
                                            id="s_add_type_code">*</span>宽度：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="add_header_width" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="save_header_btn">保存
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--条件定义窗口 -->
<div id="modal-add-filter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">条件定义</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件名称：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="add_filter_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件代码：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="add_filter_code" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件类型：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_filter_type" name="add_filter_type">
                                        <option value='' selected="selected">请选择类型</option>
                                        {% for var in dm_filter %}
                                        <option value={{var[0]}}>{{var[1]}}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否列表项：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_select_type" name="add_select_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>列表项配置：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_select_cfg" name="add_select_cfg">
                                        <option value='' selected="selected">请选择...</option>
                                        {% for var in dm_select_cfg %}
                                        <option value={{var[0]}}>{{var[1]}}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否非空：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_notnull_type" name="add_notnull_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否模糊：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_like_type" name="add_like_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否范围：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="add_range_type" name="add_range_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>范围区间(天)：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="add_max_rq_range_name" name="add_max_rq_range_name"
                                           class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="save_filter_btn">保存
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--预处理窗口 -->
<div id="modal-add-pre-process" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">预处理定义</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"><span>*</span>描述：</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" id="add_pre_process_desc" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"><span>*</span>语句:</label>
                                </div>
                                <div class="col-md-10">
                                    <div id="add_pre_process_state"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="save_pre_process_btn">保存
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--查询窗口 -->
<div id="modal-add-query" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">查询定义</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div id="add_query_statement"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="save_statement_btn">保存
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--表头变更窗口 -->
<div id="modal-upd-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">表头变更</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>列名：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="upd_header_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>宽度：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="upd_header_width" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="upd_header_btn">变更
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--条件变更窗口 -->
<div id="modal-upd-filter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">条件变更</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件名称：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="upd_filter_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件代码：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="upd_filter_code" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>条件类型：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_filter_type" name="add_filter_type">
                                        <option value='' selected="selected">请选择类型</option>
                                        {% for var in dm_filter %}
                                        <option value={{var[0]}}>{{var[1]}}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否列表项：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_select_type" name="upd_select_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>列表项配置：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_select_cfg" name="upd_select_cfg">
                                        <option value='' selected="selected">请选择配置</option>
                                        {% for var in dm_select_cfg %}
                                        <option value={{var[0]}}>{{var[1]}}</option>
                                        {% end %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否非空：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_notnull_type" name="upd_notnull_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>模糊查询：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_like_type" name="upd_like_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>是否范围：</label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control select" id="upd_range_type" name="upd_range_type">
                                        <option value='Y'>是</option>
                                        <option value='N' selected="selected">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-3 control-label"><span>*</span>范围区间(天)：</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" id="upd_max_rq_range_name" name="upd_max_rq_range_name"
                                           class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="upd_filter_btn">变更
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--预处理变更窗口 -->
<div id="modal-upd-pre-process" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">预处理变更</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-flat">
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"><span>*</span>描述：</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" id="upd_pre_process_desc" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label"><span>*</span>语句:</label>
                                </div>
                                <div class="col-md-10">
                                    <div id="upd_pre_process_state"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                id="upd_preprocess_btn">保存
                        </button>
                        <button type="button" class="btn btn-custom waves-effect waves-light btn-md"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function initAddValue(flag) {
        if (flag == 'header') {

        }
        if (flag == 'filter') {
            $('#add_filter_name').val('')
            $('#add_filter_code').val('')
            $('#add_filter_type').val('')
            $('#add_select_typ').val('N')
            $('#add_select_cfg').val('')
            $('#add_notnull_type').val('N')
            $('#add_like_type').val('N')
            $('#add_range_typ').val('N')
            $('#add_max_rq_range_name').val('')
        }
        if (flag == 'preprocess') {

        }
        if (flag == 'query') {

        }
    }

    function addBtn() {

        if ($('#cur_tab').val() == '表头定义') {
            open_model('modal-add-header')
        }
        if ($('#cur_tab').val() == '条件定义') {
            open_model('modal-add-filter')
            initAddValue('filter')
        }
        if ($('#cur_tab').val() == '预处理定义') {
            open_model('modal-add-pre-process')
        }
        if ($('#cur_tab').val() == '查询定义') {
            open_model('modal-add-query')
        }
    }

    function set_editor(p_editor) {
        var editor = ace.edit(p_editor);
        editor.setTheme("ace/theme/xcode");
        editor.getSession().setMode("ace/mode/mysql");
        editor.getSession().setUseSoftTabs(true);
        editor.getSession().setUseWrapMode(true);
        editor.setShowPrintMargin(false);
        editor.setFontSize(14);
        editor.setOption("wrap", "free");
        ace.require("ace/ext/language_tools");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.setHighlightActiveLine(true);
    }

    function query_header() {
        $.ajax({
            url: "/bbgl/header/query",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
            },
            success: function (dataSet) {
                console.log('query_header=', dataSet)
                $('#tab-bbgl-header').DataTable({
                    "stripeClasses": ['cell-border', 'cell-border', 'cell-border'],
                    "dom": '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                    destroy: true,
                    async: true,
                    ordering: false,
                    scrollY: true,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    bAutoWidth: true,
                    iDisplayLength: 10,
                    data: dataSet,
                    columns: [
                        {"title": "序号", "width": "50px"},
                        {"title": "列名", "width": "200px"},
                        {"title": "宽度", "width": "200px"},
                        {
                            "title": "功能",
                            "width": "25px",
                            "render": function (data, type, row) {
                                xh = row[0]
                                msg = '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="变更" onclick="edit_header(\'' + escape(row) + '\');"/>' + '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="删除" onclick="del_header(\'' + xh + '\');"/>';
                                return msg;
                            }
                        },
                    ],
                    "language": get_languages()
                });
            }

        });
    }

    function query_filter() {
        $.ajax({
            url: "/bbgl/filter/query",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
            },
            success: function (dataSet) {
                console.log('query_filter=', dataSet)
                $('#tab-bbgl-filter').DataTable({
                    "stripeClasses": ['cell-border', 'cell-border', 'cell-border'],
                    "dom": '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                    destroy: true,
                    async: true,
                    ordering: false,
                    scrollY: true,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    autoWidth: true,
                    iDisplayLength: 10,
                    data: dataSet,
                    columns: [
                        {"title": "序号", "sWidth": "50px"},
                        {"title": "名称", "sWidth": "50px"},
                        {"title": "代码", "sWidth": "100px"},
                        {"title": "类型代码", "visible": false},
                        {"title": "类型", "sWidth": "50px"},
                        {"title": "是否列表项", "sWidth": "50px"},
                        {"title": "列表项值", "sWidth": "50px"},
                        {"title": "列表项名", "sWidth": "100px"},
                        {"title": "是否非空", "sWidth": "50px"},
                        {"title": "是否范围", "sWidth": "50px"},
                        {"title": "日期范围", "sWidth": "50px"},
                        {"title": "模糊查询", "sWidth": "50px"},
                        {
                            "title": "功能",
                            "width": "25px",
                            "render": function (data, type, row) {
                                xh = row[0]
                                msg = '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="变更" onclick="edit_filter(\'' + escape(row) + '\');"/>' + '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="删除" onclick="del_filter(\'' + xh + '\');"/>';
                                return msg;
                            }
                        },
                    ],
                    "language": get_languages()
                });
            }
        });
    }

    function query_pre_process() {
        $.ajax({
            url: "/bbgl/preprocess/query",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
            },
            success: function (dataSet) {
                console.log('query_pre_process=', dataSet)
                $('#tab-bbgl-pre-proccess').DataTable({
                    "stripeClasses": ['cell-border', 'cell-border', 'cell-border'],
                    "dom": '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                    destroy: true,
                    async: true,
                    ordering: false,
                    scrollY: true,
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    bAutoWidth: true,
                    iDisplayLength: 10,
                    data: dataSet,
                    columns: [
                        {"title": "序号", "width": "50px"},
                        {"title": "语句", "width": "400px"},
                        {"title": "描述", "width": "100px"},
                        {
                            "title": "功能",
                            "width": "25px",
                            "render": function (data, type, row) {
                                xh = row[0]
                                msg = '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="查看" onclick="show_preprocess(\'' + escape(row) + '\');"/>' + '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="变更" onclick="edit_preprocess(\'' + escape(row) + '\');"/>' + '&nbsp;' +
                                    '<input class="btn btn-xs btn-primary"  type="button"  value="删除" onclick="del_preprocess(\'' + xh + '\');"/>';
                                return msg;
                            }
                        },
                    ],
                    "language": get_languages()
                });
            }
        });
    }

    function query_statement() {
        $.ajax({
            url: "/bbgl/statement/query",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
            },
            success: function (dataSet) {
                console.log('query_pre_process=', dataSet)
                var editor = ace.edit("editor_bbgl_query");
                editor.setValue('')
                editor.insert(dataSet.statement);
            }
        });
    }

    function open_model(p_model_name) {
        $('.modal').on('show.bs.modal', centerModals);
        $(window).on('resize', centerModals);
        $('#' + p_model_name).modal({
            keyboard: false,
            backdrop: false
        });
    }

    function edit_header(p_row) {
        row = unescape(p_row).split(',')
        $('#upd_header_xh').val(row[0])
        $('#upd_header_name').val(row[1])
        $('#upd_header_width').val(row[2])
        open_model('modal-upd-header')
    }

    function del_header(p_xh) {
        swal({
            title: "确认要删除吗?",
            text: "删除表头信息[" + p_xh + "]!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是, 删除!",
            cancelButtonText: "否, 取消!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/bbgl/delete/header",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm: $('#bbdm').val(),
                        xh: p_xh
                    },
                    success: function (dataSet) {
                        if (dataSet.code == '0') {
                            swal("已删除!", "表头[" + p_xh + "]已注销!", "success");
                            query_header()
                        } else {
                            swal("删除失败!", "表头[" + p_xh + "]" + dataSet.message + "!", "error");
                        }
                    },
                });

            } else {
                swal("已取消", "表头[" + xh + "]未删除!", "error");
            }
        });
    }

    function edit_filter(p_row) {
        row = unescape(p_row).split(',')
        $('#upd_filter_xh').val(row[0])
        $('#upd_filter_name').val(row[1])
        $('#upd_filter_code').val(row[2])
        $('#upd_filter_type').val(row[3])
        $('#upd_select_type').val(row[5])
        $('#upd_select_cfg').val(row[6])
        $('#upd_notnull_type').val(row[8])
        $('#upd_range_type').val(row[9])
        $('#upd_max_rq_range_name').val(row[10])
        $('#upd_like_type').val(row[11])
        set_filter_status()
        open_model('modal-upd-filter')
    }

    function del_filter(p_xh) {
        swal({
            title: "确认要删除吗?",
            text: "删除条件信息[" + p_xh + "]!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是, 删除!",
            cancelButtonText: "否, 取消!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/bbgl/delete/filter",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm: $('#bbdm').val(),
                        xh: p_xh
                    },
                    success: function (dataSet) {
                        if (dataSet.code == '0') {
                            swal("已删除!", "条件[" + p_xh + "]已注销!", "success");
                            query_filter()
                        } else {
                            swal("删除失败!", "条件[" + p_xh + "]" + dataSet.message + "!", "error");
                        }
                    },
                });

            } else {
                swal("已取消", "条件[" + xh + "]未删除!", "error");
            }
        });
    }

    function show_preprocess(p_row) {
        row = unescape(p_row).split(',')
        $('#upd_preprocess_xh').val(row[0])

        $.ajax({
            url: "/bbgl/query/preprocess",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                xh: $('#upd_preprocess_xh').val(),
            },
            success: function (dataSet) {
                var editor = ace.edit("upd_pre_process_state");
                editor.setValue('')
                editor.insert(dataSet.statement);
                editor.setReadOnly(true);
                $('#upd_pre_process_desc').val(dataSet.description)
                $('#upd_pre_process_desc').attr("readonly", true);
                $('#upd_preprocess_btn').attr({"disabled": "disabled"});
                open_model('modal-upd-pre-process')
            }
        });

    }

    function edit_preprocess(p_row) {
        row = unescape(p_row).split(',')
        $('#upd_preprocess_xh').val(row[0])

        $.ajax({
            url: "/bbgl/query/preprocess",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                xh: $('#upd_preprocess_xh').val(),
            },
            success: function (dataSet) {
                var editor = ace.edit("upd_pre_process_state");
                editor.setValue('')
                editor.insert(dataSet.statement);
                editor.setReadOnly(false);
                $('#upd_pre_process_desc').val(dataSet.description)
                $('#upd_pre_process_desc').attr("readonly", false);
                $('#upd_preprocess_btn').removeAttr("disabled");
                open_model('modal-upd-pre-process')
            }
        });
    }

    function del_preprocess(p_xh) {
        swal({
            title: "确认要删除吗?",
            text: "删除预处理信息[" + p_xh + "]!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是, 删除!",
            cancelButtonText: "否, 取消!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/bbgl/delete/preprocess",
                    type: "post",
                    datatype: "json",
                    data: {
                        bbdm: $('#bbdm').val(),
                        xh: p_xh
                    },
                    success: function (dataSet) {
                        if (dataSet.code == '0') {
                            swal("已删除!", "预处理[" + p_xh + "]已注销!", "success");
                            query_pre_process()
                        } else {
                            swal("删除失败!", "预处理[" + p_xh + "]" + dataSet.message + "!", "error");
                        }
                    },
                });

            } else {
                swal("已取消", "预处理[" + xh + "]未删除!", "error");
            }
        });
    }

    function check_valid(p_flag) {

        if (p_flag == 'add_filter') {
            if ($('#add_select_type').val() == 'Y' && $('#add_select_cfg').val() == '') {
                swal("列表项配置不能为空!", "", "error")
                return false
            }
            if ($('#add_range_type').val() == 'Y' && $('#add_max_rq_range_name').val() == '') {
                swal("范围区间不能为空!", "", "error")
                return false
            }
            if ($('#add_range_type').val() == 'Y' && $('#add_max_rq_range_name').val() != '') {
                var v = $('#add_max_rq_range_name').val()
                if (isNaN(parseInt(v))) {
                    swal("范围区间值必须为整数!", "", "error")
                    return false
                }
            }
        } else if (p_flag == 'upd_filter') {
            if ($('#upd_select_type').val() == 'Y' && $('#upd_select_cfg').val() == '') {
                swal("列表项配置不能为空!", "", "error")
                return false
            }
            if ($('#upd_range_type').val() == 'Y' && $('#upd_max_rq_range_name').val() == '') {
                swal("范围区间不能为空!", "", "error")
                return false
            }
            if ($('#upd_range_type').val() == 'Y' && $('#upd_max_rq_range_name').val() != '') {
                var v = $('#upd_max_rq_range_name').val()
                if (isNaN(parseInt(v))) {
                    swal("范围区间值必须为整数!", "", "error")
                    return false
                }
            }
        } else {
            if ($('#bbdm').val() == '') {
                swal("报表代码不能为空!", "", "error")
                return false
            }
            if ($('#bbmc').val() == '') {
                swal("报表名称不能为空!", "", "error")
                return false
            }

            if ($('#dsid').val() == '') {
                swal("数据源不能为空!", "", "error")
                return false
            }

            if ($('#curr_db').val() == '') {
                swal("数据库不能为空!", "", "error")
                return false
            }
        }

        return true;
    }

    function upd_db(p_val) {
        if ($('#dsid').val() != '') {
            $.ajax({
                url: "/get_tree",
                type: "post",
                datatype: "json",
                data: {
                    dbid: $('#dsid').val(),
                    msg: $('#curr_db').val(),
                    flag: 'bbgl'
                },
                success: function (dataSet) {
                    $("#curr_db").empty();
                    $("#curr_db").append("<option value=''>...</option>");
                    for (i = 0; i < dataSet['message'].length; i++) {
                        var val = dataSet['message'][i].id;
                        var text = dataSet['message'][i].id;
                        $("#curr_db").append("<option value='" + val + "' title='" + text + "'>" + text + "</option>");
                    }
                    if (p_val != '') {
                        $("#curr_db").val(p_val)
                    }
                    $("#curr_db").selectpicker('refresh')
                }
            })
        }
    }

    function set_filter_status() {
        if ($('#upd_filter_type').val() == '1') {
            $('#upd_select_type').attr("disabled", false);
            $('#upd_select_cfg').attr("disabled", false);
            $('#upd_notnull_type').attr("disabled", false);
            $('#upd_like_type').attr("disabled", false);
            $('#upd_range_type').attr("disabled", true);
            $('#upd_max_rq_range_name').attr("disabled", true);
        } else {
            $('#upd_select_type').attr("disabled", true);
            $('#upd_select_cfg').attr("disabled", true);
            $('#upd_notnull_type').attr("disabled", false);
            $('#upd_like_type').attr("disabled", true);
            $('#upd_range_type').attr("disabled", false);
            $('#upd_max_rq_range_name').attr("disabled", false);
        }
    }

    $('#upd_header_btn').click(function () {
        if (!check_valid('')) {
            return false;
        }

        var xh = $('#upd_header_xh').val()
        $.ajax({
            url: "/bbgl/update/header",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                xh: $('#upd_header_xh').val(),
                name: $('#upd_header_name').val(),
                width: $('#upd_header_width').val(),
            },
            success: function (dataSet) {
                if (dataSet.code == '0') {
                    swal("已更新!", "表头[" + xh + "]已更新!", "success");
                    query_header()
                } else {
                    swal("更新失败!", "表头[" + xh + "]" + dataSet.message + "!", "error");
                }
            }
        });
    })

    $('#upd_filter_btn').click(function () {
        if (!check_valid('upd_filter')) {
            return false;
        }

        var xh = $('#upd_filter_xh').val()
        $.ajax({
            url: "/bbgl/update/filter",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                xh: $('#upd_filter_xh').val(),
                name: $('#upd_filter_name').val(),
                code: $('#upd_filter_code').val(),
                type: $('#upd_filter_type').val(),
                item: $('#upd_select_type').val(),
                cfg: $('#upd_select_cfg').val(),
                notnull: $('#upd_notnull_type').val(),
                is_range: $('#upd_range_type').val(),
                rq_range: $('#upd_max_rq_range_name').val(),
                is_like: $('#upd_like_type').val(),
            },
            success: function (dataSet) {
                if (dataSet.code == '0') {
                    swal("已更新!", "条件[" + xh + "]已更新!", "success");
                    query_filter()
                } else {
                    swal("更新失败!", "条件[" + xh + "]" + dataSet.message + "!", "error");
                }
            }
        });
    })

    $('#upd_preprocess_btn').click(function () {
        if (!check_valid('')) {
            return false;
        }

        var editor = ace.edit("upd_pre_process_state");
        $.ajax({
            url: "/bbgl/update/preprocess",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                xh: $('#upd_preprocess_xh').val(),
                statement: editor.getValue(),
                description: $('#upd_pre_process_desc').val(),
            },
            success: function (dataSet) {
                if (dataSet.code == '0') {
                    swal("已更新!", "条件[" + xh + "]已更新!", "success");
                    query_filter()
                } else {
                    swal("更新失败!", "条件[" + xh + "]" + dataSet.message + "!", "error");
                }
            }
        });
    })

    $('#upd_query_btn').click(function () {
        if (!check_valid('')) {
            return false;
        }

        var editor = ace.edit("editor_bbgl_query")
        console.log('editor.getValue()=', editor.getValue())

        $.ajax({
            url: "/bbgl/update/statement",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                statement: editor.getValue(),
            },
            success: function (dataSet) {
                if (dataSet.code == '0') {
                    swal("变更成功", "", "success")
                    query_filter()
                } else {
                    swal("变更失败!", "error");
                }
            }
        });
    })

    $('#save_btn').click(function () {

        if (!check_valid('')) {
            return false;
        }

        $.ajax({
            url: "/bbgl/add/save",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                bbmc: $('#bbmc').val(),
                dsid: $('#dsid').val(),
                db: $('#curr_db').val()
            },
            success: function (dataSet) {
                if (dataSet.code == 0) {
                    swal("保存成功", "", "success")
                    $('#add_tab_btn').attr('onclick', "addBtn();");
                    $('#cur_bbdm').val($('#bbdm').val())
                    query_header()
                } else {
                    swal(dataSet.message, "", "error")
                }
            }
        });
    });

    $('#save_header_btn').click(function () {
        if (!check_valid('')) {
            return false;
        }

        $.ajax({
            url: "/bbgl/add/header/save",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                name: $('#add_header_name').val(),
                width: $('#add_header_width').val(),
            },
            success: function (dataSet) {
                if (dataSet.code == 0) {
                    swal("保存成功", "", "success")
                    $('#bbdm').attr("readonly", "readonly");
                    query_header();
                } else {
                    swal(dataSet.message, "", "error")
                }
            }
        });
    });

    $('#save_filter_btn').click(function () {
        if (!check_valid('add_filter')) {
            return false;
        }

        $.ajax({
            url: "/bbgl/add/filter/save",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                name: $('#add_filter_name').val(),
                code: $('#add_filter_code').val(),
                type: $('#add_filter_type').val(),
                item: $('#add_select_type').val(),
                cfg: $('#add_select_cfg').val(),
                notnull: $('#add_notnull_type').val(),
                is_range: $('#add_range_type').val(),
                rq_range: $('#add_max_rq_range_name').val(),
                is_like: $('#add_like_type').val(),

            },
            success: function (dataSet) {
                if (dataSet.code == 0) {
                    swal("保存成功", "", "success")
                    $('#bbdm').attr("readonly", "readonly");
                    query_filter();
                } else {
                    swal(dataSet.message, "", "error")
                }
            }
        });
    });

    $('#save_pre_process_btn').click(function () {
        if (!check_valid()) {
            return false;
        }

        var editor = ace.edit("add_pre_process_state")
        $.ajax({
            url: "/bbgl/add/preprocess/save",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                statement: editor.getValue(),
                description: $('#add_pre_process_desc').val(),
            },
            success: function (dataSet) {
                if (dataSet.code == 0) {
                    swal("保存成功", "", "success")
                    query_pre_process();
                } else {
                    swal(dataSet.message, "", "error")
                }
            }
        });
    });

    $('#save_statement_btn').click(function () {
        if (!check_valid()) {
            return false;
        }

        var editor = ace.edit("add_query_statement")
        $.ajax({
            url: "/bbgl/add/statement/save",
            type: "post",
            datatype: "json",
            data: {
                bbdm: $('#bbdm').val(),
                statement: editor.getValue(),
            },
            success: function (dataSet) {
                if (dataSet.code == 0) {
                    swal("保存成功", "", "success")
                    query_statement();
                } else {
                    swal(dataSet.message, "", "error")
                }
            }
        });
    });

    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var activeTab = $(e.target).text();
        $('#cur_tab').val(activeTab)

        if (activeTab == '表头定义') {
            query_header();
        }
        if (activeTab == '条件定义') {
            query_filter();
        }
        if (activeTab == '预处理定义') {
            query_pre_process();
        }
        if (activeTab == '查询定义') {
            query_statement();
        }
    });

    $("#bbdm").bind("input propertychange", function () {
        if ($('#bbdm').val() != '') {
            $.ajax({
                url: "/bbgl/config",
                type: "post",
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                },
                success: function (config) {
                    $('#bbmc').val(config.bbmc)
                    upd_db(config.db);
                    $('#dsid').val(config.dsid)
                    $("#dsid").selectpicker('refresh')
                    upd_db(config.db)
                    $('#add_tab_btn').attr('onclick', "addBtn();");
                    $('#cur_bbdm').val($('#bbdm').val())
                    query_header()
                },
            });
        }

    });

    $('#add_filter_type').change(function () {
        if ($('#add_filter_type').val() == '1') {
            $('#add_select_type').attr("disabled", false);
            $('#add_select_cfg').attr("disabled", false);
            $('#add_notnull_type').attr("disabled", false);
            $('#add_like_type').attr("disabled", false);
            $('#add_range_type').attr("disabled", true);
            $('#add_max_rq_range_name').attr("disabled", true);
        } else {
            $('#add_select_type').attr("disabled", true);
            $('#add_select_cfg').attr("disabled", true);
            $('#add_notnull_type').attr("disabled", true);
            $('#add_like_type').attr("disabled", true);
            $('#add_range_type').attr("disabled", false);
            $('#add_max_rq_range_name').attr("disabled", false);
        }
        $('#add_select_type').val('N')
        $('#add_select_cfg').val('')
        $('#add_notnull_type').val('N')
        $('#add_like_type').val('N')
        $('#add_range_type').val('N')
        $('#add_max_rq_range_name').val('')
    })

    $('#upd_filter_type').change(function () {
        set_filter_status()
        $('#upd_select_type').val('N')
        $('#upd_select_cfg').val('')
        $('#upd_notnull_type').val('N')
        $('#upd_like_type').val('N')
        $('#upd_range_type').val('N')
        $('#upd_max_rq_range_name').val('')
    })

    $('#dsid').change(function () {
        upd_db('');
    })

    $(document).ready(function () {
        set_selected();
        $('#cur_tab').val('表头定义')
        set_editor('add_pre_process_state')
        set_editor('add_query_statement')
        set_editor('editor_bbgl_query')
        set_editor('upd_pre_process_state')
        $('#add_tab_btn').removeAttr('onclick');
        $("#curr_db").selectpicker('refresh')
        $("#dsid").selectpicker('refresh')
    });

</script>

</body>

</html>