<head>
    <style>
        .bootstrap-select.show-menu .dropdown-menu {
            height: 150px;
            max-height: 200px; /* 设置最大高度以展示滚动条 */
            min-height: 100px; /* 设置最大高度以展示滚动条 */
            overflow-y: auto; /* 添加滚动条 */
        }

        #div-table {
            height: 600px;
        }
    </style>
</head>
<body>
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">报表代码</span>
                <select class="selectpicker" data-live-search="true" data-style="btn-default" id="bbdm" name="bbdm">
                    <option value='' selected="selected">请选择报表</option>
                    {% for var in dm_bbdm %}
                    <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="col-md-1">
                 <span class="input-group-btn">
                   <button type="button" id='query_btn' class="btn waves-effect waves-light btn-primary"><i
                           class="fa fa-search"></i></button>
                </span>
        </div>
        <div class="col-md-2">
            <span id="query_time"></span>
        </div>
    </div>
</form>
<br>
<form class="form-horizontal" role="form" id="form_bbgl_filter"></form>
<br>
<div id='div-table'>
    <table id="example_bbgl" class="table table-striped table-bordered nowrap" style="width:100%"></table>
</div>
<input type="hidden" id="notnull_filter">
<input type="hidden" id="rq_range_filter">

<script>
    function downloads_data(p_id) {
        $.ajax({
            url: "/bbgl/download/files",
            type: "post",
            datatype: "json",
            data: {
                id: p_id,
            },
            success: function (dataSet) {
                // console.log('downloads_data=',downloads_data)
                var link = $("<a/>")
                link.html('　');
                link.attr('href', dataSet.file);
                link.attr('class', 'link');
                link.attr('id', 'download_id');
                link.attr('name', 'download_name');
                link.appendTo('body')
                link[0].click();
            },
        })
    }

    $(document).ready(function () {
        var table;

        function check_bbgl() {
            $.ajax({
                url: "/bbgl/filter",
                type: "post",
                datatype: "json",
                async: false,
                data: {
                    bbdm: $('#bbdm').val(),
                },
                success: function (filter) {
                    console.log('filter=', filter)
                    if (filter.length > 0) {
                        var notnull_filter = ''
                        var rq_range_filter = ''
                        for (i = 0; i < filter.length; i++) {
                            if (filter[i].is_null == 'Y') {
                                notnull_filter = notnull_filter + filter[i].filter_code + '#' + filter[i].filter_name + ','
                            }
                            if (filter[i].is_range == 'Y') {
                                rq_range_filter = rq_range_filter + filter[i].filter_code + '#' + filter[i].filter_name + '#' + filter[i].rq_range + ','
                            }
                        }
                        $('#notnull_filter').val(notnull_filter.slice(0, -1))
                        $('#rq_range_filter').val(rq_range_filter.slice(0, -1))
                    } else {
                        $('#notnull_filter').val('')
                        $('#rq_range_filter').val('')
                    }
                },
            });
        }

        $('#bbdm').change(function () {
            $.ajax({
                url: "/bbgl/filter",
                type: "post",
                async: false,
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                },
                success: function (filter) {
                    $('#form_bbgl_filter').empty()
                    var htmlFilter = ''
                    var rowFilter = '<div class="row">'
                    var filter_number = 0;
                    for (i = 0; i < filter.length; i++) {
                        filter_number = filter_number + 1
                        if (filter[i].filter_type == '1') {
                            if (filter[i].is_item == 'Y') {
                                var options = ''
                                $.ajax({
                                    url: "/bbgl/query/dm",
                                    type: "post",
                                    datatype: "json",
                                    async: false,
                                    data: {
                                        dm: filter[i].item_value,
                                    },
                                    success: function (dataSet) {
                                        for (dm = 0; dm < dataSet.length; dm++) {
                                            //options = options +"<option value='"+dataSet[dm][0]+"'>"+dataSet[dm][1]+"</option>\n"
                                            options = options + "<option value='" + dataSet[dm][0] + "' title='" + dataSet[dm][1] + "'>" + dataSet[dm][1] + "</option>\n"
                                        }
                                    },
                                });

                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '</span>\n' +
                                    '            <select class="selectpicker"  data-live-search="true" data-style="btn-default" id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '">\n' +
                                    '                <option value="">...</option>\n' + options +
                                    '            </select> ' +
                                    '      </div>\n' +
                                    '</div>'

                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '" type="text" class="form-control" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '       </div>\n' +
                                    '</div>'
                            }

                        } else if (filter[i].filter_type == '2') {

                            if (filter[i].is_range == 'Y') {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_begin" name="' + filter[i].filter_code + '_begin"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>' +
                                    '</div>\n'

                                if (filter_number % 4 == 0) {
                                    rowFilter = rowFilter + '</div>\n'
                                    htmlFilter = htmlFilter + rowFilter + '<br>'
                                    rowFilter = '<div class="row">'
                                }

                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '止</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_end" name="' + filter[i].filter_code + '_end"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                                filter_number = filter_number + 1
                                console.log('range.....')
                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                            }

                        } else if (filter[i].filter_type == '3') {
                            if (filter[i].is_range == 'Y') {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_begin" name="' + filter[i].filter_code + '_begin"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>' +
                                    '</div>\n'

                                if (filter_number % 4 == 0) {
                                    rowFilter = rowFilter + '</div>\n'
                                    htmlFilter = htmlFilter + rowFilter + '<br>'
                                    rowFilter = '<div class="row">'
                                }

                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '止</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_end" name="' + filter[i].filter_code + '_end"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                                filter_number = filter_number + 1
                                console.log('range.....')
                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + filter[i].filter_name + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                            }

                        }

                        if (filter_number % 4 == 0) {
                            rowFilter = rowFilter + '</div>\n'
                            htmlFilter = htmlFilter + rowFilter + '<br>'
                            rowFilter = '<div class="row">'
                        }
                    }

                    if (filter_number % 4 != 0) {
                        rowFilter = rowFilter + '</div>\n'
                        htmlFilter = htmlFilter + rowFilter + '<br>'
                    }

                    $('#form_bbgl_filter').append(htmlFilter);

                    $.fn.datepicker.dates['zh-CN'] = {
                        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                        daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                        daysMin: ["日", "一", "二", "三", "四", "五", "六"],
                        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                        today: "今天",
                        monthsTitle: "选择月份",
                        clear: "清除",
                        format: "yyyy-mm-dd",
                        titleFormat: "yyyy年mm月",
                        weekStart: 1
                    };

                    $('.datepicker').datepicker({
                        language: 'zh-CN',
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: true,
                        todayHighlight: true,
                        defaultTIme: false
                    });

                    $('.datetimepicker').datetimepicker({
                        language: 'zh-CN',
                        CustomFormat: 'yyyy-mm-dd HH:ii:ss',
                        weekStart: 1,
                        todayBtn: 1,            //显示当天按钮，点击则选择当天当天时间
                        autoclose: 1,           //选完时间自动关闭
                        todayHighlight: 1,      //当天时间高亮
                        startView: 2,           //从月视图开始，选天
                        minView: 0,             //提供选择分钟的视图
                        forceParse: 0,
                        minuteStep: 1           //用于构建小时视图。就是最小的视图是每1分钟可选一次。是以分钟为单位的
                    });

                    $('.selectpicker').selectpicker('refresh');

                },
            });
        })

        $("#query_btn").click(function () {
            // $('#example').show();
            $('#query_time').text('');

            if ($('#bbdm').val() == '') {
                showtips('error', '请选择报表!');
                return false;
            }

            check_bbgl();

            //检测条件是否为空值
            var nullstr = $('#notnull_filter').val()
            var nullstr2 = nullstr.split(',')
            var rq_range = $('#rq_range_filter').val()
            for (var i in nullstr2) {
                var c = nullstr2[i].split('#')[0]
                var n = nullstr2[i].split('#')[1]

                if ($('#' + c).val() == '') {
                    showtips('error', n + '不能为空!');
                    return false;
                }

                if ($('#' + c + '_begin').val() == '') {
                    showtips('error', n + '起不能为空!');
                    return false;
                }

                if ($('#' + c + '_end').val() == '') {
                    showtips('error', n + '止不能为空!');
                    return false;
                }
            }

            //检测日期范围是否超过配置值
            var rq_range = $('#rq_range_filter').val()
            var rq_range2 = $('#rq_range_filter').val().split(',')
            console.log('rq_range=', rq_range)
            console.log('rq_range2=', rq_range2)
            if (rq_range != '') {
                for (var i in rq_range2) {
                    var c = rq_range2[i].split('#')[0]
                    var n = rq_range2[i].split('#')[1]
                    var d = rq_range2[i].split('#')[2]
                    console.log(c, n, d)
                    var rqq = $('#' + c + '_begin').val()
                    var rqz = $('#' + c + '_end').val()
                    console.log('rqq=', rqq, 'rqz=', rqz)
                    if (rqq != undefined && rqz != undefined) {
                        if (GetDateDiff(rqq, rqz, "day") > parseInt(d)) {
                            showtips('error', n + '查询范围不能超过' + d + '天');
                            return false;
                        }
                    }
                }
            }

            if (table != undefined) {
                table.destroy();
            }

            $('#example_bbgl').empty();


            obj = $('#form_bbgl_filter').serializeObject()
            $.ajax({
                url: "/bbgl/query/data",
                type: "post",
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                    db: '',
                    param: JSON.stringify(obj),
                },
                success: function (dataSet) {
                    console.log('>>>>>>>>>>>>>>', dataSet)
                    if (dataSet.status == "1") {
                        console.log(dataSet)
                        showtips('error', dataSet.msg);
                        console.log(dataSet.msg)
                    } else {
                        table = $('#example_bbgl').DataTable({
                            dom: '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                            destroy: true,
                            async: true,
                            data: dataSet.data,
                            columns: dataSet.column,
                            scrollX: true,
                            scrollY: true,
                            scrollCollapse: true,
                            paging: true,
                            fixedHeader: true,
                            fixedColumns: {
                                leftColumns: 1
                            },
                            iDisplayLength: 20,
                            autoWidth: true,
                            ordering: false,
                            language: get_languages(),
                        });

                        if (dataSet.msg != '') {
                            $('#query_time').css('color', 'red')
                            $('#query_time').text('查询:' + dataSet.msg + '秒,预处理:' + dataSet.preTime + '秒')
                        } else {
                            $('#query_time').text('');
                        }
                    }
                },
            });
        });

        $('.selectpicker').selectpicker({
              noneSelectedText: '请选择',
              noneResultsText: '没有找到匹配的内容'
        });
        $('.selectpicker').selectpicker('refresh');

    });
</script>

</body>
