<head>
    <style>
        .bootstrap-select.show-menu .dropdown-menu {
            height: 150px;
            max-height: 200px; /* 设置最大高度以展示滚动条 */
            min-height: 100px; /* 设置最大高度以展示滚动条 */
            overflow-y: auto; /* 添加滚动条 */
        }

        #div-table {
            height: 600px;
        }
        .modal-log-detail {
            margin-left: 20%;
            width: 75%;
            height: 400px;
        }
        #query-params,#query-headers{
            height:100px;
        }
        #query-pre-process,#query-statement{
            height:250px;
        }

        .bootstrap-select .dropdown-toggle {
            width: 100% !important;        /* 固定宽度 */
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    </style>
</head>
<body>
<form class="form-horizontal" role="form">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">报表代码</span>
                <select class="selectpicker" data-live-search="true" data-style="btn-default" id="bbdm" name="bbdm">
                    <option value='' selected="selected">请选择报表</option>
                    {% for var in dm_bbdm %}
                        {% if bbdm==var[0] %}
                           <option value={{var[0]}} title={{var[1]}} selected="selected">{{var[1]}}</option>
                        {% else %}
                           <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                        {% end %}
                    {% end %}
                </select>
            </div>
        </div>
        <div class="col-md-1">
             <span class="input-group-btn">
                   <button type="button" id='query_btn' class="btn waves-effect waves-light btn-primary"><i
                           class="fa fa-search"></i></button>
            </span>
             <span class="input-group-btn">
                   <button type="button" id='log_btn' class="btn waves-effect waves-light btn-primary"><i
                           class="mdi mdi-message-text-outline"></i></button>
            </span>
        </div>
        <div class="col-md-2">
            <span id="query_time"></span>
        </div>
    </div>
</form>
<br>
<form class="form-horizontal" role="form" id="form_bbgl_filter"></form>
<br>
<div id='div-table'>
    <table id="example_bbgl" class="table table-striped table-bordered nowrap" style="width:100%"></table>
</div>
<input type="hidden" id="notnull_filter">
<input type="hidden" id="rq_range_filter">

<div id="con-logs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-log-detail">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">查询日志</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label id="query-params-label">查询参数</label>&nbsp;<span id="span-query-params"><i class="ion-arrow-down-b"></i></span>
                    <div id='query-params' class="col-md-12"></div>
                </div><br>
                <div class="row">
                    <label id="query-headers-label">查询表头</label>&nbsp;<span id="span-query-headers"><i class="ion-arrow-down-b"></i></span>
                     <div id='query-headers' class="col-md-12"></div>
                </div><br>
                <div class="row">
                    <label id="query-pre-process-label">预处理块</label>&nbsp;<span id="span-query-pre-process"><i class="ion-arrow-down-b"></i></span>
                    <div id='query-pre-process' class="col-md-12"></div>
                </div><br>
                <div class="row">
                    <label id="query-statement-label">查询语句</label>&nbsp;<span id="span-query-statement"><i class="ion-arrow-down-b"></i></span>
                    <div id='query-statement' class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

<div id="con-logs-err-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-log-detail">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">查询日志</h4>
            </div>
            <div class="modal-body">
                 <div class="row">
                    <label id="query-error-label">查询日志</label>&nbsp;<span id="span-error-message"><i class="ion-arrow-down-b"></i></span>
                    <div id='query-errlog' class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->


<script>
    let table;
    let logs;
    function downloads_data(p_id) {
        $.ajax({
            url: "/bbgl/download/files",
            type: "post",
            datatype: "json",
            data: {
                id: p_id,
            },
            success: function (dataSet) {
                var link = $("<a/>")
                link.html('　');
                link.attr('href', dataSet.file);
                link.attr('class', 'link');
                link.attr('id', 'download_id');
                link.attr('name', 'download_name');
                link.appendTo('body')
                link[0].click();
            },
        })
    }
    function check_bbgl() {
            $.ajax({
                url: "/bbgl/filter",
                type: "post",
                datatype: "json",
                async: false,
                data: {
                    bbdm: $('#bbdm').val(),
                },
                success: function (filter) {
                    if (filter.length > 0) {
                        var notnull_filter = ''
                        var rq_range_filter = ''
                        for (i = 0; i < filter.length; i++) {
                            if (filter[i].is_null == 'Y') {
                                notnull_filter = notnull_filter + filter[i].filter_code + '#' + filter[i].filter_name + ','
                            }
                            if (filter[i].is_range == 'Y') {
                                rq_range_filter = rq_range_filter + filter[i].filter_code + '#' + filter[i].filter_name + '#' + filter[i].rq_range + ','
                            }
                        }
                        $('#notnull_filter').val(notnull_filter.slice(0, -1))
                        $('#rq_range_filter').val(rq_range_filter.slice(0, -1))
                    } else {
                        $('#notnull_filter').val('')
                        $('#rq_range_filter').val('')
                    }
                },
            });
        }
    function set_selected(){
        $("span:contains('*')").each(function(){
            $(this).children().css('color','red')
        })
    }

    function set_editor_json(p_editor) {
            var editor = ace.edit(p_editor);
            editor.setTheme("ace/theme/xcode");
            editor.getSession().setMode("ace/mode/json");
            editor.getSession().setUseSoftTabs(true);
            editor.getSession().setUseWrapMode(true);
            editor.setShowPrintMargin(false);
            editor.setFontSize(14);
            editor.setOption("wrap", "free");
            ace.require("ace/ext/language_tools");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true,
                wrapBehavioursEnabled: false
            });
            editor.setHighlightActiveLine(true);
        }

    function set_editor_sql(p_editor) {
            var editor = ace.edit(p_editor);
            editor.setTheme("ace/theme/xcode");
            editor.getSession().setMode("ace/mode/sql");
            editor.getSession().setUseSoftTabs(true);
            editor.getSession().setUseWrapMode(true);
            editor.setShowPrintMargin(false);
            editor.setFontSize(14);
            editor.setOption("wrap", "free");
            ace.require("ace/ext/language_tools");
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true,
                wrapBehavioursEnabled: false
            });
            editor.setHighlightActiveLine(true);
        }

    function set_log_values(logs) {
        if (typeof logs !== "undefined") {
            var query_params = ace.edit("query-params");
            var query_headers = ace.edit("query-headers");
            var query_pre_process = ace.edit("query-pre-process");
            var query_statement = ace.edit("query-statement");
            query_params.setValue('')
            query_params.insert(JSON.stringify(logs['params'], null, 2));
            query_params.setReadOnly(true);
            query_headers.setValue('');
            query_headers.insert(JSON.stringify(logs['columns'], null, 2));
            query_headers.setReadOnly(true);
            query_pre_process.setValue('')
            query_pre_process.insert(logs['pre_statement']);
            query_pre_process.setReadOnly(true);
            query_statement.setValue('')
            query_statement.insert(logs['statement']);
            query_statement.setReadOnly(true);
        }  else {
            showtips('info', '请先查询后再查看日志!');
        }
    }

    function set_log_error(logs) {
        if (typeof logs !== "undefined") {
            var query_errlog = ace.edit("query-errlog")
            query_errlog.setValue('')
            query_errlog.insert(logs['msg']);
            query_errlog.setReadOnly(true);
        }  else {
            showtips('info', '请先查询后再查看日志!');
        }
    }

    $('#log_btn').on('click', function() {
           $(window).on('resize', centerModals);
           console.log('log_btn=',logs);
           if (logs.status == "0") {
               $('#con-logs-modal').modal({
                   keyboard: false,
                   backdrop: false
               })
           } else {
               $('#con-logs-err-modal').modal({
                   keyboard: false,
                   backdrop: false
               })
           }
     });

    $('#query-params-label').click(function () {
        if ($('#query-params').css('display') == 'none') {
            $('#query-params').css("display", "block");
            $('#span-query-params').html('<i class="ion-arrow-up-b"></i>');
        } else {
            $('#query-params').css("display", "none");
            $('#span-query-params').html('<i class="ion-arrow-down-b"></i>');
        }
    })

    $('#query-headers-label').click(function () {
        if ($('#query-headers').css('display') == 'none') {
            $('#query-headers').css("display", "block");
            $('#span-query-headers').html('<i class="ion-arrow-up-b"></i>');
        } else {
            $('#query-headers').css("display", "none");
            $('#span-query-headers').html('<i class="ion-arrow-down-b"></i>');
        }
    })

    $('#query-pre-process-label').click(function () {
        if ($('#query-pre-process').css('display') == 'none') {
            $('#query-pre-process').css("display", "block");
            $('#span-query-pre-process').html('<i class="ion-arrow-up-b"></i>');
        } else {
            $('#query-pre-process').css("display", "none");
            $('#span-query-pre-process').html('<i class="ion-arrow-down-b"></i>');
        }
    })

    $('#query-statement-label').click(function () {
        if ($('#query-statement').css('display') == 'none') {
            $('#query-statement').css("display", "block");
            $('#span-query-statement').html('<i class="ion-arrow-up-b"></i>');
        } else {
            $('#query-statement').css("display", "none");
            $('#span-query-statement').html('<i class="ion-arrow-down-b"></i>');
        }
    })

    $('#query-error-label').click(function () {
        if ($('#query-errlog').css('display') == 'none') {
            $('#query-errlog').css("display", "block");
            $('#span-error-message').html('<i class="ion-arrow-up-b"></i>');
        } else {
            $('#query-errlog').css("display", "none");
            $('#span-error-message').html('<i class="ion-arrow-down-b"></i>');
        }
    })

    $("#query_btn").click(function () {
            $('#query_time').text('');

            if ($('#bbdm').val() == '') {
                showtips('error', '请选择报表!');
                return false;
            }
            check_bbgl();

            //检测条件是否为空值
            var nullstr = $('#notnull_filter').val()
            var nullstr2 = nullstr.split(',')
            var rq_range = $('#rq_range_filter').val()
            for (var i in nullstr2) {
                var c = nullstr2[i].split('#')[0]
                var n = nullstr2[i].split('#')[1]

                if ($('#' + c).val() == '') {
                    showtips('error', n + '不能为空!');
                    return false;
                }

                if ($('#' + c + '_begin').val() == '') {
                    showtips('error', n + '起不能为空!');
                    return false;
                }

                if ($('#' + c + '_end').val() == '') {
                    showtips('error', n + '止不能为空!');
                    return false;
                }
            }

            //检测日期范围是否超过配置值
            var rq_range = $('#rq_range_filter').val()
            var rq_range2 = $('#rq_range_filter').val().split(',')
            if (rq_range != '') {
                for (var i in rq_range2) {
                    var c = rq_range2[i].split('#')[0]
                    var n = rq_range2[i].split('#')[1]
                    var d = rq_range2[i].split('#')[2]
                    var rqq = $('#' + c + '_begin').val()
                    var rqz = $('#' + c + '_end').val()
                    if (rqq != undefined && rqz != undefined) {
                        if (GetDateDiff(rqq, rqz, "day") > parseInt(d)) {
                            showtips('error', n + '查询范围不能超过' + d + '天');
                            return false;
                        }
                    }
                }
            }

            if (table != undefined) {
                table.destroy();
            }

            $('#example_bbgl').empty();

            obj = $('#form_bbgl_filter').serializeObject()
            $.ajax({
                url: "/bbgl/query/data",
                type: "post",
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                    db: '',
                    param: JSON.stringify(obj),
                },
                success: function (dataSet) {
                    console.log('query_btn=',dataSet)
                    logs = dataSet
                    $('#log_btn').prop('disabled', false);
                    if (dataSet.status == "1") {
                        set_log_error(dataSet.logs)
                        showtips('error', '查询出错，详见日志');
                    } else {
                        set_log_values(dataSet.logs)
                        table = $('#example_bbgl').DataTable({
                            dom: '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                            destroy: true,
                            async: true,
                            data: dataSet.data,
                            columns: dataSet.column,
                            scrollX: true,
                            scrollY: true,
                            scrollCollapse: true,
                            paging: true,
                            fixedHeader: true,
                            fixedColumns: {
                                leftColumns: 1
                            },
                            iDisplayLength: 20,
                            autoWidth: true,
                            ordering: false,
                            language: get_languages(),
                        });

                        if (dataSet.msg != '') {
                            $('#query_time').css('color', 'red')
                            $('#query_time').text('查询:' + dataSet.msg + '秒,预处理:' + dataSet.preTime + '秒')
                        } else {
                            $('#query_time').text('');
                        }
                    }
                },
            });
        });

    $(document).keydown(function (event) {
        if (event.keyCode == 13) { //判断为Enter键
            event.preventDefault();
            $("#query_btn").click();
        }
    });

    $(document).ready(function () {
        let uuri = "{{ uuri }}";
        if (uuri.includes('/bbgl/query/logs')) {
            $('#log_btn').show()
        } else {
            $('#log_btn').hide()
        }
        set_editor_json('query-params')
        set_editor_json('query-headers')
        set_editor_sql('query-pre-process')
        set_editor_sql('query-statement')
        set_editor_sql('query-errlog')
        $('.modal').on('shown.bs.modal', centerModals);

        $('#query-params').css("display", "none");
        $('#span-query-params').html('<i class="ion-arrow-down-b"></i>');
        $('#query-headers').css("display", "none");
        $('#span-query-params').html('<i class="ion-arrow-down-b"></i>');
        $('#query-pre-process').css("display", "none");
        $('#span-query-pre-process').html('<i class="ion-arrow-down-b"></i>');
        $('#log_btn').prop('disabled', true);

        function set_notnull_flag(is_notnull,obj){
            if (is_notnull=='Y') {
                return "<span>*</span>"+obj
            } else {
                return obj
            }
        }

        $('#bbdm').change(function () {
            $.ajax({
                url: "/bbgl/filter",
                type: "post",
                async: false,
                datatype: "json",
                data: {
                    bbdm: $('#bbdm').val(),
                },
                success: function (filter) {
                    $('#form_bbgl_filter').empty()
                    var htmlFilter = ''
                    var rowFilter = '<div class="row">'
                    var filter_number = 0;
                    for (i = 0; i < filter.length; i++) {
                        console.log('filter=',filter[i])
                        filter_number = filter_number + 1
                        if (filter[i].filter_type == '1') {
                            if (filter[i].is_item == 'Y') {
                                var options = ''
                                $.ajax({
                                    url: "/bbgl/query/dm",
                                    type: "post",
                                    datatype: "json",
                                    async: false,
                                    data: {
                                        dm: filter[i].item_value,
                                    },
                                    success: function (dataSet) {
                                        for (dm = 0; dm < dataSet.length; dm++) {
                                            //options = options +"<option value='"+dataSet[dm][0]+"'>"+dataSet[dm][1]+"</option>\n"
                                            options = options + "<option value='" + dataSet[dm][0] + "' title='" + dataSet[dm][1] + "'>" + dataSet[dm][1] + "</option>\n"
                                        }
                                    },
                                });

                                if (filter[i].item_type == '2' || filter[i].item_type == '3') {
                                   rowFilter = rowFilter +
                                        '<div class="col-md-3">\n' +
                                        '       <div class="input-group">\n' +
                                        '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '</span>\n' +
                                        '            <select class="selectpicker"  data-live-search="true" multiple data-style="btn-default" data-selected-text-format="count > 1" data-count-selected-text="已选 {0} 项" style="width: 100%;" id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '">\n' +
                                        '                <option value="">...</option>\n' + options +
                                        '            </select> ' +
                                        '      </div>\n' +
                                        '</div>'
                                } else {
                                     rowFilter = rowFilter +
                                        '<div class="col-md-3">\n' +
                                        '       <div class="input-group">\n' +
                                        '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '</span>\n' +
                                        '            <select class="selectpicker"  data-live-search="true" data-style="btn-default" id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '">\n' +
                                        '                <option value="">...</option>\n' + options +
                                        '            </select> ' +
                                        '      </div>\n' +
                                        '</div>'
                               }

                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '" type="text" class="form-control" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '       </div>\n' +
                                    '</div>'
                            }

                        } else if (filter[i].filter_type == '2') {

                            if (filter[i].is_range == 'Y') {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_begin" name="' + filter[i].filter_code + '_begin"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>' +
                                    '</div>\n'

                                if (filter_number % 4 == 0) {
                                    rowFilter = rowFilter + '</div>\n'
                                    htmlFilter = htmlFilter + rowFilter + '<br>'
                                    rowFilter = '<div class="row">'
                                }

                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '止</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_end" name="' + filter[i].filter_code + '_end"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                                filter_number = filter_number + 1
                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '"   type="text" class="form-control datepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                            }

                        } else if (filter[i].filter_type == '3') {
                            if (filter[i].is_range == 'Y') {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_begin" name="' + filter[i].filter_code + '_begin"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>' +
                                    '</div>\n'

                                if (filter_number % 4 == 0) {
                                    rowFilter = rowFilter + '</div>\n'
                                    htmlFilter = htmlFilter + rowFilter + '<br>'
                                    rowFilter = '<div class="row">'
                                }

                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '止</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '_end" name="' + filter[i].filter_code + '_end"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                                filter_number = filter_number + 1
                            } else {
                                rowFilter = rowFilter +
                                    '<div class="col-md-3">\n' +
                                    '       <div class="input-group">\n' +
                                    '            <span class="input-group-addon">' + set_notnull_flag(filter[i].is_null,filter[i].filter_name) + '起</span>\n' +
                                    '            <input id="' + filter[i].filter_code + '" name="' + filter[i].filter_code + '"   type="text" class="form-control datetimepicker" placeholder="请输入' + filter[i].filter_name + '">\n' +
                                    '      </div>\n' +
                                    '</div>'
                            }

                        }

                        if (filter_number % 4 == 0) {
                            rowFilter = rowFilter + '</div>\n'
                            htmlFilter = htmlFilter + rowFilter + '<br>'
                            rowFilter = '<div class="row">'
                        }
                    }

                    if (filter_number % 4 != 0) {
                        rowFilter = rowFilter + '</div>\n'
                        htmlFilter = htmlFilter + rowFilter + '<br>'
                    }

                    $('#form_bbgl_filter').append(htmlFilter);

                    set_selected();

                    $.fn.datepicker.dates['zh-CN'] = {
                        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                        daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                        daysMin: ["日", "一", "二", "三", "四", "五", "六"],
                        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                        today: "今天",
                        monthsTitle: "选择月份",
                        clear: "清除",
                        format: "yyyy-mm-dd",
                        titleFormat: "yyyy年mm月",
                        weekStart: 1
                    };

                    $('.datepicker').datepicker({
                        language: 'zh-CN',
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: true,
                        todayHighlight: true,
                        defaultTIme: false
                    });

                    $('.datetimepicker').datetimepicker({
                        language: 'zh-CN',
                        CustomFormat: 'yyyy-mm-dd HH:ii:ss',
                        weekStart: 1,
                        todayBtn: 1,            //显示当天按钮，点击则选择当天当天时间
                        autoclose: 1,           //选完时间自动关闭
                        todayHighlight: 1,      //当天时间高亮
                        startView: 2,           //从月视图开始，选天
                        minView: 0,             //提供选择分钟的视图
                        forceParse: 0,
                        minuteStep: 1           //用于构建小时视图。就是最小的视图是每1分钟可选一次。是以分钟为单位的
                    });

                    $('.selectpicker').selectpicker({
                          noneSelectedText: '请选择',
                          noneResultsText: '没有找到匹配的内容'
                    });

                    $('.selectpicker').selectpicker('refresh');

                },
            });
        })

        // 强制设置selectpicker的宽度
        $(".selectpicker").css("width", "100%");

        // 在每次选项更改时，重新设置宽度
        $(".selectpicker").on('changed.bs.select', function () {
            $(this).css("width", "100%");
        });

        $('.selectpicker').selectpicker({
              noneSelectedText: '请选择',
              noneResultsText: '没有找到匹配的内容'
        });
        $('.selectpicker').selectpicker('refresh');

        if ($('#bbdm').val()!='') {
            $('#bbdm').change();
        }

    });
</script>

</body>
