<div class="row">
    <div class="col-md-3">
        <select class="selectpicker" data-live-search="true" data-style="btn-default" id="test12345">
            <option value='' selected="selected">...</option>
            <option value="1" title="a">a</option>
            <option value="2" title="b">b</option>
            <option value="3" title="c">c</option>
            <option value="4" title="d">d</option>
            <option value="5" title="e">e</option>
            <option value="6" title="f">f</option>
        </select>
    </div>
</div>
<p>
<div class="row">
    <div class="col-md-3">
        <select class="selectpicker" data-live-search="true" data-style="btn-default" id="dsid123">
            <option value='' selected="selected">...</option>
            <option value="1" title="a">a</option>
            <option value="2" title="b">b</option>
            <option value="3" title="c">c</option>
            <option value="4" title="d">d</option>
            <option value="5" title="e">e</option>
            <option value="6" title="f">f</option>
        </select>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({size: 10, noneSelectedText: '请选择...'});
        console.log('init....')
    });
    $('.selectpicker').selectpicker('refresh');
</script>
