<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{static_url('assets/images/favicon.ico')}}">
        <title>EaseBase - {{loginname}}</title>
        <link href="{{static_url('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/core.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/menu.css')}}"  rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/responsive.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/custombox/css/custombox.min.css')}}" rel="stylesheet">
		<link href="{{static_url('plugins/switchery/switchery.min.css')}}" rel="stylesheet" >
        <link href="{{static_url('plugins/tooltipster/tooltipster.bundle.min.css')}}" rel="stylesheet" >
        <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
        <link href="{{static_url('plugins/jquery.filer/css/jquery.filer.css')}}" rel="stylesheet" />
        <link href="{{static_url('assets/css/icons/icomoon/styles.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/form_wizard/css/components.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{static_url('plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{static_url('plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>

        <link href="{{static_url('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{static_url('plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{static_url('plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
        <link href="{{static_url('plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')}}" rel="stylesheet" >

        <link href="{{static_url('plugins/morris/morris.css')}}" rel="stylesheet" >
        <link href="{{static_url('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/jquery.contextMenu/jquery.contextMenu.min.css') }}"  rel="stylesheet" />
        <link href="{{static_url('plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css')}}" rel="stylesheet" />
        <link href="{{static_url('plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css')}}" rel="stylesheet" />

        <link href="{{static_url('plugins/multiselect/css/multi-select.css')}}"  rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet" />

        <style>
            .modal-lg {
                width:650px;
                height:500px;
                margin-left:35%;
                margin-top:5%;
            }

            .modal-lg2 {
                width:80%;
                height:500px;
                margin-left:15%;
                margin-top:10%;
            }

            .logo {
                color: #ffffff !important;
                font-size: 25px !important;
                text-transform: capitalize !important;
                font-family: 'Hind Madurai', sans-serif;
                font-weight: 500 !important;
                letter-spacing: 1px;
                line-height: 50px !important;
            }
            .logo i {
                display: block !important;
            }
            .logo_span {
                color: #59aed5 !important;
                font-size: 25px;
            }

            #unlock-btn{
                margin-top:15px;
                margin-bottom:15px;
            }

            .label-body {
                display: inline-block;
                width: 45px;
            }

           .app-search1 .form-control1{
                border: 1px solid rgba(152, 166, 173, 0.15);
                font-size: 13px;
                height: 34px;
                color: #313a46;
                padding: 7px 20px 7px 20px;
                margin: 19px 12px 0 5px;
                background: rgba(152, 166, 173, 0.1);
                box-shadow: none;
                border-radius: 30px;
                width: 310px;
                display: block;
            }

             .app-search2 .form-control2{
                border: 1px solid rgba(152, 166, 173, 0.15);
                font-size: 13px;
                height: 34px;
                color: #313a46;
                padding: 7px 20px 7px 20px;
                margin: 19px 12px 0 5px;
                background: rgba(152, 166, 173, 0.1);
                box-shadow: none;
                border-radius: 30px;
                display: block;
                width: 150px;
            }

           .app-search3 .form-control3{
                border: 1px solid rgba(152, 166, 173, 0.15);
                font-size: 13px;
                height: 34px;
                color: #313a46;
                padding: 7px 20px 7px 20px;
                margin: 19px 12px 0 5px;
                background: rgba(152, 166, 173, 0.1);
                box-shadow: none;
                border-radius: 30px;
                width: 340px;
                display: block;
            }
            .panel-body {
                padding: 5px;
            }
        </style>
    </head>
    <body class="fixed-left">
        <div id="wrapper">
            <div class="topbar">
                <div class="topbar-left">
                    <a id="windows_main" href="#" class="logo" style="size:4px;"><span class="logo_span ion-coffee"></span><span>&nbsp;Ease<span>Base</span></span></a>
                </div>
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <ul class="nav navbar-nav navbar-left" >
                            <li>
                                <button class="button-menu-mobile open-left waves-effect">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                            <li class="col-md-4">
                                <form class="app-search1">
                                     <span class="form-control1"><i class="ion-clock m-r-5" style="size:4px;"></i>{{china_rq}}&nbsp;&nbsp;<span  id='span_time'>{{china_time}}</span>&nbsp;&nbsp;{{china_week}} </span>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown user-box">
                                <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                                   <i class="ion-social-windows"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                    <li><h5>主面板</h5></li>
                                    <li><a href="javascript:void(0)" onclick="panalHopson()"><i class="ti-user m-r-5" style="size:4px;"></i>合生通</a></li>
                                    <li><a href="javascript:void(0)" onclick="panalEasylife()"><i class="ion-ios7-home-outline m-r-5" style="size:4px;"></i>好房</a></li>
                                    <li><a href="javascript:void(0)" onclick="panalEasebase()"><i class="ion-coffee m-r-5" style="size:4px;"></i>平台</a></li>
                                </ul>
                            </li>

                            <li class="dropdown user-box">
                                <a href="" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                                    <img id='user-img-id' src="" alt="user-img" class="img-circle user-img">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                    <li>
                                       <h5><span class="form-control2">{{welcome}}</span></h5>
                                       <input type="hidden" id="login_name" value="{{loginname}}">
                                    </li>
                                    <li><a href="javascript:void(0)" onclick="userinfo()"><i class="ti-user m-r-5"></i>用户详情</a></li>
                                    <li><a href="javascript:void(0)" onclick="conninfo()"><i class="ti-loop m-r-5"></i>连接详情</a></li>
                                    <li><a href="javascript:void(0)" onclick="logout()" ><i class="ti-power-off m-r-5"></i>系统注销</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="left side-menu">
                <span class="menu-title">数据库自动化运维平台</span>
                <div class="sidebar-inner slimscrollleft">
                    <div id="sidebar-menu">
                        <ul id="ul-menu">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-page">
                <div class="content">
                     <div class="panel-body">
                        <ul id="ul_tabs" class="nav nav-tabs tabs-bordered">
                        </ul>
                        <div class="tab-content br-n pn">
                             <div id="main" class="tab-pane active">
                                <div id='main-container-div' class="container"></div>
                             </div>
                        </div>
                       </div>
                </div>
                <footer class="footer text-right">
                    <div class="col-lg-3 col-md-4 col-sm-6"><span><b>作者:</b>一切随风</span></div>
                    <div class="col-lg-3 col-md-4 col-sm-6"><span><b>版本:</b>V1.0</span></div>
                    <div class="col-lg-3 col-md-4 col-sm-6"><span><a href="https://github.com/mafeicnnui/dbops" target="_blank"><b>帮助</b></a></span></div>
                    <div class="col-lg-3 col-md-4 col-sm-6"><span><b>联系方式:</b>zhdn_791005@163.com</span></div>
                </footer>
            </div>

        </div>

        <div id="con-userinfo-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">用户详情</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="row">
                               <input  id="userid" type="hidden" name="userid" value={{userid}} >
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">用户名</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="login"  type="text" class="form-control" placeholder="请输入用户名" value={{loginname}} disabled>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" action=""  method="POST" enctype="multipart/form-data" >
                            <div class="row">
                               <div class="form-group">
                                    <div>
                                        <label class="col-md-2 control-label">用户头像</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="file" name="files[]" id="user_detail_filer_input"  multiple="multiple">
                                    </div>
                                    <div class="col-md-2">
                                        <input  id="user_detail_image_path" type="hidden" value="{{file_path}}" >
                                        <input  id="user_detail_image_file" type="hidden" value="{{file_name}}" >
                                        <image  id="user_image" width="50px"  src="{{user_image}}" alt=''></image>
                                    </div>
                               </div>
                            </div>
                        </form>
                        <form class="form-horizontal" role="form" >
                                <div class="row">
                                    <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">姓名</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="user" name="user" type="text" class="form-control" placeholder="请输入姓名" value={{username}} disabled>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                               <div class="row">
                                    <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">工号</label>
                                        </div>
                                        <div class="col-md-8">
                                           <input id="wkno" name="wkno" type="text" class="form-control" placeholder="请输入工号" value={{wkno}} disabled>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">密码</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="pass" name="pass" type="password" class="form-control" placeholder="请输入密码" value={{password}}>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                               </div>
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">性别</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control select" id="gender" name="gender" disabled>
                                                {% if gender=='1' %}
                                                    <option value="1" selected = "selected">男</option>
                                                    <option value="2">女</option>
                                                {% end %}
                                                {% if gender=='2' %}
                                                    <option value='2' selected = "selected">女</option>
                                                    <option value={{gender}}>男</option>
                                                {% end %}
                                            </select>
                                        </div>
                                        <div class="col-md-2"></div>
                                   </div>
                               </div>

                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">项目组</label>
                                        </div>
                                       <div class="col-md-8">
                                            <select class="form-control select" id="proj_group" disabled>
                                               {% for var in proj_groups %}
                                                   {% if proj_group==var[0] %}
                                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                                   {% else %}
                                                      <option value={{var[0]}} >{{var[1]}}</option>
                                                   {% end  %}
                                              {% end %}
                                            </select>
                                       </div>
                                        <div class="col-md-2"></div>
                                    </div>
                               </div>
                               <div class="row">
                                    <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">部门</label>
                                        </div>
                                       <div class="col-md-8">
                                            <select class="form-control select" id="dept" name="dept" disabled>
                                               {% for var in depts %}
                                                   {% if dept==var[0] %}
                                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                                   {% else %}
                                                      <option value={{var[0]}} >{{var[1]}}</option>
                                                   {% end  %}
                                              {% end %}
                                            </select>
                                       </div>
                                      <div class="col-md-2"></div>
                                    </div>
                                </div>
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">电子邮箱</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="email" name="email" type="text" class="form-control" placeholder="请输入电子邮箱" value={{email}}>
                                        </div>
                                        <div class="col-md-2"></div>
                                   </div>
                                </div>
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">联系方式</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="请输入联系方式" value={{phone}}>
                                        </div>
                                        <div class="col-md-2"></div>
                                   </div>
                                </div>
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">过期日期</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input  id="expire_date" name="expire_date" type="text" disabled class="form-control datepicker" placeholder="yyyy/mm/dd" id="datepicker" value={{expire_date}}>
                                                <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2"></div>
                                   </div>
                                </div>
                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">用户状态</label>
                                        </div>
                                       <div class="col-md-8">
                                            <select class="form-control select" id="status" name="status" disabled>
                                                {% if status=='1' %}
                                                    <option value="1" selected = "selected">启用</option>
                                                    <option value="0">禁用</option>
                                                {% end %}
                                                {% if status=='0' %}
                                                    <option value="1" >启用</option>
                                                    <option value="0" selected = "selected">禁用</option>
                                                {% end %}
                                            </select>
                                       </div>
                                       <div class="col-md-2"></div>
                                   </div>
                               </div>

                               <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-2 control-label">用户角色</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select multiple="multiple" class="form-control" id="sele_role_priv" name="roles" >
                                              {% for var in user_roles %}
                                                 <option value={{var[0]}} >{{var[1]}}</option>
                                              {% end %}
                                            </select>
                                        </div>
                                        <div class="col-md-2"></div>
                                   </div>
                               </div>
                           </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-4"></div>
                         <div class="col-md-4">
                            <div class="input-group">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-info waves-effect waves-light" id='btn-user-change'>变更</button>
                             </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="con-conninfo-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg2">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">数据库连接详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel panel-default panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">开发环境</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table m-0  table-info">
                                                <thead>
                                                    <tr>
                                                        <th>类型</th>
                                                        <th>地址</th>
                                                        <th>用户</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>mysql</td>
                                                        <td>10.2.39.40/3306<br>10.2.39.46/3306</td>
                                                        <td>hopsonone/hopsonone123<br>mall/mall123</td>
                                                    </tr>
                                                    <tr>
                                                        <td>mongo</td>
                                                        <td>10.2.39.41/27016<br>10.2.39.42/27016<br>10.2.39.43/27016</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>redis</td>
                                                        <td>10.2.39.40/7000</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>ElasticSearch</td>
                                                        <td>10.2.39.41/9200<br>10.2.39.42/9200<br>10.2.39.43/9200</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
									</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-border panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">测试环境</h3>
                                    </div>
                                    <div class="panel-body">
                                         <div class="table-responsive">
                                            <table class="table m-0  table-info">
                                                <thead>
                                                    <tr>
                                                        <th>类型</th>
                                                        <th>地址</th>
                                                        <th>用户</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>mysql</td>
                                                        <td>10.2.39.80/3306<br>10.2.39.76/3306</td>
                                                        <td>hopsonone/hopsonone123<br>mall/mall123</td>
                                                    </tr>
                                                    <tr>
                                                        <td>mongo</td>
                                                        <td>10.2.39.71/27016<br>10.2.39.72/27016<br>10.2.39.73/27016</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>redis</td>
                                                        <td>10.2.39.70/6379</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>ElasticSearch</td>
                                                        <td>10.2.39.71/9200<br>10.2.39.72/9200<br>10.2.39.73/9200</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-border panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">预生产环境</h3>
                                    </div>
                                    <div class="panel-body">
                                         <div class="table-responsive">
                                            <table class="table m-0  table-info">
                                                <thead>
                                                    <tr>
                                                        <th>类型</th>
                                                        <th>地址</th>
                                                        <th>用户</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>mysql</td>
                                                        <td>39.107.70.55/3306<br>47.94.208.172/3306</td>
                                                        <td>hopsonone/hopsonone123456<br>mall/mall123</td>
                                                    </tr>
                                                    <tr>
                                                        <td>mongo</td>
                                                        <td>39.107.236.63/27016<br>39.107.70.55/27016<br>47.94.208.172/27016</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>redis</td>
                                                        <td>39.107.236.63/6379</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>ElasticSearch</td>
                                                        <td>39.107.236.63/9200<br>39.107.70.55/9200<br>47.94.208.172/9200</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="custom-modal" class="modal-demo">
            <div class="custom-modal-text">
                <div class="row">
                    <div class="account-content">
                        <div class="text-center m-b-20">
                            <div class="m-b-20">
                                 <input  id="image_path" type="hidden" value="{{file_path}}" >
                                 <input  id="image_file" type="hidden" value="{{file_name}}">
                                 <img id='account-img-id' src="" class="img-circle img-thumbnail thumb-lg" alt="thumbnail">
                            </div>
                            <p class="text-muted m-b-0 font-13">输入密码访问. </p>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input id='unlock_password' class="form-control" type="password" placeholder="">
                            </div>
                        </div>
                        <div class="form-group account-btn text-center m-t-10">
                            <div class="col-xs-12">
                                <button id='unlock-btn' class="btn w-md btn-bordered btn-danger waves-effect waves-light" >解锁</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <p class="text-muted">没有登陆，请先<a href="/" class="text-primary m-l-5"><b>登陆</b></a></p>
                    </div>

                </div>
            </div>
        </div>

        <script>
            var resizefunc = [];
        </script>

         <!-- jQuery  -->
        <script src="{{static_url('assets/js/jquery.min.js')}}"></script>

        <script>
              $.ajax({
                      url: "/tree",
                      type: "post",
                      datatype: "json",
                      async:false,
                      data:{
                           'token': window.localStorage.getItem("token")
                      },
                      success: function (dataSet) {
                         $("#ul-menu").append(dataSet.message);
                         $('#main-container-div').load("/main");
                     }
               });
        </script>

        <script src="{{static_url('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{static_url('assets/js/detect.js')}}"></script>
        <script src="{{static_url('assets/js/fastclick.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.scrollTo.min.js')}}"></script>
        <script src="{{static_url('plugins/switchery/switchery.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>
        <script src="{{static_url('plugins/custombox/js/custombox.min.js')}}"></script>
        <script src="{{static_url('plugins/custombox/js/legacy.min.js')}}"></script>
        <script src="{{static_url('plugins/tooltipster/tooltipster.bundle.min.js')}}"></script>
        <script src="{{static_url('assets/pages/jquery.tooltipster.js')}}"></script>
        <script src="{{static_url('plugins/jquery.filer/js/jquery.filer.js')}}"></script>
        <script src="{{static_url('plugins/jquery.cookie/jquery.cookie.js')}}"></script>
        <script src="{{static_url('plugins/loaders/blockui.min.js')}}"></script>
        <script src="{{static_url('plugins/raphael/raphael-min.js')}}"></script>
        <script src="{{static_url('plugins/morris/morris.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>

        <script src="{{static_url('plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{static_url('plugins/datatables/dataTables.buttons.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/buttons.bootstrap.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/dataTables.responsive.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/responsive.bootstrap.min.js')}}"></script>
        <script src="{{static_url('plugins/datatables/dataTables.scroller.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js')}}"></script>
        <script src="{{static_url('plugins/editors/src-min/ace.js')}}"></script>
        <script src="{{static_url('plugins/editors/src-min/ext-language_tools.js')}}"></script>
        <script src="{{static_url('plugins/editors/src-min/mode-mysql.js')}}"></script>
        <script src="{{static_url('plugins/echarts/echarts.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-maxlength/bootstrap-maxlength.min.js')}}"></script>
        <script src="{{static_url('plugins/morris/morris.min.js')}}"></script>
        <script src="{{static_url('plugins/toastr/toastr.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-treeview/bootstrap-treeview.min.js')}}"></script>
        <script src="{{static_url('plugins/jquery.contextMenu/jquery.contextMenu.min.js') }}"></script>
        <script src="{{static_url('plugins/clipboard/clipboard.min.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js')}}" ></script>
        <script src="{{static_url('plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js')}}"></script>
        <script src="{{static_url('assets/pages/jquery.form-pickers.init.js')}}"></script>
        <script src="{{static_url('assets/pages/jquery.form-datetime-pickers.init.js')}}"></script>
        <script src="{{static_url('assets/js/utils.js')}}"></script>
        <script src="{{static_url('plugins/multiselect/js/jquery.multi-select.js')}}"></script>
        <script src="{{static_url('plugins/bootstrap-select/js/bootstrap-select.min.js')}}" ></script>
        <script src="{{static_url('assets/js/jquery.core.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.app.js')}}"></script>

        <script>
            var tabStatus = new Array;

            function userinfo() {
               $('#con-userinfo-modal').modal({
                  keyboard: false,
                  backdrop:false
               });
             }

            function conninfo() {
               $('#con-conninfo-modal').modal({
                  keyboard: false,
                  backdrop:false
               });
             }

            function logout() {
                  $.ajax({
                          url: "/logout",
                          type: "post",
                          datatype: "json",
                          async:false,
                          data:{
                             'token': window.localStorage.getItem("token")
                          },
                          success: function (dataSet) {
                              if (dataSet.code == 0 ) {
                                   window.localStorage['token'] = ''
                                   window.location.href = '/logout_page'
                              } else {
                                   swal("注销失败", "", "warning")
                              }

                         }
                  })
            }

            function set_user_image(){
                 $('#account-img-id').attr('src',$('#image_path').val()+'/'+$('#image_file').val())
                 $('#user-img-id').attr('src',$('#image_path').val()+'/'+$('#image_file').val())
            }

            function get_privs(){
                 var tmp='';
                 var val='';
                 $('#sele_role_priv option').each(function(){
                   val=$(this).val();
                   tmp=tmp+','+val;
                 });
                 return tmp.substr(1);
            }

            function updateTime() {
                $("#span_time").text(get_curr_time());
            }

            function panalHopson() {
               $('#main-container-div').load("/main");
            }

            function panalEasylife() {
               $('#main-container-div').load("/easylife");
            }

            function panalEasebase() {
               $('#main-container-div').load("/platform");
            }

            function refresh_token() {
                  $.ajax({
                          url: "/refresh_token",
                          type: "post",
                          datatype: "json",
                          async:false,
                          data:{
                             'token': window.localStorage.getItem("token")
                          },
                          success: function (dataSet) {
                            console.log('token updated!')
                            window.localStorage['token'] = dataSet.token
                            window.history.replaceState('','EaseBase1.0','http://'+window.location.host+'/?token='+window.localStorage.getItem("token"))
                         }
                  });
            }

            function is_white_list(url) {
                whilte_list = ['/get/db/order/num',
                               '/get/db/active/num',
                               '/sync_case',
                               '/get/sys/stats/idx',
                               '/backup_case',
                               '/get/sync',
                               '/refresh_token',
                               '/get/db/real/sync'
                ]
                if (whilte_list.indexOf(url)>=0) {
                     return true
                } else {
                     return false
                }
            }

            $('#btn-user-change').click(function(){
                 if ($("#user_detail_filer_input").get(0).files.length>0){
                      var fd = new FormData();
                      files  = $("#user_detail_filer_input").get(0).files;
                      fd.append("file", files[0]);
                      fd.append("username", $('#login').val());
                      $.ajax({
                            url: "/user/add/uploadImage",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            data : fd,
                            async:false,
                            dataType: 'JSON',
                            success: function (dataSet) {
                                if (dataSet.code==0) {
                                    $('#user_detail_image_path').val(dataSet.file_path)
                                    $('#user_detail_image_file').attr('src',dataSet.file_path+'/'+dataSet.file_name)
                                    $.ajax({
                                        url: "/user/edit/save",
                                        type: "post",
                                        datatype: "json",
                                        data: {
                                            userid     : $('#userid').val(),
                                            loginname  : $('#login').val(),
                                            username   : $('#user').val(),
                                            wkno       : $('#wkno').val(),
                                            password   : $('#pass').val(),
                                            gender     : $('#gender').val(),
                                            email      : $('#email').val(),
                                            phone      : $('#phone').val(),
                                            proj_group : $('#proj_group').val(),
                                            dept       : $('#dept').val(),
                                            expire_date: $('#expire_date').val(),
                                            status     : $('#status').val(),
                                            roles      : get_privs(),
                                            file_path  : dataSet.file_path,
                                            file_name  : dataSet.file_name,
                                            query_grants:'1'
                                        },
                                        success: function (dataSet) {
                                            if (dataSet.code==0) {
                                               swal("变更成功", "", "success")
                                            } else {
                                               swal(dataSet.message, "", "error")
                                            }
                                        }
                                     });
                                } else {
                                    console.log('/user/add/uploadImage=', dataSet.message);
                                }
                            }
                       });
                  } else {
                      $.ajax({
                            url: "/user/edit/save",
                            type: "post",
                            datatype: "json",
                            data: {
                                userid     : $('#userid').val(),
                                loginname  : $('#login').val(),
                                username   : $('#user').val(),
                                wkno       : $('#wkno').val(),
                                password   : $('#pass').val(),
                                gender     : $('#gender').val(),
                                email      : $('#email').val(),
                                phone      : $('#phone').val(),
                                proj_group : $('#proj_group').val(),
                                dept       : $('#dept').val(),
                                expire_date: $('#expire_date').val(),
                                status     : $('#status').val(),
                                roles      : get_privs(),
                                file_path  : $('#user_detail_image_path').val(),
                                file_name  : $('#user_detail_image_file').val(),
                                query_grants:'1'
                            },
                            success: function (dataSet) {
                                if (dataSet.code==0) {
                                   swal("变更成功", "", "success")
                                } else {
                                   swal(dataSet.message, "", "error")
                                }
                            }
                         });
                  }

            });

            $(".file").click(function() {
                      let tabId =$(this).attr("id").split('^')[0]
                      let url=$(this).attr("id").split('^')[1]

                      $('#ul_tabs').find('li').each(function() {
                           $(this).removeClass("active")
                      });

                      if (tabStatus[tabId] == true) {
                          $('#'+tabId).parent().addClass("active")
                      } else {
                          $('#ul_tabs').append('<li class="active"><a href="#"  id="'+tabId+'" data-toggle="tab" aria-expanded="false">'+$(this).text()+'<button id="close_'+tabId+'" type="button" class="close" >×</button></a></li>')
                          if (tabStatus[tabId] == undefined) {
                              tabStatus[tabId]=true;
                          }
                      }

                      $('#main-container-div').load(url);

                      $('#'+tabId).on('show.bs.tab', function (e) {
                         id = $(e.target).attr('id')
                         url = '/'+id.replace(/_/g,'/')
                         $('#main-container-div').load(url);
                         //refresh_token ();
                      })

                      $('#'+'close_'+tabId).click(function(){
                         delete tabStatus[tabId]
                         $(this).parent().parent().remove()
                         $('#ul_tabs').find('li:last').addClass("active")
                         lastId=$('#ul_tabs').find('li:last').children().attr('id')
                         if (lastId ==undefined) {
                              $('#main-container-div').load('/main');
                         } else {
                              lastHref= '/'+lastId.replace(/_/g,'/')
                              $('#main-container-div').load(lastHref);
                         }
                      })

                 });

            $('#windows_main').click(function(){
                 $('#main-container-div').load("/main");
            });

            $('#user_detail_filer_input').filer({
                    limit: 1,
                    maxSize: 3,
                    extensions: ['jpg', 'jpeg', 'png', 'gif', 'psd'],
                    changeInput: true,
                    showThumbs: true,
                    addMore: true
             });

            $(document).ready(function() {
                 setInterval("updateTime();",1000);
                 set_user_image();
            });

            $.ajaxSetup({
                 timeout:6000000,
                 data: {
                   'token': window.localStorage.getItem("token"),
                 },
                // headers: {
                //   'token': window.localStorage.getItem("token")
                // }
            });

            $(document).ajaxStart(function() {
                // start_Loader('main-container-div')
                start_Loader('wrapper')

            }).ajaxComplete(function( event, request, settings ) {
                // if (! is_white_list(settings['url'])) {
                //      console.log('flush token!')
                //      //refresh_token()
                // }
            }).ajaxStop(function() {
                // end_Loader('main-container-div')
                end_Loader('wrapper')
            }).ajaxError(function( event, request,options ) {
                if (request.status==401){
                    swal("用户认证已过期!", "", "error")
                } else if (request.status==402) {
                    swal("用户认证失败!", "", "error")
                } else if (request.status==403) {
                    swal("非法的认证信息!", "", "error")
                } else if (request.status==404) {
                    swal("用户认证方式错误!", "", "error")
                } else if (request.status==405) {
                    swal("用户认证算法错误!", "", "error")
                } else if (request.status==502) {
                    swal("用户无权访问此功能!("+options.url+")", "", "error")
                } else if (request.status==503) {
                    swal("用户已下线!", "", "error")
                } else if (request.status==504) {
                    swal("用户通过其它客户端登陆，本会话已注销!", "", "error")
                } else {
                    swal("系统不可用,请联系管理员!", "", "error")
                }
            });

        </script>

    </body>
</html>
