<!DOCTYPE html>
<html class="account-pages-bg">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <!-- App css -->
        <link href="{{static_url('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/core.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/pages.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/menu.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{static_url('assets/css/responsive.css')}}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')}}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')}}"></script>
        <![endif]-->

        <script src="{{static_url('assets/js/modernizr.min.js')}}"></script>

    </head>


    <body class="bg-transparent">

        <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">

                        <div class="wrapper-page">
                            <img src="assets/images/animat-customize-color.gif" alt="" height="120">
                            <h1 style="font-size: 78px;">500</h1>
                            <h3 class="text-uppercase text-danger">Internal Server Error</h3>
                            <p class="text-muted">Why not try refreshing your page? or you can contact <a href="extras-contact.html" class="text-primary">support</a></p>

                            <a class="btn btn-success waves-effect waves-light m-t-20" href="/login"> 返回登陆</a>
                        </div>

                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{{static_url('assets/js/jquery.min.js')}}"></script>
        <script src="{{static_url('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{static_url('assets/js/detect.js')}}"></script>
        <script src="{{static_url('assets/js/fastclick.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.blockUI.js')}}"></script>
        <script src="{{static_url('assets/js/waves.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.slimscroll.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.scrollTo.min.js')}}"></script>

        <!-- App js -->
        <script src="{{static_url('assets/js/jquery.core.js')}}"></script>
        <script src="{{static_url('assets/js/jquery.app.js')}}"></script>

    </body>
</html>