<!DOCTYPE html>
<html class="account-pages-bg">
<head>
    <meta charset="utf-8">
    <link href="{{static_url('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/core.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/icons.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/pages.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/menu.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('assets/css/responsive.css')}}" rel="stylesheet" type="text/css"/>
    <script src="{{static_url('assets/js/modernizr.min.js')}}"></script>
</head>
<body class="bg-transparent">
<!-- HOME -->
<section>
    <div class="container-alt">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="wrapper-page">
                    <img src="{{static_url('assets/images/animat-search-color.gif')}}" alt="" height="120">
                    <h2 class="text-uppercase text-danger">页面未找到</h2>
                    <span class="text-muted">看起来你好像发生错误了。<span
                            style='color:cornflowerblue'>可能是在其它地方登陆了</span>，别担心即使是最优秀的人也会遇到这种情况。你可能想要检查你的网络连接。这里有一个小提示，可能会帮助你回到正轨。</p>
                        <a class="btn btn-success waves-effect waves-light m-t-20" href="/login"> 返回登陆</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="{{static_url('assets/js/jquery.min.js')}}"></script>
<script src="{{static_url('assets/js/bootstrap.min.js')}}"></script>
<script src="{{static_url('assets/js/detect.js')}}"></script>
<script src="{{static_url('assets/js/fastclick.js')}}"></script>
<script src="{{static_url('assets/js/jquery.blockUI.js')}}"></script>
<script src="{{static_url('assets/js/waves.js')}}"></script>
<script src="{{static_url('assets/js/jquery.slimscroll.js')}}"></script>
<script src="{{static_url('assets/js/jquery.scrollTo.min.js')}}"></script>

<!-- App js -->
<script src="{{static_url('assets/js/jquery.core.js')}}"></script>
<script src="{{static_url('assets/js/jquery.app.js')}}"></script>

</body>
</html>