<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>功能变更</title>
</head>
<body>
  <p></p>
   <div class="col-md-6">
       <form class="form-horizontal" role="form">
           <input  id="funcid" type="hidden" value={{funcid}} >
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_priv_id">*</span>模块名称</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="priv_id" >
                       <option value='' selected = "selected">......</option>
                        {% for var in menus %}
                          {% if priv_id==var[0]%}
                             <option value={{var[0]}} selected = "selected" >{{var[1]}}</option>
                          {% else %}
                             <option value={{var[0]}} >{{var[1]}}</option>
                          {% end if %}
                        {% end %}
                    </select>
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_func_name">*</span>功能名称</label>
                </div>
                <div class="col-md-10">
                    <input id="func_name"  type="text" class="form-control" placeholder="请输入功能名称" value="{{func_name}}">
                </div>
           </div>
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_func_url">*</span>功能URL</label>
                </div>
                <div class="col-md-10">
                    <input id="func_url"  type="text" class="form-control" placeholder="请输入功能URL" value="{{func_url}}">
                </div>
           </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_func_status">*</span>功能状态</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="status" name="func_status">
                          {% if status=='1' %}
                                <option value="1" selected = "selected">启用</option>
                                <option value="0">禁用</option>
                          {% end %}

                          {% if status=='0' %}
                                <option value="0" selected = "selected">禁用</option>
                                <option value="1">启用</option>
                          {% end %}
                    </select>
               </div>
           </div>
           <br>
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                   <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">变更</button>
                   <button id="return" type="button" class="btn btn-custom waves-effect waves-light btn-md">返回</button>
                </div>
           </div>
       </form>
    </div>

    <script>
        $(document).ready(function() {
            set_selected()
        });

        $('#return').on('click', function() {
           $('#main-container-div').load('/func/change');
        });

         $("#save").click(function () {
              $.ajax({
                url: "/func/edit/save",
                type: "post",
                datatype: "json",
                data: {
                    funcid     : $('#funcid').val(),
                    func_name  : $('#func_name').val(),
                    func_url   : $('#func_url').val(),
                    priv_id    : $('#priv_id').val(),
                    status     : $('#status').val(),
                },
                success: function (dataSet) {
                    if (dataSet.code==0) {
                       swal("变更成功", "", "success")
                    } else {
                       swal(dataSet.message, "", "error")
                    }
                },
             });
        });
   </script>
</body>

</html>