<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        #ace_plain_text,#ace_cipher_text,#ace_plain_text2,#ace_cipher_text2{
           height:200px;
        }
    </style>
</head>
<body>
     <p></p>
     <div class="row">
         <div class="col-md-3">
             <div class="input-group">
                 <span class="input-group-addon">数据库环境</span>
                 <select class="form-control select" id="db_env" >
                    <option value='' selected = "selected">.....</option>
                    {% for var in dm_env_type %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
      </div>
     <p></p>

     <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills m-b-30 pull-left">
                <li id='id_encrypt' class="active">
                    <a href="#encrypt" data-toggle="tab" aria-expanded="true">数据加密</a>
                </li>
                <li id='id_decrypt' class="">
                    <a href="#decrypt" data-toggle="tab" aria-expanded="false">数据解密</a>
                </li>
            </ul>
            <div class="tab-content br-n pn">
                <div id="encrypt" class="tab-pane active">
                    <div class="row"></div>
                    <div class="row">
                        <div class="row">
                           <div class="col-md-12">
                                <div class="col-md-1" align="right">
                                    <label><span>明文</span></label>
                                </div>
                                <div class="col-md-9">
                                    <div id='ace_plain_text'></div>
                                </div>
                                <div class="col-md-1 align=left">
                                    <button type="button"  id='encrypt_btn' class="btn waves-effect waves-light btn-primary"><i class="ion-locked"></i></button>
                                </div>
                            </div>
                         </div>
                         <br>
                         <div class="row">
                           <div class="col-md-12">
                                <div class="col-md-1" align="right">
                                    <label><span>密文</span></label>
                                </div>
                                <div class="col-md-9">
                                    <div id='ace_cipher_text'></div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div id="decrypt" class="tab-pane">
                    <div class="row"></div>
                    <div class="row">
                        <div class="row">
                           <div class="col-md-12">
                                <div class="col-md-1" align="right">
                                    <label><span>密文</span></label>
                                </div>
                                <div class="col-md-9">
                                    <div id='ace_cipher_text2'></div>
                                </div>
                                <div class="col-md-1 align=left">
                                    <button type="button"  id='decrypt_btn' class="btn waves-effect waves-light btn-primary"><i class="ion-locked"></i></button>
                                </div>
                            </div>
                         </div>
                         <br>
                         <div class="row">
                           <div class="col-md-12">
                                <div class="col-md-1" align="right">
                                    <label><span>明文</span></label>
                                </div>
                                <div class="col-md-9">
                                    <div id='ace_plain_text2'></div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

     <script>

        function set_editor(p_editor,p_readonly) {
              var editor = ace.edit(p_editor);
              editor.setTheme("ace/theme/xcode");
              editor.getSession().setMode("ace/mode/sql");
              editor.setShowPrintMargin(false);
              editor.setFontSize(16);
              editor.getSession().setUseSoftTabs(true);
              if (p_readonly) {
                  editor.setReadOnly(true);
              } else {
                  editor.setReadOnly(false);
              }
       }

        function get_value(p_editor) {
             var editor = ace.edit(p_editor);
             v_sql=editor.session.getTextRange(editor.getSelectionRange())
             if(v_sql == '') {
                v_sql=editor.session.getValue()
             }
             return v_sql
        }

        function set_value(p_editor,p_value)  {
            var editor = ace.edit(p_editor);
            editor.setValue('')
            editor.insert(p_value);
        }

        $('#encrypt_btn').on('click',function () {
             $.ajax({
                 url: "/dbtools/cipher/encrypt",
                 type: "post",
                 datatype: "json",
                 data: {
                     db_env: $('#db_env').val(),
                     plain_text: get_value('ace_plain_text'),
                 },
                 success: function (dataSet) {
                     set_value('ace_cipher_text',dataSet['message'])
                 },
             })
         })

        $('#decrypt_btn').on('click',function () {
             $.ajax({
                 url: "/dbtools/cipher/decrypt",
                 type: "post",
                 datatype: "json",
                 data: {
                     db_env: $('#db_env').val(),
                     cipher_text: get_value('ace_cipher_text2'),
                 },
                 success: function (dataSet) {
                     set_value('ace_plain_text2',dataSet['message'])
                 },
             })
         })

        $(document).ready(function() {
            set_editor('ace_plain_text',false);
            set_editor('ace_cipher_text',true);
            set_editor('ace_plain_text2',true);
            set_editor('ace_cipher_text2',false);
        });

   </script>
</body>

</html>