<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        #example{
            width: 100% !important;
        }
    </style>
</head>
<body>
    <p></p>
    <div class="row">
         <div class="col-md-3">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span>源实例</span></label>
                    </div>
                    <div class="col-md-10">
                        <select  class="form-control select" id="sour_db_server" >
                            <option value='' selected = "selected">...</option>
                            {% for var in db_server %}
                               <option value={{var[0]}}>{{var[1]}}</option>
                            {% end %}
                        </select>
                   </div>
               </div>
         </div>
         <div class="col-md-2">
           <div class="form-group">
                <div>
                    <label class="col-md-3 control-label">源库名</label>
                </div>
                <div class="col-md-9">
                     <select  class="form-control select" id="sour_schema" >
                         <option value='' selected = "selected">......</option>
                     </select>
                </div>
           </div>
        </div>
        <div class="col-md-3">
               <div class="form-group">
                    <div>
                        <label class="col-md-3 control-label">目标实例</label>
                    </div>
                   <div class="col-md-9">
                        <select  class="form-control select" id="desc_db_server" >
                            <option value='' selected = "selected">......</option>
                            {% for var in db_server %}
                              <option value={{var[0]}} >{{var[1]}}</option>
                            {% end %}
                        </select>
                   </div>
               </div>
          </div>
          <div class="col-md-2">
               <div class="form-group">
                    <div>
                        <label class="col-md-3 control-label">目标库</label>
                    </div>
                    <div class="col-md-9">
                         <select class="form-control select" id="desc_schema" >
                             <option value='' selected = "selected">......</option>
                         </select>
                    </div>
               </div>
          </div>

          <div class="col-md-2">
               <div class="form-group">
                    <button id="compare_btn" type="button" class="btn btn-custom waves-effect waves-light btn-md">比较</button>
               </div>
          </div>
      </div>

      <p></p>
      <hr>
      <div id="div-tab">
           <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"  ></table>
      </div>
    </div>

   <script>

        $("#compare_btn").click(function() {
              $.ajax({
                  url: "/dbtools/_compare",
                  type: "post",
                  datatype: "json",
                  data:{
                      sour_db_server: $('#sour_db_server').val(),
                      sour_schema   : $('#sour_schema').val(),
                      desc_db_server: $('#desc_db_server').val(),
                      desc_schema   : $('#desc_schema').val(),
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          ordering   :false,
                          scrollY    :true,
                          scrollX    :true,
                          scrollCollapse: true,
                          paging     : true,
                          bAutoWidth : true,
                          iDisplayLength: 14,
                          data: dataSet.message,
                          columns: [
                            { "title": "库名" ,"visible":true},
                            { "title": "表名" },
                            { "title": "列名"},
                            { "title": "可空" },
                            { "title": "列类型" },
                          ],
                         "language": get_languages()
                         });
                  }
              })
         });

        $('#sour_db_server').change(function() {
            if ($('#sour_db_server').val()!='') {
                $.ajax({
                      url: "/get_database",
                      type: "post",
                      datatype: "json",
                      async:false,
                      data:{
                          dbid : $('#sour_db_server').val(),
                      },
                      success: function (dataSet) {
                         $("#sour_schema").empty();
                         $("#sour_schema").append("<option value=''>...</option>");
                         for(i=0;i<dataSet['message'].length;i++){
                              var val  = dataSet['message'][i];
                              var text = dataSet['message'][i];
                              $("#sour_schema").append("<option value='"+val+"'>"+text+"</option>");
                         }
                         // $("#sour_schema").selectpicker('refresh')
                      }
                });
            } else {
                $("#sour_schema").empty();
                $("#sour_schema").append("<option value=''>...</option>");
            }
        });

         $('#desc_db_server').change(function() {
            if ($('#desc_db_server').val()!='') {
                $.ajax({
                      url: "/get_database",
                      type: "post",
                      datatype: "json",
                      async:false,
                      data:{
                          dbid : $('#desc_db_server').val(),
                      },
                      success: function (dataSet) {
                         $("#desc_schema").empty();
                         $("#desc_schema").append("<option value=''>...</option>");
                         for(i=0;i<dataSet['message'].length;i++){
                              var val  = dataSet['message'][i];
                              var text = dataSet['message'][i];
                              $("#desc_schema").append("<option value='"+val+"'>"+text+"</option>");
                         }
                         // $("#desc_schema").selectpicker('refresh')
                      }
                });
            } else {
                $("#sour_schema").empty();
                $("#sour_schema").append("<option value=''>...</option>");
            }
        });

        $(document).ready(function() {
            // $("#sour_db_server").selectpicker('refresh')
            // $("#sour_schema").selectpicker('refresh')
            // $("#desc_db_server").selectpicker('refresh')
            // $("#desc_schema").selectpicker('refresh')

        });

   </script>
</body>

</html>