<!DOCTYPE html>
<html>
<head>
    <title>实时同步克隆</title>
    <style>
       #example{
            width: 100% !important;
            font-size:13px;
       }
      .modal-lg {
            width:75%;
            height:65%;
            margin-left:350px;
            margin-top:0px;
       }
    </style>
</head>
<body>
    <p></p>
    <form class="form-horizontal" role="form">
       <input  id="sync_id" type="hidden"  value={{sync_id}} >

       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_sync_server">*</span>同步服务器</label>
                    </div>
                   <div class="col-md-10">
                        <select class="form-control select" id="sync_server" >
                             {% for var in sync_server %}
                                   {%  if var[0]==server_id %}
                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                   {% else %}
                                       <option value={{var[0]}}>{{var[1]}}</option>
                                   {% end %}
                             {% end %}
                        </select>
                   </div>
               </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sour_db_server">*</span>源端数据库</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="sour_db_server" >
                        {% for var in db_server %}
                               {%  if var[0]==sour_db_server %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                        {% end %}
                    </select>
               </div>
            </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_desc_db_server">*</span>目标数据库</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="desc_db_server" >
                        {% for var in db_server_doris %}
                               {%  if var[0]==desc_db_server %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                        {% end %}
                    </select>
               </div>
           </div>
         </div>
       </div>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span>*</span>集群名称</label>
                </div>
                <div class="col-md-10">
                    <input id="ch_cluster_name"  type="text" class="form-control" placeholder="请输入集群名称" value="{{ch_cluster_name}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span>*</span>日志数据库</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="sour_db_log_server" >
                        <option value='' selected = "selected">......</option>
                        {% for var in db_server %}
                               {%  if var[0]==sour_db_log_server %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                        {% end %}
                    </select>
               </div>
            </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span>*</span>日志库名称</label>
                </div>
                <div class="col-md-10">
                    <input id="log_db_name"  type="text" class="form-control" placeholder="请输入日志库名称" value="{{log_db_name}}">
                </div>
           </div>
         </div>
       </div>

       <div class="row">
          <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_tag">*</span>同步标识号</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_tag"  type="text" class="form-control" placeholder="请输入同步标识号" value="{{sync_tag}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_task_desc">*</span>任务描述</label>
                </div>
                <div class="col-md-10">
                    <input id="task_desc"  type="text" class="form-control"  placeholder="请输入任务描述" value="{{task_desc}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_ywlx">*</span>业务类型</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="sync_ywlx" >
                        {% for var in dm_sync_ywlx %}
                               {%  if var[0]==sync_ywlx %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                        {% end %}
                    </select>
               </div>
            </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_data_type">*</span>数据方向</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="sync_data_type" >
                        {% for var in dm_sync_data_type %}
                               {%  if var[0]==sync_data_type %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                        {% end %}
                    </select>
               </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_script_base">*</span>同步主目录</label>
                </div>
                <div class="col-md-10">
                    <input id="script_base"  type="text" class="form-control" placeholder="请输入同步主目录" value="{{script_base}}">
                </div>
           </div>
         </div>
       </div>

       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_script_name">*</span>同步脚本名</label>
                </div>
                <div class="col-md-10">
                    <input id="script_name"  type="text" class="form-control" placeholder="请输入备份脚本名" value="{{script_name}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_run_time">*</span>检测时间</label>
                </div>
                <div class="col-md-10">
                    <input id="run_time"  type="text" class="form-control" placeholder="请输入备份运行时间" value="{{run_time}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_python3_home">*</span>PYTHON3主目录</label>
                </div>
                <div class="col-md-10">
                    <input id="python3_home"  type="text" class="form-control" placeholder="请输入PYTHON3主目录" value="{{python3_home}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_tables">*</span>同步表列表</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_tables"  type="text" class="form-control" readonly placeholder="请输入同步表" value="{{sync_tables}}">
                </div>
           </div>
         </div>
         <div class="col-md-1">
            <div class="form-group">
                <div>
                    <button type="button" id='mdi-view-list' class="btn btn-xs waves-effect waves-light"  onclick=showTabDetail()><i class="mdi mdi-view-list"></i></button>
                </div>
            </div>
          </div>
       </div>

       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span>*</span>目标库前缀</label>
                </div>
                <div class="col-md-10">
                    <input id="desc_db_prefix"  type="text" class="form-control" placeholder="请输入目标库前缀" value="{{desc_db_prefix}}">
                </div>
           </div>
         </div>
       </div>

       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_batch_size">*</span>全量批大小</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_batch_size"  type="text" class="form-control" placeholder="请输入全量批大小" value="{{sync_batch_size}}">
                </div>
           </div>
         </div>
       </div>

       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_batch_size_incr">*</span>增量批大小</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_batch_size_incr"  type="text" class="form-control" placeholder="请输入增量批大小" value="{{sync_batch_size_incr}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
        <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_sync_gap">*</span>同步间隔</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_gap"  type="text" class="form-control" placeholder="请输入同步间隔"  value="{{sync_gap}}" >
                </div>
           </div>
        </div>
       </div>
       <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span>*</span>进程数</label>
                    </div>
                    <div class="col-md-10">
                        <input id="process_num"  type="text" class="form-control" placeholder="进程数"  value="{{process_num}}" >
                    </div>
               </div>
            </div>
       </div>
       <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span>*</span>配置更新间隔</label>
                    </div>
                    <div class="col-md-10">
                        <input id="apply_timeout"  type="text" class="form-control" placeholder="请输入配置更新间隔"  value="{{apply_timeout}}" >
                    </div>
               </div>
            </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_api_server">*</span>API服务器</label>
                </div>
                <div class="col-md-10">
                    <input id="api_server"  type="text" class="form-control" placeholder="请输入API服务器" value="{{api_server}}">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_status">*</span>任务状态</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control select" id="status" name="status">
                        {% if status=='1' %}
                           <option value="1" selected = "selected">启用</option>
                           <option value="0">禁用</option>
                        {% end %}

                        {% if status=='0' %}
                            <option value='0' selected = "selected">禁用</option>
                            <option value="1">启用</option>
                        {% end %}
                    </select>
                </div>
            </div>
         </div>
       </div>
       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_sync_real_status">*</span>任务控制</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="real_sync_status" >
                            <option value='' selected = "selected">......</option>
                            {% for var in dm_real_sync_status %}
                                {%  if var[0]==real_sync_status %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                                {% end %}
                            {% end %}
                        </select>
                   </div>
               </div>
           </div>
       </div>

       <br>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                  <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
                  <button id="return" type="button" class="btn btn-custom waves-effect waves-light btn-md">返回</button>
                </div>
           </div>
         </div>
       </div>
    </form>

    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4   id='ds_query_title' class="modal-title">同步表配置</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                     <div class="col-md-6">
                         <div class="input-group">
                            <input  id="ds_user_id" type="hidden"  >
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="query_sync_tab_name"   class="form-control" placeholder="请输入表名">
                             <span class="input-group-btn">
                               <button type="button"  id='query_btn_sync_tab' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                         </div>
                     </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-7">
                        <div id='div-tab-panal' class="panel panel-border panel-primary" >
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <table id="example" style="white-space: nowrap;" class="table table-striped table-bordered nowrap" ></table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div id='div-add-panal' class="panel panel-border panel-primary" >
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                   <input type="hidden"  id="sync_tab_id" values="-1"/>
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-3 control-label"><span>*</span>源库名</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select" id="mysql_db_name" >
                                                <option value='' selected = "selected">......</option>
                                            </select>
                                       </div>
                                   </div>
                                </div>
                                <br>
                                <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-3 control-label"><span>*</span>表名称</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select  class="form-control select" id="sync_tab_name" >
                                                <option value='*' selected = "selected">*</option>
                                            </select>
                                       </div>
                                   </div>
                                </div>
                               <br>
                                <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-3 control-label"><span>*</span>分区列</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select" id="desc_db_part_col" >
                                                <option value='auto' selected = "selected">auto</option>
                                            </select>
                                       </div>
                                   </div>
                                </div>
                                <br>
                                <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-3 control-label"><span>*</span>目标库</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select" id="desc_db_name" >
                                                <option value='auto' selected = "selected">auto</option>
                                            </select>
                                       </div>
                                   </div>
                                </div>
                                <br>
                                <div class="row">
                                   <div class="form-group">
                                        <div>
                                            <label class="col-md-3 control-label"><span>*</span>状态</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select" id="tab_config_status">
                                                 <option value="1" selected = "selected">启用</option>
                                                 <option value="0">禁用</option>
                                           </select>
                                       </div>
                                   </div>
                                </div>
                                <br>
                                <br>
                                <div class="col-sm-offset-5 col-sm-5">
                                     <input  id='save_sync_tab_config' class="btn btn-custom waves-effect waves-light btn-md" type='button' value="保存"/>
                                     <input  id='upd_sync_tab_config' class="btn btn-custom waves-effect waves-light btn-md" type='button' value="变更"/>
                                </div>
                            </div>
                        </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

    <script>
        var sour_ds='';
        var desc_ds='';

        String.prototype.format = function () {
            var values = arguments;
            return this.replace(/\{(\d+)\}/g, function (match, index) {
                if (values.length > index) {
                    return values[index];
                } else {
                    return "";
                }
            });
        };

        function showTabDetail() {
             if ($('#sync_tag').val()=='') {
                  swal("同步标识不能为空!", "", "error")
                  $('#sync_tag').focus();
                  return;
             }
             if (!get_ds()) {
                 return;
             }

             if (!get_doris_ds()) {
                 return;
             }

             $('.modal').on('show.bs.modal', centerModals);
             $(window).on('resize', centerModals);
             $('#con-close-modal').modal({
                 keyboard: false,
                 backdrop:false
             });
             set_mysql_database();
             set_sync_tabs();
             set_desc_database();
             query_tab_sync();
        }

        function init_tab_config(){
           $("#mysql_db_name").val('');
           $("#sync_tab_name").val('');
           $('#desc_db_part_col').val('')
           $("#desc_db_name").val('');
        }

        function get_ds() {
           $.ajax({
                  url: "/ds/query/id",
                  type: "post",
                  datatype: "json",
                  async   :false,
                  data:{
                      dsid  :$('#sour_db_server').val(),
                  },
                  success: function (dataSet) {
                      sour_ds = dataSet;
                      console.log('sour_ds=',sour_ds);
                  },
             });

            if (sour_ds['proxy_status'] == '0') {
                swal("数据库代理未启用!", "", "error")
                return false;
            } else {
                return true;
            }
        }

        function get_doris_ds() {
           $.ajax({
                  url: "/ds/query/id",
                  type: "post",
                  datatype: "json",
                  async   :false,
                  data:{
                      dsid  :$('#desc_db_server').val(),
                  },
                  success: function (dataSet) {
                      desc_ds = dataSet;
                      console.log('desc_ds=',desc_ds);
                  },
             });

            if (desc_ds['proxy_status'] == '0') {
                swal("doris数据库代理未启用!", "", "error")
                return false;
            } else {
                return true;
            }
        }

        function set_mysql_database() {
           $.ajax({
                  url: "get_mysql_databases",
                  type: "post",
                  datatype: "json",
                  data:{
                      db_ip       : sour_ds['ip'],
                      db_port     : sour_ds['port'],
                      db_service  : sour_ds['service'],
                      db_user     : sour_ds['user'],
                      db_pass     : sour_ds['password'],
                      proxy_server: sour_ds['proxy_server']
                  },
                  success: function (dataSet) {
                     $("#mysql_db_name").empty();
                     $("#mysql_db_name").append("<option value=''>...</option>");
                     for(i=0;i<dataSet['msg'].length;i++){
                          var val  = dataSet['msg'][i][0]
                          $("#mysql_db_name").append("<option value='"+val+"'>"+val+"</option>");
                     }
                  },
             })
        }

        function set_sync_tabs() {
           $.ajax({
                  url: "get_mysql_tables",
                  type: "post",
                  datatype: "json",
                  async:false,
                  data:{
                      db_ip       : sour_ds['ip'],
                      db_port     : sour_ds['port'],
                      db_service  : $("#mysql_db_name").val(),
                      db_user     : sour_ds['user'],
                      db_pass     : sour_ds['password'],
                      proxy_server: sour_ds['proxy_server']
                  },
                  success: function (dataSet) {
                     $("#sync_tab_name").empty();
                     $("#sync_tab_name").append("<option value='*'>*</option>");
                     for(i=0;i<dataSet['msg'].length;i++){
                          var val  = dataSet['msg'][i][2]
                          $("#sync_tab_name").append("<option value='"+val+"'>"+val+"</option>");
                     }
                  },
             })
        }

        function set_sync_tab_part_col() {
             $.ajax({
                  url: "/get_incr_col",
                  type: "post",
                  datatype: "json",
                  data:{
                      dbid     : $('#sour_db_server').val(),
                      db_name  : $('#mysql_db_name').val(),
                      tab_name : $('#sync_tab_name').val()
                  },
                  success: function (dataSet) {
                      $("#desc_db_part_col").empty();
                      $("#desc_db_part_col").append("<option value='auto'>auto</option>");
                      for(i=0;i<dataSet['message'].length;i++){
                          var val  = dataSet['message'][i][0]
                          $("#desc_db_part_col").append("<option value='"+val+"'>"+val+"</option>");
                      }
                  },
             })
        }

        function set_desc_database() {
           console.log('set_desc_database->ds=',desc_ds)
           if (desc_ds['db_type'] == '9') {
              $.ajax({
                  url: "/get_ck_databases",
                  type: "post",
                  datatype: "json",
                  data:{
                      db_ip       : desc_ds['ip'],
                      db_port     : desc_ds['port'],
                      db_service  : desc_ds['service'],
                      db_user     : desc_ds['user'],
                      db_pass     : desc_ds['password'],
                      proxy_server: desc_ds['proxy_server']
                  },
                  success: function (dataSet) {
                     $("#desc_db_name").empty();
                     $("#desc_db_name").append("<option value='auto'>auto</option>");
                     for(i=0;i<dataSet['msg'].length;i++){
                          var val  = dataSet['msg'][i][0]
                          $("#desc_db_name").append("<option value='"+val+"'>"+val+"</option>");
                     }
                  },
             })
           }

          if (desc_ds['db_type'] == '0') {
              $.ajax({
                  url: "/get_mysql_databases",
                  type: "post",
                  datatype: "json",
                  data:{
                      db_ip       : desc_ds['ip'],
                      db_port     : desc_ds['port'],
                      db_service  : desc_ds['service'],
                      db_user     : desc_ds['user'],
                      db_pass     : desc_ds['password'],
                      proxy_server: desc_ds['proxy_server']
                  },
                  success: function (dataSet) {
                     $("#desc_db_name").empty();
                     $("#desc_db_name").append("<option value='auto'>auto</option>");
                     for(i=0;i<dataSet['msg'].length;i++){
                          var val  = dataSet['msg'][i][0]
                          $("#desc_db_name").append("<option value='"+val+"'>"+val+"</option>");
                     }
                  },
             })
           }

        }

        // function set_desc_database() {
        //    $.ajax({
        //           url: "/get_ck_databases",
        //           type: "post",
        //           datatype: "json",
        //           data:{
        //               db_ip       : desc_ds['ip'],
        //               db_port     : desc_ds['port'],
        //               db_service  : desc_ds['service'],
        //               db_user     : desc_ds['user'],
        //               db_pass     : desc_ds['password'],
        //               proxy_server: desc_ds['proxy_server']
        //           },
        //           success: function (dataSet) {
        //              $("#desc_db_name").empty();
        //              $("#desc_db_name").append("<option value='auto'>auto</option>");
        //              for(i=0;i<dataSet['msg'].length;i++){
        //                   var val  = dataSet['msg'][i][0]
        //                   $("#desc_db_name").append("<option value='"+val+"'>"+val+"</option>");
        //              }
        //           },
        //      })
        // }

        function syn_tab_edit(row){
           v =unescape(row).split(',')
           console.log('v=',v)
           $('#sync_tab_id').val(v[0]);
           $("#mysql_db_name").val(v[1]);
           if (!get_ds()) {
                 return;
           }
           if (!get_doris_ds()) {
                 return;
           }
           set_sync_tabs();
           $("#sync_tab_name").val(v[2]);
           $("#desc_db_name").val(v[3]);
           $("#tab_config_status").val(v[4]);

        }

        function syn_tab_del(row){
             v =unescape(row).split(',')
             var tab = v[1]+'.'+v[2]+'.'+v[3]
             swal({
                title: "确认要删除吗?",
                text: "表["+tab+"]删除后无法进行数据同步了！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d93030",
                confirmButtonText: "是, 删除!",
                cancelButtonText:  "否, 取消!",
                closeOnConfirm: false,
                closeOnCancel: false
             }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                          url: "/sync/add/del/tab",
                          type: "post",
                          datatype: "json",
                          data:{
                              'sync_id' : v[0],
                          },
                          success: function (dataSet) {
                                if (dataSet.code==0) {
                                   swal("删除成功", "", "success")
                                   init_tab_config();
                                   query_tab_sync();
                                } else {
                                   swal(dataSet.message, "", "error")
                                }
                          },
                    })

                } else {
                    swal("已取消", "表["+tab+"]未删除！", "error");
                }
            });
        }

        function query_tab_sync(){
            $.ajax({
                  url: "/sync/_query/tab/real",
                  type: "post",
                  async   :false,
                  datatype: "json",
                  data:{
                      'sync_tag' : $('#sync_tag').val(),
                      'sync_tab' : $('#query_sync_tab_name').val()
                  },
                  success: function (dataSet) {
                         $('#example').DataTable( {
                              "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                              "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                              destroy    :true,
                              async      :false,
                              scrollY    :"500px",
                              scrollX    :false,
                              scrollCollapse: true,
                              paging     :true,
                              iDisplayLength: 8,
                              responsive: true,
                              data: dataSet,
                              columns: [
                                   { "title": "标识","width":"5%" },
                                   { "title": "源库名","width":"10%" },
                                   { "title": "表名称","width":"15%" },
                                   { "title": "分区列","width":"15%" },
                                   { "title": "目标库","width":"15%" },
                                   { "title": "状态","width":"15%" },
                                   {
                                        "title":"操作",
                                        "width":"10%",
                                         "render": function(data,type,row,meta) {
                                           var edit  = '&nbsp;'+'<button class="btn btn-xs btn-icon waves-effect btn-default m-b-5"  onclick="syn_tab_edit(\''+escape(row)+'\');" > <i class="ion-edit"></i> </button> ' + '&nbsp;'
                                           var del   = '&nbsp;'+'<button class="btn btn-xs btn-icon waves-effect btn-default m-b-5"  onclick="syn_tab_del(\''+escape(row)+'\');"> <i class="ion-close"></i> </button> ' + '&nbsp;'
                                           return edit+del;
                                        }
                                   },
                              ],
                             columnDefs: [
                             {
                                targets: 5,
                                render: function(data, type, row, meta){
                                    if (row[5]=='1') {
                                         msg ='&nbsp;启用&nbsp;'
                                         return msg
                                    } else {
                                         msg ='&nbsp;禁用&nbsp;'
                                         return msg
                                    }
                                }
                             }
                         ],
                              "language": get_languages()
                     });
                  },
             })
        }

        $('#save_sync_tab_config').click(function(){

            if ($('#mysql_db_name').val()=='') {
                  swal("源库名不能为空!", "", "error")
                  return;
            }

            if ($('#sync_tab_name').val()=='') {
                  swal("同步表不能为空!", "", "error")
                  return;
            }

            if ($('#desc_db_name').val()=='') {
                  swal("目标库不能为空!", "", "error")
                  return;
            }

            $.ajax({
                  url: "/sync/add/save/tab",
                  type: "post",
                  datatype: "json",
                  data:{
                      'sync_id'      : '-1',
                      'sync_tag'     : $('#sync_tag').val(),
                      'db_name'      : $('#mysql_db_name').val(),
                      'schema_name'  : $('#desc_db_name').val(),
                      'tab_name'     : $('#sync_tab_name').val(),
                      'tab_status'   : $("#tab_config_status").val(),
                      'sync_cols'    : '',
                      'sync_incr_col': '',
                      'sync_time'    : '',
              },
              success: function (dataSet) {
                if (dataSet.code==0) {
                   swal("保存成功", "", "success")
                   query_tab_sync();
                   init_tab_config();
                } else {
                   swal(dataSet.message, "", "error")
                }
              },
           })

        });

        $('#upd_sync_tab_config').click(function(){

            if ($('#mysql_db_name').val()=='') {
                  swal("源库名不能为空!", "", "error")
                  return;
            }

            if ($('#sync_tab_name').val()=='') {
                  swal("同步表不能为空!", "", "error")
                  return;
            }

            if ($('#desc_db_name').val()=='') {
                  swal("目标库不能为空!", "", "error")
                  return;
            }

            $.ajax({
                  url: "/sync/add/save/tab",
                  type: "post",
                  datatype: "json",
                  data:{
                      'sync_id'      : $('#sync_tab_id').val(),
                      'sync_tag'     : $('#sync_tag').val(),
                      'db_name'      : $('#mysql_db_name').val(),
                      'schema_name'  : $('#desc_db_name').val(),
                      'tab_name'     : $('#sync_tab_name').val(),
                      'tab_status'   : $("#tab_config_status").val(),
                      'sync_cols'    : '',
                      'sync_incr_col': '',
                      'sync_time'    : '',
              },
              success: function (dataSet) {
                if (dataSet.code==0) {
                   swal("更新成功", "", "success")
                   query_tab_sync();
                   init_tab_config();
                } else {
                   swal(dataSet.message, "", "error")
                }
              },
           })

        });

        $('#query_btn_sync_tab').click(function(){
            query_tab_sync();
        });

        $("#query_sync_tab_name").bind("input propertychange",function(){
            query_tab_sync();
        });

        $('#sour_db_server').change(function() {
            if ($('#sour_db_server').val()!='') {
                $('#mdi-view-list').attr('disabled',false);
            }
        });

        $('.modal').on('hidden.bs.modal', function () {
               $.ajax({
                  url: "/sync/_query/sync/tabs/real",
                  type: "post",
                  datatype: "json",
                  async   :false,
                  data:{
                      sync_tag  : $('#sync_tag').val()
                  },
                  success: function (dataSet) {
                      console.log('/sync/_query/sync/tabs=',dataSet)
                      if (dataSet=='None') {
                          $('#sync_tables').val('')
                      } else {
                          $('#sync_tables').val(dataSet)
                      }
                  },
             });

        });

        $('#return').on('click', function() {
           $('#main-container-div').load('/sync/change');
        });

        $("#db_server").bind("input propertychange",function(){
            $("#task_desc").val($("#db_server").find("option:selected").text()+'备份')
        });

        $("#save").click(function () {
          console.log(" status:",$('#status').val())
          $.ajax({
            url: "/sync/real/clone/save",
            type: "post",
            datatype: "json",
            data: {
                    sync_id              : $('#sync_id').val(),
                    sync_server          : $('#sync_server').val(),
                    sour_db_server       : $('#sour_db_server').val(),
                    desc_db_server       : $('#desc_db_server').val(),
                    sour_db_log_server   : $('#sour_db_log_server').val(),
                    log_db_name          : $('#log_db_name').val(),
                    sync_tag             : $('#sync_tag').val(),
                    sync_ywlx            : $('#sync_ywlx').val(),
                    sync_data_type       : $('#sync_data_type').val(),
                    script_base          : $('#script_base').val(),
                    script_name          : $('#script_name').val(),
                    run_time             : $('#run_time').val(),
                    task_desc            : $('#task_desc').val(),
                    python3_home         : $('#python3_home').val(),
                    sync_tables          : $('#sync_tables').val(),
                    sync_batch_size      : $('#sync_batch_size').val(),
                    sync_batch_size_incr : $('#sync_batch_size_incr').val(),
                    sync_gap             : $('#sync_gap').val(),
                    process_num          : $('#process_num').val(),
                    apply_timeout        : $('#apply_timeout').val(),
                    api_server           : $('#api_server').val(),
                    status               : $('#status').val(),
                    desc_db_prefix       : $('#desc_db_prefix').val(),
                    ch_cluster_name      : $('#ch_cluster_name').val(),
                    real_sync_status     : $('#real_sync_status').val(),

            },
            success: function (dataSet) {
                console.log(dataSet.code, dataSet.message);
                if (dataSet.code==0) {
                   swal("克隆成功", "", "success")
                } else {
                   swal(dataSet.message, "", "error")
                }
            },
         });
      });

        $('#mysql_db_name').change(function(){
            if ($("#mysql_db_name").val()!='') {
                set_sync_tabs()
            }
        })

         $('#sync_tab_name').change(function() {
            if ($("#sync_tab_name").val()!='') {
                 set_sync_tab_part_col()
            }
        });

        $(document).ready(function() {
           set_selected();
        });

   </script>
</body>

</html>