<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>忘记口令</title>
    <link href="{{static_url('assets/css/icons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('plugins/form_wizard/css/icons/icomoon/styles.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('plugins/form_wizard/css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('plugins/form_wizard/css/components.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('plugins/form_wizard/css/core.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">

    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>
    <script src="{{static_url('plugins/form_wizard/js/core/libraries/jquery.min.js')}}"></script>
    <script src="{{static_url('plugins/form_wizard/js/core/libraries/bootstrap.min.js')}}"></script>
    <script src="{{static_url('plugins/form_wizard/js/steps.min.js')}}"></script>
    <script src="{{static_url('plugins/form_wizard/js/validate.min.js')}}"></script>
    <script src="{{static_url('plugins/loaders/blockui.min.js')}}"></script>
    <script src="{{static_url('plugins/form_wizard/js/core/app.js')}}"></script>
    <script src="{{static_url('assets/js/pages/wizard_steps.js')}}"></script>

    <style>
        .content {
            margin-top:50px;
        }

        .bell {
            color:red;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <div class="col-md-3"></div>

    <div class="col-md-6">
       <div class="content">
         <div class="panel panel-white">

            <div class="panel-heading">
                <h6 class="panel-title">用户密码变更</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <form class="steps-validation" action="#">
                <h6>录入信息</h6>
                <fieldset>
                    <div class="row">
                         <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label">用户名</label>
                            </div>
                            <div class="col-md-6">
                                <input id="user"  type="text" class="form-control required" placeholder="请输入用户名">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row"> <p></p></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label">电子邮箱</label>
                            </div>
                            <div class="col-md-6">
                                <input id="email" name="email" type="text" class="form-control required" placeholder="请输入电子邮箱">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row"><br><br></div>
                </fieldset>

                <h6>授权码</h6>
                <fieldset>
                    <div class="row">
                         <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label">授权码</label>
                            </div>
                            <div class="col-md-6">
                                <input id="authcode"  type="text" class="form-control required" placeholder="请输入授权码">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row"> <p></p></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label"><i class="ion-ios7-bell bell"></i></label>
                            </div>
                            <div>
                                <label class="col-md-6 control-label">请从邮箱获取授权码!</label>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row"><br><br></div>
                </fieldset>

                <h6>修改密码</h6>
                <fieldset>
                    <div class="row">
                         <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label">输入密码</label>
                            </div>
                            <div class="col-md-6">
                                <input id="new_password" name="new_password" type="password" class="form-control required" placeholder="请输入新密码">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row"> <p></p></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div>
                                <label class="col-md-2 control-label">重复密码</label>
                            </div>
                            <div class="col-md-6">
                                <input id="rep_password" name="rep_password" type="password" class="form-control required" placeholder="请输入重复密码">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <div class="row"><br><br></div>
                </fieldset>
            </form>
        </div>
    </div>
    </div>

    <div class="col-md-3"></div>



    <script>
        $.extend($.validator.messages, {
            required: "这是必填字段!",
            email: "请输入正确邮件地址!",
        });

    </script>

</body>
</html>
