<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ static_url('assets/images/favicon.ico')}}">
    <title>新增任务</title>
    <script src="{{static_url('assets/js/modernizr.min.js')}}"></script>    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
   <p></p>
   <form class="form-horizontal" role="form">
       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_sync_tag">*</span>同步标识号</label>
                    </div>
                    <div class="col-md-10">
                        <input id="sync_tag"  type="text" class="form-control" disabled placeholder="请输入同步标识号">
                    </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_task_desc">*</span>任务描述</label>
                    </div>
                    <div class="col-md-10">
                        <input id="task_desc"  type="text" class="form-control" disabled placeholder="请输入任务描述">
                    </div>
               </div>
           </div>
       </div>
       <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_sync_server">*</span>同步服务器</label>
                    </div>
                   <div class="col-md-10">
                        <select class="form-control select" id="sync_server" >
                            <option value='' selected = "selected">......</option>
                            {% for var in dm_sync_server %}
                             <option value={{var[0]}} >{{var[1]}}</option>
                            {% end %}
                        </select>
                   </div>
               </div>
             </div>
       </div>
       <div class="row">
             <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_sync_type">*</span>同步类型</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="sync_type" >
                              <option value='' selected = "selected">......</option>
                               {% for var in dm_sync_type %}
                                 <option value={{var[0]}} >{{var[1]}}</option>
                               {% end %}
                        </select>
                   </div>
               </div>
             </div>
       </div>
       <div class="row">
         <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">同步目录</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_dir" type="text" class="form-control" disabled placeholder="请输入同步目录">
                </div>
            </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">同步服务</label>
                </div>
                <div class="col-md-10">
                    <input id="sync_service" type="text" class="form-control" disabled placeholder="请输入同步服务">
                </div>
           </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_minio_server">*</span>MinIO服务器</label>
                </div>
                <div class="col-md-10">
                    <input id="minio_server"  type="text" class="form-control" placeholder="请输入MinIO服务器">
                </div>
           </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_minio_user">*</span>MinIO用户名</label>
                </div>
                <div class="col-md-10">
                    <input id="minio_user"  type="text" class="form-control" placeholder="请输入MinIO用户">
                </div>
           </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_minio_pass">*</span>MinIO密码</label>
                </div>
                <div class="col-md-10">
                     <input id="minio_pass" name="pass" type="password" class="form-control" placeholder="请输入MinIO用户名">
                </div>
           </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_minio_bucket">*</span>bucket名称</label>
                </div>
                <div class="col-md-10">
                    <input id="minio_bucket"  type="text" class="form-control" placeholder="请输入bucket名称">
                </div>
           </div>
          </div>
       </div>
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">下载目录</label>
                </div>
                <div class="col-md-10">
                    <input id="minio_dpath"  type="text" class="form-control" placeholder="请输入下载目录" value="/tmp/downloads">
                </div>
           </div>
         </div>
       </div>
       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_minio_incr">*</span>增量同步策略</label>
                    </div>
                    <div class="col-md-10">
                      <input id="minio_incr"  type="text" class="form-control" placeholder="请输入增量同步策略" value="1">
                    </div>
               </div>
           </div>
           <div class="col-md-1">
               <div class="form-group">
                   <select class="form-control select" id="minio_incr_type" >
                        {% for var in dm_sync_time_type %}
                          {% if var[0]=='day' %}
                            <option value={{var[0]}} selected = "selected" >{{var[1]}}</option>
                          {% else %}
                            <option value={{var[0]}} >{{var[1]}}</option>
                          {% end %}
                        {% end %}
                   </select>
               </div>
           </div>
       </div>
       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_python3_home">*</span>PYTHON3主目录</label>
                    </div>
                    <div class="col-md-10">
                        <input id="python3_home"  type="text" class="form-control" placeholder="请输入PYTHON3主目录">
                    </div>
               </div>
           </div>
       </div>

       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_script_base">*</span>脚本主目录</label>
                    </div>
                    <div class="col-md-10">
                        <input id="script_base"  type="text" class="form-control" placeholder="请输入脚本主目录">
                    </div>
               </div>
           </div>
       </div>

       <div class="row">
          <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_script_name">*</span>备份脚本名</label>
                </div>
                <div class="col-md-10">
                    <input id="script_name"  type="text" class="form-control" placeholder="请输入备份脚本名">
                </div>
           </div>
           </div>
       </div>

       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_run_time">*</span>运行时间</label>
                    </div>
                    <div class="col-md-10">
                        <input id="run_time"  type="text" class="form-control" placeholder="请输入备份运行时间">
                    </div>
               </div>
           </div>
       </div>

       <div class="row">
          <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_api_server">*</span>API服务器</label>
                </div>
                <div class="col-md-10">
                    <input id="api_server"  type="text" class="form-control" placeholder="请输入API服务器">
                </div>
           </div>
           </div>
       </div>

       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_status">*</span>任务状态</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="status" name="status">
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                    </div>
                </div>
           </div>
       </div>

       <br>
       <div class="form-group m-b-0">
            <div class="col-sm-offset-3 col-sm-3">
              <button id="add" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
            </div>
       </div>
   </form>


    <!-- Counter js  -->
    <script src="{{static_url('plugins/counterup/jquery.counterup.min.js')}}"></script>
    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>
        $("#db_server").bind("input propertychange",function(){
            $("#task_desc").val($("#db_server").find("option:selected").text()+'备份')
        });

        function set_selected(){
            document.all['s_sync_tag'].style.color="#ff0000";
            document.all['s_task_desc'].style.color="#ff0000";
            document.all['s_sync_type'].style.color="#ff0000";
            document.all['s_sync_server'].style.color="#ff0000";
            document.all['s_minio_server'].style.color="#ff0000";
            document.all['s_minio_user'].style.color="#ff0000";
            document.all['s_minio_pass'].style.color="#ff0000";
            document.all['s_python3_home'].style.color="#ff0000";
            document.all['s_script_base'].style.color="#ff0000";
            document.all['s_script_name'].style.color="#ff0000";
            document.all['s_run_time'].style.color="#ff0000";
            document.all['s_api_server'].style.color="#ff0000";
            document.all['s_status'].style.color="#ff0000";
            document.all['s_minio_bucket'].style.color="#ff0000";
            document.all['s_minio_incr'].style.color="#ff0000";
        }

        $('#sync_server').change(function() {
            if ($('#sync_server').val()!=''){
                var options=$('#sync_server option:selected');
                $("#task_desc").val('MinIO同步任务['+$(options[0]).text()+']');
            } else {
                $("#task_desc").val('');
            }
        });

        $("#minio_bucket").bind("input propertychange",function(){
            if ($('#minio_bucket').val()!=''){
                $("#sync_tag").val('sync_minio_server_'+$('#minio_bucket').val());
            } else {
                $("#sync_tag").val('');
            }
        });


        $('#sync_type').change(function() {
            console.log('sync_type=',$('#sync_type').val())
            if ($('#sync_type').val() == '1') {
                $("#sync_dir").val('');
                $('#sync_dir').attr("disabled", false);
                $("#sync_service").val('');
                $('#sync_service').attr("disabled", true);
            } else if ($('#sync_type').val() == '2') {
                $("#sync_dir").val('');
                $('#sync_dir').attr("disabled", true);
                $("#sync_service").val('');
                $('#sync_service').attr("disabled", false);
            } else {
                $("#sync_dir").val('');
                $("#sync_service").val('');
                $('#sync_dir').attr("disabled", true);
                $('#sync_service').attr("disabled", true);
            }
        });

        $(document).ready(function() {
           set_selected();

          $("#add").click(function () {
            $.ajax({
                url: "/minio/add/save",
                type: "post",
                datatype: "json",
                data: {
                    sync_tag         : $('#sync_tag').val(),
                    task_desc        : $('#task_desc').val(),
                    sync_type        : $('#sync_type').val(),
                    sync_server      : $('#sync_server').val(),
                    sync_dir         : $('#sync_dir').val(),
                    sync_service     : $('#sync_service').val(),
                    minio_server     : $('#minio_server').val(),
                    minio_user       : $('#minio_user').val(),
                    minio_pass       : $('#minio_pass').val(),
                    python3_home     : $('#python3_home').val(),
                    script_base      : $('#script_base').val(),
                    script_name      : $('#script_name').val(),
                    run_time         : $('#run_time').val(),
                    api_server       : $('#api_server').val(),
                    status           : $('#status').val(),
                    minio_bucket     : $('#minio_bucket').val(),
                    minio_dpath      : $('#minio_dpath').val(),
                    minio_incr       : $('#minio_incr').val(),
                    minio_incr_type  : $('#minio_incr_type').val(),

                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    if (dataSet.code==0) {
                       swal("保存成功", "", "success")
                    } else {
                       swal(dataSet.message, "", "error")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal("登陆信息已过期，请重新登陆!", "", "error")
                        window.location.href='/login'
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
          });

        });

   </script>
</body>

</html>