  <head>
        <meta charset="utf-8">
        <!--Morris Chart CSS -->
		<link href="{{static_url('plugins/morris/morris.css')}}" rel="stylesheet" >
        <link href="{{static_url('assets/css/core.css')}}"       rel="stylesheet" type="text/css" />
        <link href="{{static_url('plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css')}}" rel="stylesheet" >
        <script src="{{static_url('assets/js/modernizr.min.js')}}"></script>
        <style>
            .graph {
                height:280px;
            }
        </style>
 </head>
 <body>
    <br>
    <div class="container">
      <div class="row">
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon"><i class="ion-ios7-home"></i></span>
                 <select class="form-control select" id="server_id" >
                    <option value='' selected = "selected">请选择项目...</option>
                    {% for var in gather_server %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon"><i class="ion-ios7-home"></i></span>
                 <select class="form-control select" id="db_id" >
                    <option value='' selected = "selected">请选择数据源...</option>
                    {% for var in monitor_dss %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon"><i class="ion-ios7-home"></i></span>
                 <select class="form-control select" id="index_code" >
                    <option value='' selected = "selected">请选择指标...</option>
                    {% for var in monitor_indexes %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
              <span class="input-group-addon">同步日期起</span>
              <input  id="begin_date"  type="text" class="form-control datepicker" placeholder="同步日期起" value="{{begin_date}}">
              <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
            </div>
         </div>
        <div class="col-md-2">
             <div class="input-group">
              <span class="input-group-addon">同步日期止</span>
              <input  id="end_date"  type="text" class="form-control datepicker" placeholder="同步日期止" value="{{end_date}}" >
              <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
            </div>
        </div>
        <div class="col-md-1">
             <div class="input-group">
              <span class="input-group-btn">
                <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
      </div>
    </div>
     <p></p>

    <div id='host-container' class="container">
        <div class="row">
             <div id='div_card_container' class="col-lg-12">
            </div>
        </div>
    </div>
    <input type="hidden" id='isfirst' value="true">

    <script src="{{static_url('plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{static_url('assets/pages/jquery.form-pickers.init.js')}}"></script>

    <!--Morris Chart-->
	<script src="{{static_url('plugins/morris/morris.min.js')}}"></script>

    <script>
         $(document).ready(function() {
              $('#host-container').hide()
              function createBarChart (element, data, xkey, ykeys, labels, lineColors,postUnits) {
                Morris.Bar({
                    element: element,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    labels: labels,
                    hideHover: 'auto',
                    resize: true, //defaulted to true
                    gridLineColor: '#65d9b2',
                    barSizeRatio: 0.6,
                    barColors: lineColors,
                    postUnits: 'Mb'
                });
              }
              function createLineChart(element, data, xkey, ykeys, labels, opacity, Pfillcolor, Pstockcolor, lineColors,p_postUnits) {
                Morris.Line({
                      element: element,
                      data: data,
                      xkey: xkey,
                      ykeys: ykeys,
                      labels: labels,
                      fillOpacity: opacity,
                      pointFillColors: Pfillcolor,
                      pointStrokeColors: Pstockcolor,
                      behaveLikeLine: true,
                      gridLineColor: '#8b9285',
                      hideHover: 'auto',
                      resize: true, //defaulted to true
                      pointSize: 0,
                      lineColors: lineColors,
                      postUnits: p_postUnits,
                      lineWidth:2
                });
              }
              function count(sour,subs){
                    var a=sour;
                    var b=subs;

                    var count=0;
                    var i=0;
                    for(i=0;i<=a.length;i++){

                        if(a.indexOf(b)==i){
                           a=a.substring(i+1,a.length);
                           count++;
                        }
                    }
                    return count
              }
              function getJsonLength(jsonData) {
                var length=0;
                for(var ever in jsonData) {
                    length++;
                }
                return length;
              }

              $('#begin_date').attr("readonly", "readonly");
              $('#end_date').attr("readonly", "readonly");

              $("#query_btn").click(function() {

                if ($('#server_id').val()==''){
                    swal("请选择项目!", "", "info");
                    return false;
                }

                if ($('#index_code').val()==''){
                    swal("请选择指标!", "", "info");
                    return false;
                }

                if ($('#begin_date').val()==''){
                    swal("请输入日期起!", "", "info");
                    return false;
                }

                if ($('#end_date').val()==''){
                    swal("请输入日期止!", "", "info");
                    return false;
                }

                $('#div_card_container').hide()

                if ($('#isfirst').val()=='true'){
                    $.ajax({
                      url: "/monitor/graph/_query",
                      type: "post",
                      datatype: "json",
                      data:{
                          server_id  : $('#server_id').val(),
                          db_id      : $('#db_id').val(),
                          index_code : $('#index_code').val(),
                          begin_date : $('#begin_date').val(),
                          end_date   : $('#end_date').val()
                      },
                      beforeSend: function () {
                          swal({title: "正在加载中...",type: "info",showConfirmButton: false});
                      },
                      complete: function () {
                          swal({title: "正在加载中...",type: "info",timer: 1000,showConfirmButton: false});
                      },
                      success: function (dataSet) {
                            console.log('dataSet.length=',dataSet['data1'].length)

                            if (dataSet['data1'].length==0) {
                                return
                            }

                            //清空父div下子div
                            for (i=0;i<dataSet['data1'].length;i++) {
                                $('#div_card_box' + i).remove()
                            }

                            //获取cpu数量
                            var cpu_amount=0
                            if  (dataSet['data1'].length>0){
                                if (count(dataSet['data1'][0][1],'[')>0){
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount1=',cpu_amount)
                                } else if (count(dataSet['data1'][0][1],'{')>0){
                                     cpu_amount = getJsonLength(JSON.parse(dataSet['data1'][0][1]))
                                     console.log('cpu_amount2=',cpu_amount)
                                } else {
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount3=',cpu_amount)
                                }
                            }

                            //动态创建div
                            for (i=0;i<cpu_amount;i++) {
                                 var options=$('#index_code option:selected');
                                 value=$(options[0]).val();
                                 text =$(options[0]).text();
                                 console.log('options.value=',value,'text=',text)

                                 var childdiv = $('<div id="div_card_box'+i+'" class="card-box">\n' +
                                                  '    <h6  id="div_title_'+i+'" class="header-title m-t-0"><small>'+text+i+'</small></h6>\n' +
                                                  '    <div id="div_cpu_usage_'+i+'" style="height:280px;"></div>' +
                                                  '</div>')
                                 $('#div_card_container').append(childdiv)

                                 //生成每一个cpu图表数组
                                 var $barData_cpu_usage = new Array(dataSet['data1'].length);
                                 for (j=0;j<dataSet['data1'].length;j++){

                                     if (count(dataSet['data1'][0][1],'[')>0) {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                     } else if (count(dataSet['data1'][0][1],'{')>0){
                                         var cpu_usage_tmp = JSON.parse(dataSet['data1'][j][1])
                                         var keys=''
                                         var vals=''
                                         for (key in cpu_usage_tmp) {
                                             keys=keys+key+','
                                             vals=vals+cpu_usage_tmp[key]+','
                                         }
                                         keys=keys.substring(0,keys.length-1).split(',')[i]
                                         vals=vals.substring(0,vals.length-1).split(',')[i]
                                         console.log('keys=',keys,'vals=',vals)
                                         $('#div_title_'+i).html('<small>'+text+':'+keys+'</small>')

                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': vals
                                         }
                                     } else {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         console.log('y=',dataSet['data1'][j][0])
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                    }
                                 }
                                 createLineChart('div_cpu_usage_'+i, $barData_cpu_usage, 'y', ['a'], [text],['0.9'],['#ffffff'],['#992c51'], ['#ffbeba','#88A110']);
                            }
                            $('#host-container').show()

                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                        }
                 });
                    $.ajax({
                      url: "/monitor/graph/_query",
                      type: "post",
                      datatype: "json",
                      data:{
                          server_id  : $('#server_id').val(),
                          db_id      : $('#db_id').val(),
                          index_code : $('#index_code').val(),
                          begin_date : $('#begin_date').val(),
                          end_date   : $('#end_date').val()
                      },
                      beforeSend: function () {
                          swal({title: "正在加载中...",type: "info",showConfirmButton: false});
                      },
                      complete: function () {
                          swal({title: "正在加载中...",type: "info",timer: 1000,showConfirmButton: false});
                      },
                      success: function (dataSet) {
                            console.log('dataSet.length=',dataSet['data1'].length)

                            //清空父div下子div
                            for (i=0;i<dataSet['data1'].length;i++) {
                                $('#div_card_box' + i).remove()
                            }

                            //获取cpu数量
                            var cpu_amount=0
                            if  (dataSet['data1'].length>0){
                                if (count(dataSet['data1'][0][1],'[')>0){
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount1=',cpu_amount)
                                } else if (count(dataSet['data1'][0][1],'{')>0){
                                     cpu_amount = getJsonLength(JSON.parse(dataSet['data1'][0][1]))
                                     console.log('cpu_amount2=',cpu_amount)
                                } else {
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount3=',cpu_amount)
                                }
                            }

                            //动态创建div
                            for (i=0;i<cpu_amount;i++) {
                                 var options=$('#index_code option:selected');
                                 value=$(options[0]).val();
                                 text =$(options[0]).text();
                                 console.log('options.value=',value,'text=',text)

                                 var childdiv = $('<div id="div_card_box'+i+'" class="card-box">\n' +
                                                  '    <h6  id="div_title_'+i+'" class="header-title m-t-0"><small>'+text+i+'</small></h6>\n' +
                                                  '    <div id="div_cpu_usage_'+i+'" style="height:280px;"></div>' +
                                                  '</div>')
                                 $('#div_card_container').append(childdiv)

                                 //生成每一个cpu图表数组
                                 var $barData_cpu_usage = new Array(dataSet['data1'].length);
                                 for (j=0;j<dataSet['data1'].length;j++){

                                     if (count(dataSet['data1'][0][1],'[')>0) {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                     } else if (count(dataSet['data1'][0][1],'{')>0){
                                         var cpu_usage_tmp = JSON.parse(dataSet['data1'][0][1])
                                         var keys=''
                                         var vals=''
                                         for (key in cpu_usage_tmp) {
                                             keys=keys+key+','
                                             vals=vals+cpu_usage_tmp[key]+','
                                         }
                                         keys=keys.substring(0,keys.length-1).split(',')[i]
                                         vals=vals.substring(0,vals.length-1).split(',')[i]
                                         console.log('keys=',keys,'vals=',vals)
                                         $('#div_title_'+i).html('<small>'+text+':'+keys+'</small>')

                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': vals
                                         }
                                     } else {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                    }
                                 }
                                 createLineChart('div_cpu_usage_'+i, $barData_cpu_usage, 'y', ['a'], [text],['0.9'],['#ffffff'],['#992c51'], ['#ffbeba','#88A110']);
                            }
                            $('#host-container').show()

                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                        }
                 });
                    $('#isfirst').val('second')
                } else {
                    $.ajax({
                      url: "/monitor/graph/_query",
                      type: "post",
                      datatype: "json",
                      data:{
                          server_id  : $('#server_id').val(),
                          db_id      : $('#db_id').val(),
                          index_code : $('#index_code').val(),
                          begin_date : $('#begin_date').val(),
                          end_date   : $('#end_date').val()
                      },
                      beforeSend: function () {
                          swal({title: "正在加载中...",type: "info",showConfirmButton: false});
                      },
                      complete: function () {
                          swal({title: "正在加载中...",type: "info",timer: 1000,showConfirmButton: false});
                      },
                      success: function (dataSet) {
                            console.log('dataSet.length=',dataSet['data1'].length)

                            //清空父div下子div
                            for (i=0;i<dataSet['data1'].length;i++) {
                                $('#div_card_box' + i).remove()
                            }

                            //获取cpu数量
                            var cpu_amount=0
                            if  (dataSet['data1'].length>0){
                                if (count(dataSet['data1'][0][1],'[')>0){
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount1=',cpu_amount)
                                } else if (count(dataSet['data1'][0][1],'{')>0){
                                     cpu_amount = getJsonLength(JSON.parse(dataSet['data1'][0][1]))
                                     console.log('cpu_amount2=',cpu_amount)
                                } else {
                                     cpu_amount = dataSet['data1'][0][1].replace('[','').replace(']','').split(',').length
                                     console.log('cpu_amount3=',cpu_amount)
                                }
                            }

                            //动态创建div
                            for (i=0;i<cpu_amount;i++) {
                                 var options=$('#index_code option:selected');
                                 value=$(options[0]).val();
                                 text =$(options[0]).text();
                                 console.log('options.value=',value,'text=',text)

                                 var childdiv = $('<div id="div_card_box'+i+'" class="card-box">\n' +
                                                  '    <h6  id="div_title_'+i+'" class="header-title m-t-0"><small>'+text+i+'</small></h6>\n' +
                                                  '    <div id="div_cpu_usage_'+i+'" style="height:280px;"></div>' +
                                                  '</div>')
                                 $('#div_card_container').append(childdiv)

                                 //生成每一个cpu图表数组
                                 var $barData_cpu_usage = new Array(dataSet['data1'].length);
                                 for (j=0;j<dataSet['data1'].length;j++){

                                     if (count(dataSet['data1'][0][1],'[')>0) {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                     } else if (count(dataSet['data1'][0][1],'{')>0){
                                         var cpu_usage_tmp = JSON.parse(dataSet['data1'][j][1])
                                         console.log('cpu_usage_tmp=',cpu_usage_tmp)
                                         var keys=''
                                         var vals=''
                                         for (key in cpu_usage_tmp) {
                                             keys=keys+key+','
                                             vals=vals+cpu_usage_tmp[key]+','
                                         }
                                         keys=keys.substring(0,keys.length-1).split(',')[i]
                                         vals=vals.substring(0,vals.length-1).split(',')[i]
                                         console.log('keys=',keys,'vals=',vals)
                                         $('#div_title_'+i).html('<small>'+text+':'+keys+'</small>')

                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': vals
                                         }
                                     } else {
                                         var cpu_usage_tmp = dataSet['data1'][j][1].replace('[', '').replace(']', '').split(',')
                                         $barData_cpu_usage[j] = {
                                             'y': dataSet['data1'][j][0],
                                             'a': cpu_usage_tmp[i]
                                         }
                                    }
                                 }
                                 createLineChart('div_cpu_usage_'+i, $barData_cpu_usage, 'y', ['a'], [value],['0.9'],['#ffffff'],['#992c51'], ['#ffbeba','#88A110']);
                            }
                            $('#host-container').show()

                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                        }
                 });
                }

                $('#div_card_container').show()
              });
          })

         // $("#server_id").bind("input propertychange",function(){
         //    $("#query_btn").click();
         // });
         //
         $("#index_code").bind("input propertychange",function(){
            $("#query_btn").click();
         });

         $("#begin_date").bind("input propertychange",function(){
            $("#query_btn").click();
         });

         $("#end_date").bind("input propertychange",function(){
            $("#query_btn").click();
         });

         $('#server_id').change(function() {
            console.log('server_id=',$('#server_id').val());
            if ($('#server_id').val()=='') {
                 $("#db_id").empty();
                 $("#db_id").append("<option value=''>请选择数据源...</option>");
            } else {
                 var index_type=''
                 if ($('#db_id').val()=='') {
                     index_type='1'
                 } else {
                     index_type='2'
                 }

                 $.ajax({
                      url: "/get/monitor/db",
                      type: "post",
                      datatype: "json",
                      data:{
                          server_id : $('#server_id').val(),
                      },
                      success: function (dataSet) {
                         $("#db_id").empty();
                         $("#db_id").append("<option value=''>请选择数据源...</option>");
                         for(i=0;i<dataSet['data'].length;i++){
                             console.log('i=',i)
                              var val  = dataSet['data'][i][0];
                              var text = dataSet['data'][i][1];
                              console.log('option:',"<option value='"+val+"'>"+text+"</option>")
                              $("#db_id").append("<option value='"+val+"'>"+text+"</option>");
                         }
                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                      }
                 });

                 $.ajax({
                      url: "/get/monitor/index",
                      type: "post",
                      datatype: "json",
                      data:{
                          index_type :index_type,
                          db_id  : $('#db_id').val(),
                      },
                      success: function (dataSet) {
                         $("#index_code").empty();
                         $("#index_code").append("<option value=''>请选择数指标...</option>");
                         for(i=0;i<dataSet['data'].length;i++){
                             console.log('i=',i)
                              var val  = dataSet['data'][i][0];
                              var text = dataSet['data'][i][1];
                              console.log('option:',"<option value='"+val+"'>"+text+"</option>")
                              $("#index_code").append("<option value='"+val+"'>"+text+"</option>");
                         }
                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                      }
                 });
            }

         });

         $('#db_id').change(function() {
            console.log('db_id=',$('#db_id').val());
            var index_type=''
            if ($('#db_id').val()=='') {
                 index_type='1'
            } else {
                 index_type='2'
            }
            $.ajax({
                  url: "/get/monitor/index",
                  type: "post",
                  datatype: "json",
                  data:{
                      index_type :index_type,
                      db_id  : $('#db_id').val(),
                  },
                  success: function (dataSet) {
                     $("#index_code").empty();
                     $("#index_code").append("<option value=''>请选择数指标...</option>");
                     for(i=0;i<dataSet['data'].length;i++){
                         console.log('i=',i)
                          var val  = dataSet['data'][i][0];
                          var text = dataSet['data'][i][1];
                          console.log('option:',"<option value='"+val+"'>"+text+"</option>")
                          $("#index_code").append("<option value='"+val+"'>"+text+"</option>");
                     }
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal("登陆信息已过期，请重新登陆!", "", "error")
                            window.location.href='/login'
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                  }
             });
         });

    </script>

 </body>