 <head>
    <meta charset="utf-8">
    <link href="{{static_url('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>

    <!-- Notification css (Toastr) -->
    <link href="{{static_url('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css" />

    <!-- Tooltipster css -->
    <link rel="stylesheet" href="{{static_url('plugins/tooltipster/tooltipster.bundle.min.css')}}">

    <style>
        #tab-sys-monitor，tab-svr-monitor{
            width: 100% !important;
        }
        .table_td_center {
            text-align: left;
        }

        /* dataTables表头居中 */
        .table > thead:first-child > tr:first-child > th {
            text-align: center;
        }
        .color-warning {
            color:red;
            font-size: 30px;
        }
         .color-success {
            color: #44d954;
            /*color: #d6d90d;*/
            font-size: 30px;
        }

        .progress-bar-success {
            background-color: #2196f3b0;
            line-height: 20px;
        }

        .progress-bar-warning {
            background-color: #f06292;
            line-height: 20px;
        }

        .progress-success {
             background-color: #7fc1fc;
             font-size: 10.8px;
             line-height: 20px;
        }

        .progress-warning {
             background-color: #fc7fb0a1;
             font-size: 10.8px;
             line-height: 20px;
        }
    </style>

 </head>
 <body>
    <!--数据库监控情况 -->
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills m-b-30 pull-left">
                <li class="active">
                    <a href="#sys-monitor" data-toggle="tab" aria-expanded="true">系统监控</a>
                </li>
                <li id='incr_li' class="">
                    <a href="#svr-monitor" data-toggle="tab" aria-expanded="false">服务监控</a>
                </li>
            </ul>
            <div class="tab-content br-n pn">
                <div id="sys-monitor" class="tab-pane active">
                 <div class="row">
                 </div>
                 <div class="row">
                        <div class="col-md-4">
                            <span class="label text-primary">合生通&nbsp;</span>
                            <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio1" value="hst-dev" name="radioInline_sys" >
                                <label for="inlineRadio1">开发</label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio2" value="hst-test" name="radioInline_sys" >
                                <label for="inlineRadio2">测试</label>
                            </div>
                           <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio3" value="hst-pre" name="radioInline_sys" >
                                <label for="inlineRadio3">预发布</label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio4" value="hst-prod" name="radioInline_sys" checked>
                                <label for="inlineRadio4">生产</label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio6" value="hst-proj" name="radioInline_sys" >
                                <label for="inlineRadio6">项目</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                             <span class="label text-success">好房&nbsp;</span>
                             <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio21" value="easylife-dev" name="radioInline_sys" >
                                <label for="inlineRadio21">开发</label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio22" value="easylife-test" name="radioInline_sys" >
                                <label for="inlineRadio22">测试</label>
                            </div>
                           <div class="radio radio-info radio-inline">
                                <input type="radio" id="inlineRadio23" value="easylife-gray" name="radioInline_sys" >
                                <label for="inlineRadio23">灰度</label>
                            </div>
                            <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio24" value="easylife-prod" name="radioInline_sys" >
                                <label for="inlineRadio24">生产</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                              <span class="label text-danger">平台组&nbsp;</span>
                              <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio25" value="platform-prod" name="radioInline_sys" checked>
                                <label for="inlineRadio31">生产</label>
                              </div>
                        </div>
                        <div class="col-md-2">
                              <span class="label text-danger">商管&nbsp;</span>
                              <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio31" value="sg-prod" name="radioInline_sys" checked>
                                <label for="inlineRadio31">生产</label>
                              </div>
                        </div>
                        <div class="col-md-2 input-group">
                            <input type="text" id="search_text_sys" class="form-control">
                            <span class="input-group-btn">
                               <button type="button"  class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div id='div-sys-monitor' class="col-md-12">
                           <table id="tab-sys-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                        </div>
                    </div>
                </div>
                <div id="svr-monitor" class="tab-pane">
                     <div class="row">
                     </div>
                     <div class="row">
                          <div class="col-md-4">
                                <span class="label text-primary">合生通&nbsp;</span>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio41" value="hst-dev" name="radioInline_svr" >
                                    <label for="inlineRadio41">开发</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio42" value="hst-test" name="radioInline_svr" >
                                    <label for="inlineRadio42">测试</label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio43" value="hst-pre" name="radioInline_svr" >
                                    <label for="inlineRadio43">预发布</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio44" value="hst-prod" name="radioInline_svr" >
                                    <label for="inlineRadio44">生产</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio45" value="hst-proj" name="radioInline_svr" >
                                    <label for="inlineRadio6">项目</label>
                                </div>
                          </div>
                          <div class="col-md-3">
                                <span class="label text-success">好房&nbsp;</span>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio51" value="easylife-dev" name="radioInline_svr" >
                                    <label for="inlineRadio51">开发</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio52" value="easylife-test" name="radioInline_svr" >
                                    <label for="inlineRadio52">测试</label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio53" value="easylife-grey" name="radioInline_svr" >
                                    <label for="inlineRadio53">灰度</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio54" value="easylife-prod" name="radioInline_svr">
                                    <label for="inlineRadio54">生产</label>
                                </div>
                          </div>
                          <div class="col-md-1">
                              <span class="label text-danger">平台组&nbsp;</span>
                              <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio55" value="platform-prod" name="radioInline_svr" checked>
                                <label for="inlineRadio31">生产</label>
                              </div>
                          </div>
                          <div class="col-md-2">
                                <span class="label text-danger">商管&nbsp;</span>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio61" value="sg-prod" name="radioInline_svr"  checked>
                                    <label for="inlineRadio61">商管</label>
                                </div>
                          </div>
                          <div class="col-md-2 input-group">
                            <input type="text" id="search_text_svr" class="form-control">
                            <span class="input-group-btn">
                               <button type="button"  class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                     </div>
                    <div class="row">
                        <div id='div-svr-monitor' class="col-md-12">
                            <table id="tab-svr-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input id='current_tab_hidden' type='hidden'>
    <script src="{{static_url('plugins/datatables/jquery.dataTables.min.js')}}"></script>

    <!-- Toastr js -->
    <script src="{{static_url('plugins/toastr/toastr.min.js')}}"></script>

    <!-- Tooltipster js -->
    <script src="{{static_url('plugins/tooltipster/tooltipster.bundle.min.js')}}"></script>
    <script src="{{static_url('assets/pages/jquery.tooltipster.js')}}"></script>

    <script>

          function GetDate(format) {
             /**
             * format=1 表示获取年月日
             * format=2 表示获取年月日时分秒
             * **/
             var _time;
             var now   = new Date();
             var year  = now.getFullYear();
             var month = now.getMonth()+1;
             var date  = now.getDate();
             var day   = now.getDay();//得到周几
             var hour  = now.getHours();//得到小时
             var minu  = now.getMinutes();//得到分钟
             var sec   = now.getSeconds();//得到秒
             if (format==1){
                 _time = year+"-"+month+"-"+date            }
            else if (format==2){
                _time = year+"-"+month+"-"+date+" "+hour+":"+minu+":"+sec
            }
            return _time
         }

          /*
          * 获得时间差,时间格式为 年-月-日 小时:分钟:秒 或者 年/月/日 小时：分钟：秒
          * 其中，年月日为全格式，例如 ： 2010-10-12 01:00:00
          * 返回精度为：秒，分，小时，天
          */

          function GetDateDiff(startTime, endTime, diffType) {
            //将xxxx-xx-xx的时间格式，转换为 xxxx/xx/xx的格式
            // console.log("GetDateDiff1=",startTime,endTime,diffType)
            startTime = startTime.replace(/\-/g, "/");
            endTime   = endTime.replace(/\-/g, "/");
            // console.log("GetDateDiff2=",startTime,endTime)

            //将计算间隔类性字符转换为小写
            diffType = diffType.toLowerCase();
            var sTime = new Date(startTime);      //开始时间
            var eTime = new Date(endTime);        //结束时间

            //作为除数的数字
            var divNum = 1;
            switch (diffType) {
                case "second":
                    divNum = 1000;
                    break;
                case "minute":
                    divNum = 1000 * 60;
                    break;
                case "hour":
                    divNum = 1000 * 3600;
                    break;
                case "day":
                    divNum = 1000 * 3600 * 24;
                    break;
                default:
                    break;
            }
            return parseInt((eTime.getTime() - sTime.getTime()) / parseInt(divNum));

        }

          //警告提醒
          function showtips(flag,title,content){
                toastr.options = {
                      "closeButton": false,
                      "debug": false,
                      "newestOnTop": false,
                      "progressBar": true,
                      "positionClass": "toast-top-right",
                      "preventDuplicates": false,
                      "onclick": null,
                      "showDuration": "3000",
                      "hideDuration": "1000",
                      "timeOut": "5000",
                      "extendedTimeOut": "1000",
                      "showEasing": "swing",
                      "hideEasing": "linear",
                      "showMethod": "fadeIn",
                      "hideMethod": "fadeOut"
                    }
                    toastr[flag](content,title)
          }

          //获取系统监控数据
          function get_sys_monitor(){
              $.ajax({
              url: "/monitor/view/sys",
              type: "post",
              datatype: "json",
              data:{
                      env: $("input[name='radioInline_sys']:checked").val(),
                      search_text:$('#search_text_sys').val()
              },
              success: function (dataSet) {
                 $('#tab-sys-monitor').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          ordering   :true,
                          //scrollY    :"600px",
                          scrollY    :true,
                          scrollX    :false,
                          paging     : false,
                          data       : dataSet.data,
                          autoFill   : false,
                          bAutoWidth : false,
                          info       : true,
                          // fixedHeader: false,
                          columns: [
                            { "title": "服务器描述","width":"15%"},
                            { "title": "服务器地址","width":"15%"},
                            { "title": "CPU使用率","className"  : 'table_td_center'},
                            { "title": "内存使用率","className"  : 'table_td_center'},
                            { "title": "磁盘使用率","className"  : 'table_td_center'},
                            { "title": "磁盘读","className"     : 'table_td_center'},
                            { "title": "磁盘写","className"     : 'table_td_center'},
                            { "title": "网络流入","className"   : 'table_td_center'},
                            { "title": "网络流出","className"   : 'table_td_center'},
                            { "title": "采集时间","className"   : 'table_td_center'},
                            { "title": "系统状态","className"   : 'table_td_center'},
                          ],
                          columnDefs: [
                              {
                                    targets: 2,
                                    render: function(data, type, row, meta){
                                        var process=row[2].replace('%','')
                                        if (process>=dataSet.index['cpu_total_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                    targets: 3,
                                    render: function(data, type, row, meta){
                                        var process=row[3].replace('%','')
                                        if (process>=dataSet.index['mem_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                   targets: 4,
                                    render: function(data, type, row, meta){
                                        var process=row[4].replace('%','')
                                        if (process>=dataSet.index['disk_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                  targets: 10,
                                  render: function (data, type, row, meta) {
                                      if (row[10] == '100') {
                                          b = '<i class="ion-ios7-lightbulb color-success"></i>'
                                          return b
                                      } else {
                                          b = '<i class="ion-ios7-bell color-warning"></i>'
                                          return b
                                      }
                                      return  '<i class="ion-ios7-bell color-warning"></i>'
                                  }
                              }
                          ],
                         "language": {
                                     "search"       : "在表格中搜索:",
                                     "sProcessing"  : "处理中...",
                                     "sLengthMenu"  : "显示 _MENU_ 项结果",
                                     "sZeroRecords" : "没有匹配结果",
                                     "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                     "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                     "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                     "sInfoPostFix" : "",
                                     "sSearch"      : "搜索:",
                                     "sUrl"         : "",
                                     "sEmptyTable"  : "表中数据为空",
                                     "sLoadingRecords": "载入中...",
                                     "sInfoThousands": ",",
                                     "oPaginate": {
                                         "sFirst"   : "首页",
                                         "sPrevious": "上页",
                                         "sNext"    : "下页",
                                         "sLast"    : "末页"
                                     },
                                     "oAria": {
                                         "sSortAscending" : ": 以升序排列此列",
                                         "sSortDescending": ": 以降序排列此列"
                                     }
                                 }
                     });

                  console.log('dataSet.data=',dataSet.data,dataSet.data.length)
                  if (dataSet.data.length>0){

                     for (i=0;i<dataSet.data.length;i++) {

                         if (dataSet.data[i][2].replace('%','')>=dataSet.index['cpu_total_usage']*100) {
                             showtips('error',dataSet.data[i][0],'CPU使用率'+dataSet.data[i][2]+'异常!');
                         }
                         if (dataSet.data[i][3].replace('%','')>=dataSet.index['mem_usage']*100) {
                             showtips('error',dataSet.data[i][0],'内存使用率'+dataSet.data[i][3]+'异常!');
                         }
                         if (dataSet.data[i][4].replace('%','')>=dataSet.index['disk_usage']*100) {
                             showtips('error',dataSet.data[i][0],'磁盘使用率'+dataSet.data[i][4]+'异常!');
                         }
                         if (dataSet.data[i][10]=='0') {
                             showtips('error',dataSet.data[i][0],'系统不可用!');
                         }
                     }
                  }
              }

             });

          }

          //获取系统服务监控数据
          function get_svr_mon_data(){
              $.ajax({
              url: "/monitor/view/svr",
              type: "post",
              data:{
                      env: $("input[name='radioInline_svr']:checked").val(),
                      search_text:$('#search_text_svr').val()
              },
              datatype: "json",
              success: function (dataSet) {
                 $('#tab-svr-monitor').DataTable( {
                      "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                      "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                      destroy    :true,
                      async      :true,
                      ordering   :true,
                      //scrollY    :"600px",
                      scrollY    : true,
                      scrollX    : false,
                      paging     : false,
                      data       : dataSet.data,
                      autoFill   : false,
                      bAutoWidth : false,
                      info       : true,
                      columns: [
                        { "title": "服务器描述","width":"10%"},
                        {
                             "title":"MySQL服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[1].split(',').length;i++) {
                                   var  status = row[1].split(',')[i].split('@')[0]
                                   var  dbid   = row[1].split(',')[i].split('@')[1]
                                   var  rqq    = row[1].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL捷顺车流",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[2].split(',').length;i++) {
                                   var  status = row[2].split(',')[i].split('@')[0]
                                   var  dbid   = row[2].split(',')[i].split('@')[1]
                                   var  rqq    = row[2].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                          },
                          {
                             "title":"MSSQL汇纳客流",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[3].split(',').length;i++) {
                                   var  status = row[3].split(',')[i].split('@')[0]
                                   var  dbid   = row[3].split(',')[i].split('@')[1]
                                   var  rqq    = row[3].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL捷顺寻车",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[4].split(',').length;i++) {
                                   var  status = row[4].split(',')[i].split('@')[0]
                                   var  dbid   = row[4].split(',')[i].split('@')[1]
                                   var  rqq    = row[4].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL德利多富",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[5].split(',').length;i++) {
                                   var  status = row[5].split(',')[i].split('@')[0]
                                   var  dbid   = row[5].split(',')[i].split('@')[1]
                                   var  rqq    = row[5].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL商管",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[6].split(',').length;i++) {
                                   var  status = row[6].split(',')[i].split('@')[0]
                                   var  dbid   = row[6].split(',')[i].split('@')[1]
                                   var  rqq    = row[6].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Oracle商管",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[7].split(',').length;i++) {
                                   var  status = row[7].split(',')[i].split('@')[0]
                                   var  dbid   = row[7].split(',')[i].split('@')[1]
                                   var  rqq    = row[7].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Redis服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[8].split(',').length;i++) {
                                   var  status = row[8].split(',')[i].split('@')[0]
                                   var  dbid   = row[8].split(',')[i].split('@')[1]
                                   var  rqq    = row[8].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Mongo服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[9].split(',').length;i++) {
                                   var  status = row[9].split(',')[i].split('@')[0]
                                   var  dbid   = row[9].split(',')[i].split('@')[1]
                                   var  rqq    = row[9].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"ElasticSearch服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[10].split(',').length;i++) {
                                   var  status = row[10].split(',')[i].split('@')[0]
                                   var  dbid   = row[10].split(',')[i].split('@')[1]
                                   var  rqq    = row[10].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                      ],
                     "language": {
                                 "search"       : "在表格中搜索:",
                                 "sProcessing"  : "处理中...",
                                 "sLengthMenu"  : "显示 _MENU_ 项结果",
                                 "sZeroRecords" : "没有匹配结果",
                                 "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                 "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                 "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                 "sInfoPostFix" : "",
                                 "sSearch"      : "搜索:",
                                 "sUrl"         : "",
                                 "sEmptyTable"  : "表中数据为空",
                                 "sLoadingRecords": "载入中...",
                                 "sInfoThousands": ",",
                                 "oPaginate": {
                                     "sFirst"   : "首页",
                                     "sPrevious": "上页",
                                     "sNext"    : "下页",
                                     "sLast"    : "末页"
                                 },
                                 "oAria": {
                                     "sSortAscending" : ": 以升序排列此列",
                                     "sSortDescending": ": 以降序排列此列"
                                 }
                             }
                 });

                 console.log('warning=>svr=',dataSet.warning,dataSet.warning.length)
                 if (dataSet.warning.length>0){
                     for (i=0;i<dataSet.warning.length;i++) {

                         if (dataSet.warning[i]['mysql_proj'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'MySQL(项目)数据库服务异常!');
                         }
                         if (dataSet.warning[i]['mssql_park'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'MSSQL(车流)数据库服务异常!');
                         }
                         if (dataSet.warning[i]['mssql_flow'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'MSSQL(客流)数据库服务异常!');
                         }
                         if (dataSet.warning[i]['mssql_car'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'MSSQL(反向寻车)服务异常!');
                         }
                         if (dataSet.warning[i]['redis'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'redis服务异常!');
                         }
                         if (dataSet.warning[i]['mongo'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'mongo服务异常!');
                         }
                         if (dataSet.warning[i]['es'].split('@')[0]=='0') {
                             showtips('error',dataSet.warning[i]['server_desc'],'ElasticSearch服务异常!');
                         }
                     }
                 }
              }
           });
          }

          //标签页事件监听
          $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
              var activeTab = $(e.target).text();
              var previousTab = $(e.relatedTarget).text();
              $('#current_tab_hidden').val(activeTab)
              console.log(activeTab,previousTab)
              if (activeTab=='系统监控') {
                  console.log('系统监控')
                  get_sys_monitor()
              }

              if (activeTab=='服务监控') {
                 console.log('服务监控')
                 get_svr_mon_data()
              }
           })

          //查询当前活动页内容
          function updateMonData() {
              if ($('#current_tab_hidden').val()=='系统监控') {
                  console.log('updateMonData...query...sys_monitor!')
                  get_sys_monitor()
              }
              if ($('#current_tab_hidden').val()=='服务监控') {
                  console.log('updateMonData...query...svr_monitor!')
                  get_svr_mon_data()
              }
          }

          $(document).ready(function() {
               // var timer ;

               //首次加载系统监控
               get_sys_monitor()

               //当前当活页设置为系统监控
               $('#current_tab_hidden').val('系统监控')

               //通每3秒刷新一次
               timer = setInterval("updateMonData()",60000);

               $('input[type=radio][name=radioInline_sys]').change(function() {
                    get_sys_monitor();
               });

               $('input[type=radio][name=radioInline_svr]').change(function() {
                    get_svr_mon_data();
               });

               $("#search_text_sys").bind("input propertychange",function(){
                   get_sys_monitor();
               });

               $("#search_text_svr").bind("input propertychange",function(){
                   get_svr_mon_data();
               });

               // $("#search_text_sys").change(function(){
               //    get_sys_monitor();
               // });
               //
               // $("#search_text_svr").change(function(){
               //    get_svr_mon_data();
               // });

          })

         $("#tab-svr-monitor").on("click","td i",function(){
             var id = $(this).attr('id').split('@')[1];
             var rq = $(this).attr('id').split('@')[2];
             console.log('dsid=',$(this).attr('id'))
             console.log('dsid2=',$(this).attr('id').split('@'))
             console.log('dsid3=',id)
             console.log('dsid4=',rq)

             $.ajax({
                  url: "/get_ds",
                  type: "post",
                  datatype: "json",
                  data: {
                    dsid: id, //$(this).find('i').attr('id').split('db')[1],
                 },
                 success: function (dataSet) {
                      console.log('tab-svr-monitor=>message=',dataSet.message,'code=',dataSet.code);
                      if (dataSet.code=='0') {
                          showtips('info',
                               dataSet.message['db_desc']+'<br>'+
                               '地址：'+dataSet.message['ip']+'<br>'+
                               '端口：'+dataSet.message['port']+'<br>'+
                               '数据库：'+dataSet.message['service']+'<br>'+
                               '时间：'+rq
                          );
                      }
                  }
             })
         })

    </script>

 </body>