<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- App title -->
    <title>项目授权</title>
    <!-- DataTables -->
    <link href="{{static_url('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
    <style>
        #example{
            width: 100% !important;
        }
      .modal-lg {
        width:70%;
        height:65%;
        margin-left:400px;
        margin-top:80px;
        }
    </style>
</head>
<body>
    <p></p>
    <div class="col-md-12">
       <div class="col-md-3 input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" id="username"  class="form-control" placeholder="请输入登陆名">
            <span class="input-group-btn">
               <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
            </span>
      </div>
      <p></p>
      <div id="div-tab">
           <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
      </div>
    </div>

    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4   id='ds_query_title' class="modal-title">数据源查询</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                     <div class="col-md-3">
                         <div class="input-group">
                            <input  id="ds_user_id" type="hidden"  >
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" id="ds_name"   class="form-control" placeholder="请输入数据源名、定义">
                             <span class="input-group-btn">
                               <button type="button"  id='query_btn_ds' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                         </div>
                     </div>
                     <div class="col-md-3">
                          <div class="form-group">
                            <div class="col-md-6 text-right">
                               <label class="control-label text-left">已授权</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="checkbox" id="switch_have_grants"  checked switch="none"/>
                                <label for="switch_have_grants" data-on-label="开"  data-off-label="关"></label>
                            </div>
                         </div>
                     </div>
                </div>
                <p></p>
                <div class="row">
                      <div id="div-tab2" >
                          <table id="example2" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                      </div>
                </div>
                <div class="row">
                     <div class="col-sm-offset-5 col-sm-5">
                          <input  id='save_user_proj_privs' class="btn btn-custom waves-effect waves-light btn-md" type='button' value="保存"/>
                          <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                     </div>

                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->


    <script src="{{static_url('plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.bootstrap.js')}}"></script>
    <script src="{{static_url('plugins/datatables/buttons.bootstrap.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.responsive.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/responsive.bootstrap.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.scroller.min.js')}}"></script>
    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>
        $(document).keydown(function(event){
            if (event.keyCode == 13) { //判断为Enter键
                $("#query_btn").click();
            }
         })

        $("#username").bind("input propertychange",function(){
           $("#query_btn").click();
        })

        $("#ds_name").bind("input propertychange",function(){
           $("#query_btn_ds").click();
        })

        $('#switch_have_grants').change(function(){
          $("#query_btn_ds").click();
        });

        $("#query_btn").click(function() {
              $.ajax({
                  url: "/user/_query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname: $('#username').val()
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          scrollY    :true,
                          scrollX    :true,
                          scrollCollapse: true,
                          paging:     true,
                          iDisplayLength: 14,
                          data: dataSet,
                          columns: [
                            { "title": "用户ID"},
                            { "title": "登陆名" },
                            { "title": "头像"},
                            { "title": "工号" },
                            { "title": "姓名" },
                            { "title": "性别" },
                            { "title": "邮箱" },
                            { "title": "手机" },
                            { "title": "项目组" },
                            { "title": "部门" },
                            { "title": "过期日期"},
                            { "title": "用户状态"},
                            { "title": "创建日期" },
                            { "title": "更新日期"},
                            {
                                "title":"操作",
                                "width": "25px",
                                "render": function(data,type,row)
                                    {
                                       return '&nbsp;'+'<input class="btn btn-xs btn-primary"  type="button"  value="项目授权" onclick="project_privs(\''+row+'\');"/>' +'&nbsp;';
                                    }
                                },
                          ],
                          columnDefs: [
                             {
                                targets: 2,
                                render: function(data, type, row, meta){
                                    console.log('row[2]='+row[2]);
                                    if (row[2]==null) {
                                         msg ='&nbsp;'+'<image width="25px" src=""</image>'+'&nbsp;'
                                         return msg
                                    } else {
                                         msg ='&nbsp;'+'<image width="25px" src="'+row[2]+'"</image>'+'&nbsp;'
                                         return msg
                                    }

                                }
                             }
                         ],
                          "language": {
                                 "search"       : "在表格中搜索:",
                                 "sProcessing"  : "处理中...",
                                 "sLengthMenu"  : "显示 _MENU_ 项结果",
                                 "sZeroRecords" : "没有匹配结果",
                                 "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                 "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                 "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                 "sInfoPostFix" : "",
                                 "sSearch"      : "搜索:",
                                 "sUrl"         : "",
                                 "sEmptyTable"  : "表中数据为空",
                                 "sLoadingRecords": "载入中...",
                                 "sInfoThousands": ",",
                                 "oPaginate": {
                                     "sFirst"   : "首页",
                                     "sPrevious": "上页",
                                     "sNext"    : "下页",
                                     "sLast"    : "末页"
                                 },
                                 "oAria": {
                                     "sSortAscending" : ": 以升序排列此列",
                                     "sSortDescending": ": 以降序排列此列"
                                 }
                             }
                         });
                      $('#userupd').attr("disabled",true);
                      $('#userdel').attr("disabled",true);
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal("登陆信息已过期，请重新登陆!", "", "error")
                        window.location.href='/login'
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
            });

        function project_privs(p_row){
            console.log('project_privs=',p_row)
            $.ajax({
                  url: "/project/_query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname:$("#ds_name").val(),
                      userid:p_row.split(',')[0],
                      is_grants: $('#switch_have_grants').is(":checked"),
                  },
                  success: function (dataSet) {
                        $('#con-close-modal').modal({
                             keyboard: false,
                             backdrop:false
                         })
                        $('#ds_query_title').text('项目授权 - '+p_row.split(',')[3])
                        $('#ds_user_id').val(p_row.split(',')[0])
                        project_query()
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal("登陆信息已过期，请重新登陆!", "", "error")
                        window.location.href='/login'
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             })

        }

        function project_query()
        {
              $.ajax({
                  url: "/project/_query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname:$("#ds_name").val(),
                      userid:$('#ds_user_id').val(),
                      is_grants: $('#switch_have_grants').is(":checked"),
                  },
                  success: function (dataSet) {
                      $('#example2').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          scrollY    :"400px",
                          scrollX    :false,
                          scrollCollapse: true,
                          paging:     false,
                          iDisplayLength: 14,
                          data: dataSet,
                          columns: [
                              { "title": "标识" },
                              { "title": "描述" },
                              { "title": "定义" },
                              { "title": "环境" },
                              { "title": "创建人" },
                              { "title": "创建日期" },
                              {
                                    "title":"查询",
                                    "width": "40px",
                                     "render": function(data,type,row,meta) {
                                         var a;
                                         if (row[6] == '1') {
                                             a = '<input type="checkbox" name="proj_query" value="1" checked="checked"  onclick="isSeleQuery(this);" />' + '&nbsp;'
                                         } else {
                                             a = '<input type="checkbox" name="proj_query" value="0"  onclick="isSeleQuery(this);" />' + '&nbsp;'
                                         }
                                       return a
                                    }
                               },
                               {
                                    "title":"发布",
                                    "width": "40px",
                                     "render": function(data,type,row,meta) {
                                       var  b;
                                       if (row[7]=='1') {
                                              b='<input type="checkbox" name="proj_release" value="1" checked="checked"  onclick="isSeleRelease(this);" />'
                                       } else {
                                              b='<input type="checkbox" name="proj_release" value="0"  onclick="isSeleRelease(this);" />'
                                         }
                                       return b
                                    }
                               },
                               {
                                    "title":"审核",
                                    "width": "40px",
                                     "render": function(data,type,row,meta) {
                                       var  c;
                                       if (row[8]=='1') {
                                              c='<input type="checkbox" name="proj_audit" value="1" checked="checked"  onclick="isSeleAudit(this);" />'
                                       } else {
                                              c='<input type="checkbox" name="proj_audit" value="0"  onclick="isSeleAudit(this);" />'
                                         }
                                       return c
                                    }
                               },
                               {
                                    "title":"执行",
                                    "width": "40px",
                                     "render": function(data,type,row,meta) {
                                      var  d;
                                      if (row[9]=='1') {
                                          d='<input type="checkbox" name="proj_Execute" value="1" checked="checked"  onclick="isSeleExecute(this);" />'
                                      } else {
                                          d='<input type="checkbox" name="proj_Execute" value="0"  onclick="isSeleExecute(this);" />'
                                      }
                                       return d
                                    }
                               },
                               {
                                    "title":"工单",
                                    "width": "40px",
                                     "render": function(data,type,row,meta) {
                                      var  d;
                                      if (row[10]=='1') {
                                          d='<input type="checkbox" name="proj_Order" value="1" checked="checked"  onclick="isSeleOrder(this);" />'
                                      } else {
                                          d='<input type="checkbox" name="proj_Order" value="0"  onclick="isSeleOrder(this);" />'
                                      }
                                       return d
                                    }
                               },
                               {
                                    "title":"选择",
                                    "width": "40px",
                                    "render": function(data,type,row,meta){
                                        return data = '<input type="radio" name="userid" onclick="isSelect();" >'; }
                               },
                          ],
                          "language": {
                                 "search"       : "在表格中搜索:",
                                 "sProcessing"  : "处理中...",
                                 "sLengthMenu"  : "显示 _MENU_ 项结果",
                                 "sZeroRecords" : "没有匹配结果",
                                 "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                 "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                 "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                 "sInfoPostFix" : "",
                                 "sSearch"      : "搜索:",
                                 "sUrl"         : "",
                                 "sEmptyTable"  : "表中数据为空",
                                 "sLoadingRecords": "载入中...",
                                 "sInfoThousands": ",",
                                 "oPaginate": {
                                     "sFirst"   : "首页",
                                     "sPrevious": "上页",
                                     "sNext"    : "下页",
                                     "sLast"    : "末页"
                                 },
                                 "oAria": {
                                     "sSortAscending" : ": 以升序排列此列",
                                     "sSortDescending": ": 以降序排列此列"
                                 }
                             }
                         }).columns.adjust();
                 },
                  error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal("登陆信息已过期，请重新登陆!", "", "error")
                        window.location.href='/login'
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             })
         }

        $('#query_btn_ds').click(function(){
             project_query()
        })

        $(document).ready(function() {
            $("#query_btn").click();
        });

        function isSeleQuery(my){
           if ($(my).is(':checked')){
             $(my).val("1")
           } else {
             $(my).val("0")
           }
         }

        function isSeleRelease(my){
           if ($(my).is(':checked')){
             $(my).val("1")
           } else {
             $(my).val("0")
           }
         }

         function isSeleAudit(my){
           if ($(my).is(':checked')){
             $(my).val("1")
           } else {
             $(my).val("0")
           }
         }

         function isSeleExecute(my){
           if ($(my).is(':checked')){
             $(my).val("1")
           } else {
             $(my).val("0")
           }
         }

         function isSeleOrder(my){
           if ($(my).is(':checked')){
             $(my).val("1")
           } else {
             $(my).val("0")
           }
         }

        function centerModals() {
          $('.modal').each(function(i) {
            var $clone = $(this).clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 50 ? top : 0;
            $clone.remove();
            $(this).find('.modal-content').css("margin-top", top - 50);
          });
         }

         $('#save_user_proj_privs').on('click', function() {
             $("#example2 tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  var userid=$('#ds_user_id').val()
                  var dsid =row[0].innerHTML
                  var priv_query=$(row[6].innerHTML).val()
                  var priv_release=$(row[7].innerHTML).val()
                  var priv_audit=$(row[8].innerHTML).val()
                  var priv_execute=$(row[9].innerHTML).val()
                  var priv_order=$(row[10].innerHTML).val()
                  console.log('save_user_proj_privs=>userid=',userid)
                    console.log('save_user_proj_privs=>dsid=',dsid)
                      console.log('save_user_proj_privs=>priv_query=',priv_query)
                          console.log('save_user_proj_privs=>priv_release=',priv_release)
                             console.log('save_user_proj_privs=>priv_audit=',priv_audit)
                                 console.log('save_user_proj_privs=>priv_execute=',priv_execute)
                                    console.log('save_user_proj_privs=>priv_order=',priv_order)
                  $.ajax({
                        url     : "/project/privs/save",
                        type    : "post",
                        datatype: "json",
                        data: {
                             dsid          :  dsid,
                             userid        :  userid,
                             priv_query    :  priv_query,
                             priv_release  :  priv_release,
                             priv_audit    :  priv_audit,
                             priv_execute  :  priv_execute,
                             priv_order    :  priv_order,
                        },
                        success: function (dataSet) {
                             if (dataSet.code=='0') {
                                swal("保存成功", "", "success")
                                project_query()
                             } else {
                                swal(dataSet.message, "", "error")
                             }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('jqXHR.responseText=',jqXHR.responseText);
                            console.log('jqXHR.status=',jqXHR.status);
                            console.log('jqXHR.readyState=',jqXHR.readyState);
                            console.log('jqXHR.statusText=',jqXHR.statusText);
                            console.log('textStatus=',textStatus);
                            console.log('errorThrown=',errorThrown);
                            if (jqXHR.status==403){
                                swal("登陆信息已过期，请重新登陆!", "", "error")
                                window.location.href='/login'
                            } else if (jqXHR.status==502){
                                swal("用户无权访问权限此功能!", "", "error")
                            } else {
                                swal("系统不可用,请稍后重试!", "", "error")
                            }
                        }
                  })
              })
         })

   </script>
</body>

</html>