<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- App title -->
    <title>服务器变更</title>
    <!-- Notification css (Toastr) -->
    <link href="{{static_url('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <p></p>
    <form class="form-horizontal" role="form">
        <input  id="server_id" type="hidden" name="userid" value={{server_id}} >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_desc">*</span>服务器描述</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_desc"  type="text" class="form-control" value={{server_desc}}>
                    </div>
               </div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_market_id">*</span>项目编码名</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="market_id" >
                           {% for var in markets %}
                               {% if market_id==var[0] %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                  <option value={{var[0]}} >{{var[1]}}</option>
                               {% end  %}
                          {% end %}
                        </select>
                   </div>
                </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_type">*</span>服务器类型</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="server_type" >
                           {% for var in dm_server_type %}
                               {% if server_type==var[0] %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                  <option value={{var[0]}} >{{var[1]}}</option>
                               {% end  %}
                          {% end %}
                        </select>
                   </div>
               </div>
             </div>
          </div>

         <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_ip">*</span>服务器地址</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_ip"  type="text" class="form-control" placeholder="请输入服务器地址" value={{server_ip}}>
                    </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_port">*</span>服务器端口</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_port"  type="text" class="form-control" placeholder="请输入服务器端口" value={{server_port}}>
                    </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_user">*</span>服务器用户</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_user"  type="text" class="form-control" placeholder="请输入服务器用户" value={{server_user}}>
                    </div>
               </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_pass">*</span>服务器密码</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_pass"  type="password" class="form-control" placeholder="请输入服务器密码" value={{server_pass}}>
                    </div>
               </div>
            </div>
             <div class="col-md-6">
               <div class="form-group">
                    <div>
                          <button type="button" tabindex="0" id='query_password' class="btn btn-xs waves-effect waves-light" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="支持多表传输，表间用逗号隔开！" data-original-title="小提示">
                            <i class="ion-help"></i>
                         </button>
                    </div>
               </div>
           </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_os">*</span>服务器系统</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_os"  type="text" class="form-control" placeholder="请输入服务器系统"  value={{server_os}}>
                    </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_cpu">*</span>服务器CPU</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_cpu"  type="text" class="form-control" placeholder="请输入服务器CPU" value={{server_cpu}}>
                    </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_server_mem">*</span>服务器内存</label>
                    </div>
                    <div class="col-md-10">
                        <input id="server_mem"  type="text" class="form-control" placeholder="请输入服务器内存" value={{server_mem}}>
                    </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_status">*</span>服务器状态</label>
                    </div>
                   <div class="col-md-10">
                        <select class="form-control select" id="status" name="status" value={{status}} >
                            {% if status=='1' %}
                                <option value="1" selected = "selected">启用</option>
                                <option value="0">禁用</option>
                            {% end %}
                            {% if status=='0' %}
                                <option value="0" selected = "selected">禁用</option>
                                <option value="1" >启用</option>
                            {% end %}
                        </select>
                   </div>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-md-6">
               <div class="form-group m-b-0">
                    <div class="col-sm-offset-6 col-sm-9">
                         <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">变更</button>
                         <button id="return" type="button" class="btn btn-custom waves-effect waves-light btn-md">返回</button>
                    </div>
               </div>
             </div>
         </div>
    </form>

    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>
        function set_selected(){
            document.all['s_server_desc'].style.color="#ff0000";
            document.all['s_market_id'].style.color="#ff0000";
            document.all['s_server_type'].style.color="#ff0000";
            document.all['s_server_ip'].style.color="#ff0000";
            document.all['s_server_port'].style.color="#ff0000";
            document.all['s_server_user'].style.color="#ff0000";
            document.all['s_server_pass'].style.color="#ff0000";
            document.all['s_server_os'].style.color="#ff0000";
            document.all['s_server_cpu'].style.color="#ff0000";
            document.all['s_server_mem'].style.color="#ff0000";
            document.all['s_status'].style.color="#ff0000";
        }
        $(document).ready(function() {
            set_selected()

            $('#return').on('click', function () {
                $('#main-container-div').load('/server/change');
            });

            $("#save").click(function () {
                $.ajax({
                    url: "/server/edit/save",
                    type: "post",
                    datatype: "json",
                    data: {
                        server_id   : $('#server_id').val(),
                        market_id   : $('#market_id').val(),
                        server_desc : $('#server_desc').val(),
                        server_type: $('#server_type').val(),
                        server_ip  : $('#server_ip').val(),
                        server_port: $('#server_port').val(),
                        server_user: $('#server_user').val(),
                        server_pass: $('#server_pass').val(),
                        server_os  : $('#server_os').val(),
                        server_cpu : $('#server_cpu').val(),
                        server_mem : $('#server_mem').val(),
                        status     : $('#status').val(),
                    },
                    success: function (dataSet) {
                        console.log(dataSet.code, dataSet.message);
                        if (dataSet.code == 0) {
                            swal("变更成功", "", "success")
                        } else {
                            swal(dataSet.message, "", "error")
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal("登陆信息已过期，请重新登陆!", "", "error")
                            window.location.href='/login'
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                     }
                });
            });
        });

         $('#query_password').tooltipster({
             content: $('#server_pass').val(),
             multiple: true,
             position: 'right'
        });

   </script>
</body>

</html>