<html>
<head>
    <title>SQL审核</title>
    <!-- ace code -->
    <link   type="text/css" href="{{static_url('assets/css/minified/components.min.css')}}"  rel="stylesheet" >
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ace.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugins/editors/src-min/ext-language_tools.js')}}"></script>
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">

    <style>
        .modal-lg-detail {
            width :60%;
            height:20%;
        }
         #ace-editor {
           height:280px;
        }
        .table th{
            text-align: center;
            vertical-align: middle!important;
        }
    </style>

</head>

<body>
    <p></p>
    <div class="row">
        <div class="col-md-12">
           <div class="col-md-3">
               <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="name"  class="form-control" placeholder="请输入关键字">
               </div>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                     <span class="input-group-addon">数据库环境</span>
                       <select class="form-control select" id="db_audit_source">
                            <option value='' selected = "selected">...</option>
                            {% for var in audit_dss %}
                              <option value={{var[0]}}>{{var[1]}}</option>
                            {% end %}
                       </select>
                 </div>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                    <span class="input-group-addon">发布人</span>
                    <select class="form-control select" id="sql_creater">
                        <option value='' selected = "selected">...</option>
                        {% for var in creater %}
                          <option value={{var[0]}}>{{var[1]}}</option>
                        {% end %}
                    </select>
                 </div>
             </div>
             <div class="col-md-1">
               <div class="input-group">
                    <span class="input-group-btn">
                       <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                    </span>
               </div>
            </div>

        </div>
     </div>
    <p></p>
    <div class="row">
         <div class="col-md-12">
              <div id="div-tab">
                   <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"  height="100%" ></table>
              </div>
         </div>
     </div>

     <!--工单审核  -->
     <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">工单审核</h4>
            </div>
            <div class="modal-body">
                <input id="sql_id" type="hidden"  value='' >
                <input id="sql_status" type="hidden"  value='' >
                <div class="row">
                    <h5>执行语句：<span id ='run_time_detail' style="color:red"></span></h5>
                    <div id='ace-editor' class="col-md-12"></div>
                </div>
                <br>
                <div class="row">
                    <div >
                        <label class="col-md-3 control-label">审核结果：</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control select" id="audit_result">
                            <option value='1' selected = "selected">审核成功</option>
                            <option value='2' >审核失改</option>
                        </select>
                   </div>
                </div>
                <br>
                <div class="row">
                    <div >
                        <label class="col-md-3 control-label">失败原因：</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" style="min-width: 90%" id="audit_message"></textarea>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="auditSql" >审核</button>
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

</body>


<script type="text/javascript">

      function centerModals() {
          $('.modal').each(function(i) {
            var $clone = $(this).clone().css('display', 'block').appendTo('body');
            var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
            top = top > 50 ? top : 0;
            $clone.remove();
            $(this).find('.modal-content').css("margin-top", top - 50);
          });
      }

      $(document).ready(function() {
          //ace editor
          var editor = ace.edit("ace-editor");
          editor.setTheme("ace/theme/xcode");
          editor.getSession().setMode("ace/mode/sql");
          editor.setShowPrintMargin(false);
          editor.setFontSize(16);
          editor.getSession().setUseSoftTabs(true);
          editor.setReadOnly(true);

          $('#audit').attr("disabled",true);

          $("#query_btn").click(function()
          {
                var name = $("#name").val();
                var dsid = $("#db_audit_source").val();
                var creater  = $("#sql_creater").val();

                $.ajax({
                  url: "/sql/audit/query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname:name,
                      dsid:dsid,
                      creater:creater
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                      "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                      destroy    :true,
                      async      :true,
                      ordering   :false,
                      scrollY    :false,
                      scrollX    :false,
                      scrollCollapse: true,
                      paging:     true,
                      iDisplayLength: 16,
                      data: dataSet,
                      columns: [
                         { "title": "工单编号" },
                         { "title": "工单描述" },
                         { "title": "工单状态" },
                         { "title": "工单类型" },
                         { "title": "数据库环境"},
                         { "title": "发布人" },
                         { "title": "发布时间"},
                         { "title": "审核人"},
                         { "title": "审核时间"},
                         { "title": "操作"},
                       ],
                        columnDefs: [
                        {
                            targets: 9,
                            render: function(data, type, row, meta){
                                 var id=row[0]
                                 var status=row[2]

                                 if (status=='已发布') {
                                    msg ='&nbsp;'+
                                          '<input class="btn btn-xs btn-primary"  type="button"  value="审核" onclick="show_audit(\''+id+','+status+'\');"/>' +'&nbsp;'
                                    return msg;
                                 } else {
                                    msg ='&nbsp;'+
                                          '<input class="btn btn-xs btn-primary disabled"  type="button"  value="审核" onclick="show_audit(\''+id+','+status+'\');"/>' +'&nbsp;'
                                    return msg;
                                 }
                            }
                         }
                        ],
                      "language": {
                             "search"       : "在表格中搜索:",
                             "sProcessing"  : "处理中...",
                             "sLengthMenu"  : "显示 _MENU_ 项结果",
                             "sZeroRecords" : "没有匹配结果",
                             "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                             "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                             "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                             "sInfoPostFix" : "",
                             "sSearch"      : "搜索:",
                             "sUrl"         : "",
                             "sEmptyTable"  : "表中数据为空",
                             "sLoadingRecords": "载入中...",
                             "sInfoThousands": ",",
                             "oPaginate": {
                                 "sFirst"   : "首页",
                                 "sPrevious": "上页",
                                 "sNext"    : "下页",
                                 "sLast"    : "末页"
                             },
                             "oAria": {
                                 "sSortAscending" : ": 以升序排列此列",
                                 "sSortDescending": ": 以降序排列此列"
                             }
                         }
                    });
                  },
                  error: function (jqXHR) {
                        if (jqXHR.status==403){
                            swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                            setTimeout(" window.location.href='/login'",3000);
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                  }
                })
          });

          $('#audit').on('click', function() {
             rec=0;
             var sqlid='';
             $("#example tbody tr td input:checked").each( function() {
                  row=$(($(this).parent().parent().html()));
                  sqlid=row[0].innerHTML;
                  console.log("sqlid=",sqlid);
              });

             $.ajax({
                url: "/sql/_audit",
                type: "post",
                datatype: "json",
                data:{sqlid: sqlid},
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    swal(dataSet.message, "", "info")
                },
                error: function (jqXHR) {
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
            });

            $("#query_btn").click();
        });

          $("#query_btn").click();

      });

      function format_sql(sql) {
           var res='';
           $.ajax({
                type: 'post',
                url: '/sql/_format',
                async:false,
                data: {
                    "sql":sql
                },
                success: function (dataSet) {
                  res=dataSet.message
                },
            })
            return res
      }

      function show_audit(msg){
         id =msg.split(',')[0]
         status =msg.split(',')[1]
         $.ajax({
                url      : "/sql/audit/detail",
                type     : "post",
                datatype : "json",
                data     : {
                    id: id
                },
                success: function (dataSet) {
                    $('#sql_id').val(id);
                    $('#sql_status').val(status);
                    console.log('status=',status);
                    if (status=='已发布') {
                        console.log('A');
                        $('#auditSql').removeAttr("disabled");
                    } else {
                        console.log('AAA');
                        $('#auditSql').attr("disabled","disabled");
                    }

                    set_audit_btn();
                    var editor = ace.edit("ace-editor");
                    editor.setValue('')
                    editor.insert(format_sql(dataSet.message.sqltext))
                    editor.setReadOnly(true);
                    $('#run_time_detail').text(dataSet.message.run_time)

                    $('.modal').on('show.bs.modal', centerModals);
                    $(window).on('resize', centerModals);
                    $('#con-close-modal').modal({
                       keyboard: false,
                       backdrop:false
                    })
                },
                error: function (jqXHR) {
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
               }
        });
    }

    $('#auditSql').click(function(){
         $.ajax({
                url: "/sql/_audit",
                type: "post",
                datatype: "json",
                data:{
                    sqlid   : $('#sql_id').val(),
                    status  : $('#audit_result').val(),
                    message : $('#audit_message').val()
                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    swal(dataSet.message);
                    $("#query_btn").click();
                },
                error: function (jqXHR) {
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
        });
    });

    $('#db_source').change(function() {
        console.log('db_source=',$('#db_source').val());
        if ($('#db_source').val()!=''){
            $.ajax({
                  url: "/get_database",
                  type: "post",
                  datatype: "json",
                  data:{
                      dbid : $('#db_source').val(),
                  },
                  success: function (dataSet) {
                     $("#db_name").empty();
                     $("#db_name").append("<option value=''>...</option>");
                     for(i=0;i<dataSet['message'].length;i++){
                          var val  = dataSet['message'][i];
                          var text = dataSet['message'][i];
                          $("#db_name").append("<option value='"+val+"'>"+text+"</option>");
                     }
                  }
            });
        } else {
            $("#db_name").empty();
            $("#db_name").append("<option value=''>...</option>");
        }
     });

    function set_audit_btn(){
       if ($('#audit_result').val()=='1') {
           $('#audit_message').val('');
           $('#audit_message').attr("disabled","disabled");
       } else {
           $('#audit_message').val('');
           $('#audit_message').removeAttr("disabled");
       }
    }

    $('#audit_result').change(function(){
       set_audit_btn();
    });

 </script>

</html>