<html>
<head>
    <title>SQL执行</title>
     <!-- ace code -->
    <link   type="text/css" href="{{static_url('assets/css/minified/components.min.css')}}"  rel="stylesheet" >
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ace.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugins/editors/src-min/ext-language_tools.js')}}"></script>

     <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">

    <link href="{{static_url('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />

    <style>
        .modal-lg-detail {
            width:60%;
            height:20%;
            margin-left:500px;
            margin-top:100px;
        }

        #ace-editor,#ace-editor3{
           height:200px;
        }

        #ace-editor2{
           height:80px;
        }

        .table th{
            text-align: center;
            vertical-align: middle!important;
        }

    </style>


</head>

<body>
    <p></p>
    <div class="row">
        <div class="col-md-12">
           <div class="col-md-3">
               <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="name"  class="form-control" placeholder="请输入关键字">
               </div>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                     <span class="input-group-addon">数据库环境</span>
                       <select class="form-control select" id="db_run_source">
                            <option value='' selected = "selected">...</option>
                            {% for var in run_dss %}
                              <option value={{var[0]}}>{{var[1]}}</option>
                            {% end %}
                       </select>
                 </div>
            </div>
            <div class="col-md-3">
                <div>
                    <label class="col-md-4 control-label"><span id="s_sql_ver">*</span>版本:</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control select" id="db_ver">
                        <option value='' selected = "selected">...</option>
                        {% for var in vers %}
                          <option value={{var[0]}}>{{var[1]}}</option>
                        {% end %}
                    </select>

                </div>
             </div>
             <div class="col-md-1">
               <div class="input-group">
                    <span class="input-group-btn">
                       <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                    </span>
               </div>
            </div>

        </div>
     </div>
    <p></p>
    <div class="row">
         <div class="col-md-12">
              <div id="div-tab">
                   <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"  height="100%" ></table>
              </div>
         </div>
    </div>

    <!--发布语句详情 -->
    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">执行详情</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <span>执行语句：</span>
                  <div id='ace-editor' class="col-md-12"></div>
                </div>
                <br>
                <div class="row">
                  <span>备份语句：</span>
                  <div id='ace-editor3' class="col-md-12"></div>
                </div>
                <br>
                <div class="row">
                    <span>运行错误：</span>
                    <div id='ace-editor2' class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                   <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

</body>

<script src="{{static_url('plugins/toastr/toastr.min.js')}}"></script>
<script src="{{static_url('assets/pages/jquery.tooltipster.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
          var editor = ace.edit("ace-editor");
          editor.setTheme("ace/theme/xcode");
          editor.getSession().setMode("ace/mode/sql");
          editor.setShowPrintMargin(false);
          editor.setFontSize(16);
          editor.getSession().setUseSoftTabs(true);
          editor.setReadOnly(true);

          var editor2 = ace.edit("ace-editor2");
          editor2.setTheme("ace/theme/xcode");
          editor2.getSession().setMode("ace/mode/sql");
          editor2.setShowPrintMargin(false);
          editor2.setFontSize(16);
          editor2.getSession().setUseSoftTabs(true);
          editor2.setReadOnly(true);

          var editor3 = ace.edit("ace-editor3");
          editor3.setTheme("ace/theme/xcode");
          editor3.getSession().setMode("ace/mode/sql");
          editor3.setShowPrintMargin(false);
          editor3.setFontSize(16);
          editor3.getSession().setUseSoftTabs(true);
          editor3.setReadOnly(true);

          $("#query_btn").click(function()
          {
                var name = $("#name").val();
                var dsid = $("#db_run_source").val();
                var ver  = $("#db_ver").val();

                $.ajax({
                  url: "/sql/run/query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname:name,
                      dsid:dsid,
                      ver:ver
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :false,
                          ordering   :false,
                          scrollY    :false,
                          scrollX    :false,
                          scrollCollapse: true,
                          paging:     true,
                          iDisplayLength: 16,
                          data: dataSet,
                          columns: [
                             { "title": "工单编号" },
                             { "title": "工单描述" },
                             { "title": "工单状态" },
                             { "title": "工单类型" },
                             { "title": "数据库环境" },
                             { "title": "版本号"},
                             { "title": "发布人" },
                             { "title": "发布时间" },
                             { "title": "审核人"},
                             { "title": "审核时间"},
                             { "title": "错误","visible":false},
                             { "title": "操作"},
                           ],
                            columnDefs: [
                            {
                                targets: 11,
                                render: function(data, type, row, meta){
                                     console.log('row[0]='+row[0]);
                                     var id=row[0]
                                     var status=row[2]
                                     var err=escape(row[10])
                                     var par = id+'^^^'+err

                                     if (status=='已发布') {
                                        msg ='&nbsp;'+
                                              '<input class="btn btn-xs btn-primary disabled" disabled type="button" value="运行" />' +'&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="详情"  onclick="showSql(\''+par+'\');"/>' +'&nbsp;'
                                     } else if (status=='执行失败' || status == '已审核') {
                                        msg ='&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="运行" onclick="runSql(\''+id+'\');"/>' +'&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="详情" onclick="showSql(\''+par+'\');"/>' +'&nbsp;'
                                     } else {
                                        msg ='&nbsp;'+
                                              '<input class="btn btn-xs btn-primary disabled" disabled type="button" value="运行" />' +'&nbsp;'+
                                              '<input class="btn btn-xs btn-primary"  type="button"  value="详情" onclick="showSql(\''+par+'\');"/>' +'&nbsp;'
                                     }
                                     return msg;
                                }
                             }
                            ],
                          "language": {
                                 "search"       : "在表格中搜索:",
                                 "sProcessing"  : "处理中...",
                                 "sLengthMenu"  : "显示 _MENU_ 项结果",
                                 "sZeroRecords" : "没有匹配结果",
                                 "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                 "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                 "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                 "sInfoPostFix" : "",
                                 "sSearch"      : "搜索:",
                                 "sUrl"         : "",
                                 "sEmptyTable"  : "表中数据为空",
                                 "sLoadingRecords": "载入中...",
                                 "sInfoThousands": ",",
                                 "oPaginate": {
                                     "sFirst"   : "首页",
                                     "sPrevious": "上页",
                                     "sNext"    : "下页",
                                     "sLast"    : "末页"
                                 },
                                 "oAria": {
                                     "sSortAscending" : ": 以升序排列此列",
                                     "sSortDescending": ": 以降序排列此列"
                                 }
                             }
                        });
                  },
                  error: function (jqXHR) {
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                  }
              })
          });

          $("#query_btn").click();

      });

     function showtips(flag,content){
            toastr.options = {
                  "closeButton": false,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "3000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
            }
            toastr[flag]('', content)
      }


      function format_sql(sql) {
           var res='';
           $.ajax({
                type: 'post',
                url: '/sql/_format',
                async:false,
                data: {
                    "sql":sql
                },
                success: function (dataSet) {
                  res=dataSet.message
                },
            })
            return res
      }

     function showSql(row){
        id  = row.split('^^^')[0];
        err = unescape(row.split('^^^')[1]);
        $.ajax({
                url: "/sql/audit/detail",
                type: "post",
                datatype: "json",
                data:{
                    id: id
                },
                success: function (dataSet) {
                    // var sql = dataSet.message
                    console.log('dataSet=',dataSet)
                    console.log('a=',dataSet.message.sqltext)
                    console.log('b=',dataSet.message.error)
                    console.log('c=',dataSet.message.rollback_statement)
                    sql = format_sql(dataSet.message.sqltext)
                    console.log('format_sql=',sql)
                    var editor = ace.edit("ace-editor");
                    editor.setValue('')
                    editor.insert(sql);
                    editor.setReadOnly(true);

                    var editor3 = ace.edit("ace-editor3");
                    editor3.setValue('')
                    editor3.insert(dataSet.message.rollback_statement);
                    editor3.setReadOnly(true);

                    var editor2 = ace.edit("ace-editor2");
                    editor2.setValue('')
                    editor2.insert(dataSet.message.error);
                    editor2.setReadOnly(true);

                    $('#con-close-modal').modal({
                        keyboard: false,
                        backdrop:false
                    });

                    // $.ajax({
                    //     type: 'post',
                    //     url: '/sql/_format',
                    //     data: {
                    //         "sql":dataSet.message['sqltext']
                    //     },
                    //     success: function (dataSet) {
                    //         // console.log('sql2=',dataSet);
                    //
                    //         var editor = ace.edit("ace-editor");
                    //         editor.setValue('')
                    //         editor.insert(dataSet.message['sqltext']);
                    //         editor.setReadOnly(true);
                    //
                    //         var editor2 = ace.edit("ace-editor2");
                    //         editor2.setValue('')
                    //         editor2.insert(dataSet.message['error']);
                    //         editor2.setReadOnly(true);
                    //
                    //         var editor3 = ace.edit("ace-editor");
                    //         editor3.setValue('')
                    //         editor3.insert(dataSet.message['rollback_statement']);
                    //         editor3.setReadOnly(true);
                    //
                    //         $('#con-close-modal').modal({
                    //             keyboard: false,
                    //             backdrop:false
                    //         });
                    //     },
                    //     error: function (jqXHR) {
                    //         if (jqXHR.status==403){
                    //            swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                    //            setTimeout(" window.location.href='/login'",3000);
                    //         } else if (jqXHR.status==502){
                    //             swal("用户无权访问权限此功能!", "", "error")
                    //         } else {
                    //             swal("系统不可用,请稍后重试!", "", "error")
                    //         }
                    //     }
                    // })
                },
                error: function (jqXHR) {
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
        });
    }

     function runSql(id){
         $.ajax({
            url     : "/get/sql/release",
            type    : "post",
            datatype: "json",
            data: {
                id   :  id,
            },
            success: function (dataSet) {
                console.log('sql_release=',dataSet);
                $.ajax({
                    url     : "/sql/_run",
                    type    : "post",
                    datatype: "json",
                    data: {
                        dbid   :  dataSet.dbid,
                        db_name:  dataSet.db,
                        sql_id :  dataSet.id,
                    },
                    success: function (dataSet) {
                        showtips('info','运行中...');
                        $("#query_btn").click();
                     }
                 });
             }
         });

    }

     $('#db_source').change(function() {
        console.log('db_source=',$('#db_source').val());
        if ($('#db_source').val()!=''){
            $.ajax({
                  url: "/get_database",
                  type: "post",
                  datatype: "json",
                  data:{
                      dbid : $('#db_source').val(),
                  },
                  success: function (dataSet) {
                     $("#db_name").empty();
                     $("#db_name").append("<option value=''>...</option>");
                     for(i=0;i<dataSet['message'].length;i++){
                          var val  = dataSet['message'][i];
                          var text = dataSet['message'][i];
                          $("#db_name").append("<option value='"+val+"'>"+text+"</option>");
                     }
                  }
            });
        } else {
            $("#db_name").empty();
            $("#db_name").append("<option value=''>...</option>");
        }
     });


 </script>


</html>