<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>任务查询</title>
    <link href="{{static_url('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <!-- ace code -->
    <link   href="{{static_url('assets/css/minified/components.min.css')}}"  rel="stylesheet" type="text/css"  >
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ace.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ext/language_tools.js')}}"></script>

    <style>
        #example{
            width: 100% !important;
        }
        table.datatable tr th, table.datatable tr td {
            white-space: nowrap;
        }
         .modal-lg-detail {
            width:50%;
            height:80%;
            margin-left:400px;
            margin-right:50px;
            margin-top:10px;
        }

        .modal-lg-templete {
            width:60%;
            height:80%;
            margin-left:400px;
            margin-top:10px;
        }

        #ace-editor-full,#ace-editor-incr{
           height:600px;
           overflow-x:auto;
           overflow-y:auto;
       }

        #sele_sour_tab_cols {
            height: 290px;
            max-height: 290px;
        }

    </style>
</head>
<body>
   <p></p>
   <div class="col-md-12">
     <div class="row">
         <div class="col-md-3">
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id="tagname"  class="form-control" placeholder="请输入标签名">
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">业务类型</span>
                 <select class="form-control select" id="sync_ywlx" >
                    <option value='' selected = "selected">.....</option>
                    {% for var in dm_sync_ywlx %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">数据方向</span>
                 <select class="form-control select" id="sync_type" >
                    <option value='' selected = "selected">.....</option>
                    {% for var in dm_sync_data_type %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">大数据环境</span>
                 <select class="form-control select" id="sync_env" >
                     <option value='' selected = "selected">.....</option>
                     <option value='prod' >大数据生产</option>
                     <option value='dev' >大数据开发</option>
                     <option value='uat'>大数据测试</option>
                </select>
             </div>
         </div>

         <div class="col-md-1">
             <div class="input-group">
              <span class="input-group-btn">
                <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
      </div>
     <p>
     <div class="row">
         <div class="col-md-12">
              <div id="div-tab">
                   <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%"  ></table>
              </div>
         </div>
     </div>
   </div>

   <!--dataX同步详情 -->
   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <button type="  button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">任务详情</h4>
            </div>
            <div class="modal-body">
                 <form class="form-horizontal" role="form">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">同步标识号</label>
                                </div>
                                <div class="col-md-10">
                                    <input id="sync_tag"  type="text" class="form-control">
                                </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">同步服务器</label>
                                </div>
                                <div class="col-md-10">
                                    <input id="sync_server"  type="text" class="form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">源数据库实例</label>
                                </div>
                               <div class="col-md-10">
                                   <input id="sour_db_server"  type="text" class="form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">源数据库名称</label>
                                </div>
                               <div class="col-md-10">
                                    <input id="sour_db_name"  type="text" class="form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">源数据库表名</label>
                                </div>
                               <div class="col-md-10">
                                    <input id="sour_tab_name"  type="text" class="form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">选择同步列名</label>
                            </div>
                             <div class="col-md-10">
                                <select multiple="multiple" class="form-control" id="sele_sour_tab_cols" >
                                </select>
                             </div>
                       </div>
                     </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                                <div>
                                    <label class="col-md-2 control-label">增量同步列名</label>
                                </div>
                               <div class="col-md-10">
                                    <input id="sour_incr_col"  type="text" class="form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">同步业务类型</label>
                            </div>
                           <div class="col-md-10">
                                <input id="sync_ywlx2"  type="text" class="form-control"  >
                           </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">同步数据方向</label>
                            </div>
                           <div class="col-md-10">
                                <input id="sync_data_type"  type="text" class="form-control"  >
                           </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">zookeeper地址</label>
                            </div>
                            <div class="col-md-10">
                                <input id="desc_db_server"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                  <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">hbase thrift地址</label>
                            </div>
                            <div class="col-md-10">
                                <input id="hbase_thrift"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">hbase表名</label>
                            </div>
                            <div class="col-md-10">
                                <input id="hbase_table"  type="text" class="form-control"  >
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">hbase行键</label>
                            </div>
                            <div class="col-md-10">
                                <input id="hbase_rowkey"  type="text" class="form-control" >
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">ElasticSearch服务</label>
                            </div>
                            <div class="col-md-10">
                                <input id="es_service"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>

                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">ElasticSearch索引</label>
                            </div>
                            <div class="col-md-10">
                                <input id="es_index_name"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>

                  <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">ElasticSearch类型</label>
                            </div>
                            <div class="col-md-10">
                                <input id="es_type_name"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>

                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">python3主目录</label>
                            </div>
                            <div class="col-md-10">
                                <input id="python3_home"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">dataX脚本目录</label>
                            </div>
                            <div class="col-md-10">
                                <input id="script_base"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">运行时间</label>
                            </div>
                            <div class="col-md-10">
                                <input id="run_time"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">任务描述</label>
                            </div>
                            <div class="col-md-10">
                                <input id="task_desc"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">dataX主目录</label>
                            </div>
                            <div class="col-md-10">
                                <input id="datax_home"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                           <div>
                                <label class="col-md-2 control-label">同步时间类型</label>
                           </div>
                           <div class="col-md-10">
                                <input id="sync_time_type"  type="text" class="form-control" >
                           </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">同步间隔</label>
                            </div>
                            <div class="col-md-10">
                                <input id="sync_gap"  type="text" class="form-control"  >
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">API服务器</label>
                            </div>
                            <div class="col-md-10">
                                <input id="api_server"  type="text" class="form-control">
                            </div>
                       </div>
                      </div>
                   </div>
                   <div class="row">
                     <div class="col-md-12">
                       <div class="form-group">
                            <div>
                                <label class="col-md-2 control-label">任务状态</label>
                            </div>
                            <div class="col-md-10">
                                <input id="status"  type="text" class="form-control">
                            </div>
                        </div>
                      </div>
                   </div>
                 </form>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                   <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

   <!--dataX模板预览 -->
   <div id="con-close-modal-templete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-templete">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">dataX模板预览</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills m-b-30 pull-left">
                            <li class="active">
                                <a href="#full-templete" data-toggle="tab" aria-expanded="true">dataX全量模板</a>
                            </li>
                            <li id='incr_li' class="">
                                <a href="#incr-templete" data-toggle="tab" aria-expanded="false">dataX增量模板</a>
                            </li>
                        </ul>
                        <div class="tab-content br-n pn">
                            <div id="full-templete" class="tab-pane active">
                                 <div class="row">
                                    <div id='ace-editor-full' class="col-md-12"></div>
                                 </div>
                            </div>
                            <div id="incr-templete" class="tab-pane">
                                <div class="row">
                                    <div id='ace-editor-incr' class="col-md-12"></div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                   <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

   <script src="{{static_url('plugins/datatables/jquery.dataTables.min.js')}}"></script>
   <script src="{{static_url('plugins/datatables/dataTables.bootstrap.js')}}"></script>
   <script src="{{static_url('plugins/datatables/dataTables.buttons.min.js')}}"></script>
   <script src="{{static_url('plugins/datatables/buttons.bootstrap.min.js')}}"></script>
   <script src="{{static_url('plugins/datatables/dataTables.responsive.min.js')}}"></script>
   <script src="{{static_url('plugins/datatables/responsive.bootstrap.min.js')}}"></script>
   <script src="{{static_url('plugins/datatables/dataTables.scroller.min.js')}}"></script>
   <script>
        $(document).keydown(function(event){
            if (event.keyCode == 13) { //判断为Enter键
                $("#query_btn").click();
            }
         });

        $("#tagname").bind("input propertychange",function(){
           $("#query_btn").click();
        });

        $("#sync_ywlx").bind("input propertychange",function(){
           $("#query_btn").click();
        });

        $("#sync_type").bind("input propertychange",function(){
           $("#query_btn").click();
        });

        $(document).ready(function() {
            //ace editor
            var editor_full = ace.edit("ace-editor-full");
            editor_full.setTheme("ace/theme/xcode");
            editor_full.getSession().setMode("ace/mode/json");
            editor_full.setOption("wrap", "free");
            editor_full.getSession().setUseWrapMode(true);
            editor_full.setShowPrintMargin(false);
            editor_full.setFontSize(16);
            editor_full.getSession().setUseSoftTabs(true);
            editor_full.setReadOnly(true);

            var editor_incr = ace.edit("ace-editor-incr");
            editor_incr.setTheme("ace/theme/xcode");
            editor_incr.getSession().setMode("ace/mode/json");
            editor_incr.setOption("wrap", "free");
            editor_incr.getSession().setUseWrapMode(true);
            editor_incr.setShowPrintMargin(false);
            editor_incr.setFontSize(16);
            editor_incr.getSession().setUseSoftTabs(true);
            editor_incr.setReadOnly(true);

            $("#query_btn").click(function() {
              $.ajax({
                  url: "/bigdata/_query",
                  type: "post",
                  datatype: "json",
                  data:{
                      sync_tag   : $('#tagname').val(),
                      sync_ywlx  : $('#sync_ywlx').val(),
                      sync_type  : $('#sync_type').val(),
                      sync_env   : $('#sync_env').val()
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                      "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                      "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                      destroy    :true,
                      ordering   :false,
                      async      :true,
                      scrollY    :"700px",
                      scrollX    :true,
                      scrollCollapse: true,
                      paging:     false,
                      // iDisplayLength: 15,
                      //bAutoWidth: true,
                      data: dataSet,
                      columns: [
                        { "title": "标识符"},
                        { "title": "同步标识号"},
                        { "title": "同步标识号","visible":false},
                        { "title": "任务描述"},
                        { "title": "同步服务器" },
                        { "title": "同步方向" },
                        { "title": "运行时间" },
                        { "title": "接口服务器"},
                        { "title": "状态"},
                        {
                            "title":"功能",
                            "width": "25px",
                            "render": function(data,type,row)
                            {
                               p_val=row[0]
                               msg ='&nbsp;'+
                                  '<input class="btn btn-xs btn-primary"  type="button"  value="详情" onclick="showdetail(\''+p_val+'\');"/>' +'&nbsp;'+
                                  '<input class="btn btn-xs btn-primary"  type="button"  value="预览" onclick="showTemplete(\''+p_val+'\');"/>' +'&nbsp;'+
                                  '<input class="btn btn-xs btn-primary"  type="button"  value="下载" onclick="downloads(\''+p_val+'\');"/>';
                               return msg;
                               // return  '<button class="btn btn-xs waves-effect waves-light"  onclick=isSelect("'+p_val+'")><i class="ion-skip-forward"></i></button>'

                            }
                        },
                      ],
                      "language": {
                             "search"       : "在表格中搜索:",
                             "sProcessing"  : "处理中...",
                             "sLengthMenu"  : "显示 _MENU_ 项结果",
                             "sZeroRecords" : "没有匹配结果",
                             "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                             "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                             "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                             "sInfoPostFix" : "",
                             "sSearch"      : "搜索:",
                             "sUrl"         : "",
                             "sEmptyTable"  : "表中数据为空",
                             "sLoadingRecords": "载入中...",
                             "sInfoThousands": ",",
                             "oPaginate": {
                                 "sFirst"   : "首页",
                                 "sPrevious": "上页",
                                 "sNext"    : "下页",
                                 "sLast"    : "末页"
                             },
                             "oAria": {
                                 "sSortAscending" : ": 以升序排列此列",
                                 "sSortDescending": ": 以降序排列此列"
                             }
                         }
                     });
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
            });
            $("#query_btn").click();
        });

        function set_attr(data){
            var  obj = JSON.parse(data);
            console.log('obj=',obj)
            $('#sync_tag').attr("readonly","readonly");
            $('#sync_server').attr("readonly","readonly");
            $('#sour_db_server').attr("readonly","readonly");
            $('#sour_db_name').attr("readonly","readonly");
            $('#sour_tab_name').attr("readonly","readonly");
            $('#sele_sour_tab_cols').attr("readonly","readonly");
            $('#sour_incr_col').attr("readonly","readonly");
            $('#desc_db_server').attr("readonly","readonly");
            $('#hbase_table').attr("readonly","readonly");
            $('#hbase_rowkey').attr("readonly","readonly");
            $('#sync_ywlx2').attr("readonly","readonly");
            $('#sync_data_type').attr("readonly","readonly");
            $('#script_base').attr("readonly","readonly");
            $('#run_time').attr("readonly","readonly");
            $('#task_desc').attr("readonly","readonly");
            $('#datax_home').attr("readonly","readonly");
            $('#sync_time_type').attr("readonly","readonly");
            $('#sync_gap').attr("readonly","readonly");
            $('#api_server').attr("readonly","readonly");
            $('#status').attr("readonly","readonly");
            $('#python3_home').attr("readonly","readonly");
            $('#hbase_thrift').attr("readonly","readonly");
            $('#es_service').attr("readonly","readonly");
            $('#es_index_name').attr("readonly","readonly");
            $('#es_type_name').attr("readonly","readonly");


            $('#sync_tag').attr("value",obj[0]);
            $('#sync_server').attr("value",obj[1]);
            $('#sour_db_server').attr("value",obj[2]);
            $('#sour_db_name').attr("value",obj[3]);
            $('#sour_tab_name').attr("value",obj[4]);

            $("#sele_sour_tab_cols").empty();
            var sele_sour_tab_cols_arr=obj[5].split(',')
            for (i=0;i<sele_sour_tab_cols_arr.length;i++){
                  value=sele_sour_tab_cols_arr[i];
                  $('#sele_sour_tab_cols').append("<option value='"+value+"'>"+value+"</option>");
            }
            //$('#sele_sour_tab_cols').attr("value",obj[5]);
            $('#sour_incr_col').attr("value",obj[6]);
            $('#desc_db_server').attr("value",obj[7]);
            $('#sync_ywlx2').attr("value",obj[8]);
            $('#sync_data_type').attr("value",obj[9]);
            $('#script_base').attr("value",obj[10]);
            $('#run_time').attr("value",obj[11]);
            $('#task_desc').attr("value",obj[12]);
            $('#datax_home').attr("value",obj[13]);
            $('#sync_time_type').attr("value",obj[14]);
            $('#sync_gap').attr("value",obj[15]);
            $('#api_server').attr("value",obj[16]);
            $('#status').attr("value",obj[17]);
            $('#hbase_table').attr("value",obj[18]);
            $('#hbase_rowkey').attr("value",obj[19]);
            $('#python3_home').attr("value",obj[20]);
            $('#hbase_thrift').attr("value",obj[21]);
            $('#es_service').attr("value",obj[22]);
            $('#es_index_name').attr("value",obj[23]);
            $('#es_type_name').attr("value",obj[24]);
        }

        function showdetail(v) {
            console.log('showdetail=',v);
            $.ajax({
                  url: "/bigdata/_query/detail",
                  type: "post",
                  datatype: "json",
                  data:{
                      sync_id: v
                  },
                  success: function (dataSet) {
                      console.log('message=',dataSet.message,'code=',dataSet.code);
                      set_attr(dataSet.message)
                      $('#con-close-modal').modal({
                          keyboard: false,
                          backdrop:false
                       });
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                            setTimeout(" window.location.href='/login'",3000);
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                    }
             });


        }

        function showTemplete(v) {
            var res ;
            console.log('showTemplete=',v);
            $.ajax({
                  url: "/bigdata/_query/detail",
                  type: "post",
                  datatype: "json",
                  async: false,
                  data:{
                      sync_id: v
                  },
                  success: function (dataSet) {
                      console.log('message=',dataSet.message,'code=',dataSet.code);
                      res = dataSet.message
                  }
             });

            console.log('res=',res);
            var  obj = JSON.parse(res);
            if (obj[25] == '5') {
                console.log('hbase_templete');
                $.ajax({
                      url: "/bigdata/_query/templete",
                      type: "post",
                      datatype: "json",
                      data:{
                          sync_id: v
                      },
                      success: function (dataSet) {
                          console.log('message=',dataSet.message,'code=',dataSet.code);
                          console.log('incr_col=',dataSet.message['incr_col']);
                          var editor_full = ace.edit("ace-editor-full");
                          var position = editor_full.getCursorPosition()
                          editor_full.setValue('')
                          editor_full.insert(dataSet.message['full']);
                          editor_full.setReadOnly(true);
                          editor_full.moveCursorToPosition(position);

                          if (dataSet.message['incr_col']!='') {
                              var editor_incr = ace.edit("ace-editor-incr");
                              var position = editor_incr.getCursorPosition()
                              editor_incr.setValue('')
                              editor_incr.insert(dataSet.message['incr']);
                              editor_incr.setReadOnly(true);
                              editor_incr.moveCursorToPosition(position);
                              $('#incr_li').show()
                              $('#ncr-templete').show()
                          } else {
                              $('#incr_li').hide()
                              $('#ncr-templete').hide()
                          }

                          $('#con-close-modal-templete').modal({
                               keyboard: false,
                               backdrop:false
                          });

                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                            setTimeout(" window.location.href='/login'",3000);
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                    }
                });

            } else {
                console.log('es_templete');
                $.ajax({
                      url: "/bigdata/_query/es_templete",
                      type: "post",
                      datatype: "json",
                      data:{
                          sync_id: v
                      },
                      success: function (dataSet) {
                          console.log('message=',dataSet.message,'code=',dataSet.code);
                          console.log('incr_col=',dataSet.message['incr_col']);
                          var editor_full = ace.edit("ace-editor-full");
                          var position = editor_full.getCursorPosition()
                          editor_full.setValue('')
                          editor_full.insert(dataSet.message['full']);
                          editor_full.setReadOnly(true);
                          editor_full.moveCursorToPosition(position);

                          if (dataSet.message['incr_col']!='') {
                              var editor_incr = ace.edit("ace-editor-incr");
                              var position = editor_incr.getCursorPosition()
                              editor_incr.setValue('')
                              editor_incr.insert(dataSet.message['incr']);
                              editor_incr.setReadOnly(true);
                              editor_incr.moveCursorToPosition(position);
                              $('#incr_li').show()
                              $('#ncr-templete').show()
                          } else {
                              $('#incr_li').hide()
                              $('#ncr-templete').hide()
                          }

                          $('#con-close-modal-templete').modal({
                               keyboard: false,
                               backdrop:false
                          });

                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                            setTimeout(" window.location.href='/login'",3000);
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                    }
                });
            }
        }

        function downloads(v){
           console.log('showTemplete=',v);
           $.ajax({
                  url: "/bigdata/_query/downloads",
                  type: "post",
                  datatype: "json",
                  data:{
                      sync_id: v
                  },
                  success: function (dataSet) {
                      console.log('message=',dataSet.message,'code=',dataSet.code);
                      var link  = $("<a/>")
                      link.html('　');
                      link.attr('href',dataSet.message);
                      link.attr('class','link');
                      link.attr('id','download_id');
                      link.attr('name','download_name');
                      link.appendTo('body')
                      link[0].click();
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
        }

   </script>
</body>

</html>