<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dataX同步维护</title>
    <link href="{{static_url('plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
    <style>
        #example{
            width: 100% !important;
        }
        table.datatable tr th, table.datatable tr td {
            white-space: nowrap;
        }
         .modal-lg-detail {
            width:50%;
            height:80%;
            margin-left:400px;
            margin-right:50px;
            margin-top:10px;
        }

        .modal-lg-templete {
            width:60%;
            height:80%;
            margin-left:400px;
            margin-top:10px;
        }

        #ace-editor-full,#ace-editor-incr{
           height:600px;
           overflow-x:auto;
           overflow-y:auto;
       }

        #sele_sour_tab_cols {
            height: 290px;
            max-height: 290px;
        }

        #ace-editor {
            color: #59aed5;
            overflow:auto;
            height: 400px;
        }

        .warning {
            color: #d54c15;
        }

    </style>
</head>
<body>
    <p></p>
    <div class="col-md-12">
         <div class="row">
         <div class="col-md-3">
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id="tagname"  class="form-control" placeholder="请输入标签名">
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">业务类型</span>
                 <select class="form-control select" id="sync_ywlx" >
                    <option value='' selected = "selected">.....</option>
                    {% for var in dm_sync_ywlx %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">数据方向</span>
                 <select class="form-control select" id="sync_type" >
                    <option value='' selected = "selected">.....</option>
                    {% for var in dm_sync_data_type %}
                         <option value={{var[0]}} >{{var[1]}}</option>
                    {% end %}
                </select>
             </div>
         </div>
         <div class="col-md-2">
             <div class="input-group">
                 <span class="input-group-addon">大数据环境</span>
                 <select class="form-control select" id="sync_env" >
                     <option value='' selected = "selected">.....</option>
                     <option  value='prod' >大数据生产</option>
                     <option value='dev' >大数据开发</option>
                     <option value='uat'>大数据测试</option>
                </select>
             </div>
         </div>

         <div class="col-md-1">
             <div class="input-group">
              <span class="input-group-btn">
                <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
      </div>
         <p></p>
         <div class="row">
             <div class="col-md-12">
                  <div id="div-tab">
                       <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"></table>
                  </div>
             </div>
         </div>
        <input  id="sync_tag_tmp" type="hidden"  value= >
         <div class="row">
              <div class="col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
                   <input  id='dsupd' type='button' class="btn waves-effect waves-light btn-primary" value="变更"/>
                   <input  id='dsdel' type='button' class="btn waves-effect waves-light btn-primary" value="删除"/>
                   <input  id='push' type='button' class="btn waves-effect waves-light btn-primary"  value="推送"/>
                   <!--<input  id='pushAll' type='button' class="btn waves-effect waves-light btn-primary"  value="推送全部"/>-->
                   <input  id='run' type='button' class="btn waves-effect waves-light btn-primary"   value="启动"/>
                   <input  id='stop' type='button' class="btn waves-effect waves-light btn-primary"   value="停止"/>
                   <input  id='clone' type='button' class="btn waves-effect waves-light btn-primary"  value="克隆"/>
             </div>
         </div>
         <div id='scrDiv' class='divBG'>
             <div id='spinDiv' class='PopUp'></div>
         </div>
    </div>

    <!--远程任务详情 -->
    <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">任务详情</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div id='ace-editor' class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                   <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
      </div>
    </div><!-- /.modal -->

    <script src="{{static_url('plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.bootstrap.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.buttons.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/buttons.bootstrap.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.responsive.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/responsive.bootstrap.min.js')}}"></script>
    <script src="{{static_url('plugins/datatables/dataTables.scroller.min.js')}}"></script>
    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>

        $(document).keydown(function(event){
            if (event.keyCode == 13) { //判断为Enter键
                $("#query_btn").click();
            }
         });

        function centerModals() {
              $('.modal').each(function(i) {
                var $clone = $(this).clone().css('display', 'block').appendTo('body');
                var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
                top = top > 50 ? top : 0;
                $clone.remove();
                $(this).find('.modal-content').css("margin-top", top - 50);
              });
        }

        $("#tagname").bind("input propertychange",function(){
           $('#dsupd').attr("disabled",true);
           $('#dsdel').attr("disabled",true);
           $('#push').attr("disabled",true);
           $('#run').attr("disabled",true);
           $('#stop').attr("disabled",true);
           $('#clone').attr("disabled",true);
           $("#query_btn").click();
        });

        $("#sync_ywlx").bind("input propertychange",function(){
           $('#dsupd').attr("disabled",true);
           $('#dsdel').attr("disabled",true);
           $('#push').attr("disabled",true);
           $('#run').attr("disabled",true);
           $('#stop').attr("disabled",true);
           $('#clone').attr("disabled",true);
           $("#query_btn").click();
        });

        $("#sync_type").bind("input propertychange",function(){
           $('#dsupd').attr("disabled",true);
           $('#dsdel').attr("disabled",true);
           $('#push').attr("disabled",true);
           $('#run').attr("disabled",true);
           $('#stop').attr("disabled",true);
           $('#clone').attr("disabled",true);
           $("#query_btn").click();
        });

        function isSelect(v) {
           console.log('isSelect=',v)
           $('#sync_tag_tmp').val(v)
           var rec=0;
           $("#example tbody tr td input:checked").each( function() {
              rec=rec+1;
           });
           if ( rec==1 ){
              $('#dsupd').attr("disabled",false);
              $('#dsdel').attr("disabled",false);
              $('#push').attr("disabled",false);
              // $('#pushAll').attr("disabled",false);
              $('#run').attr("disabled",false);
              $('#stop').attr("disabled",false);
              $('#clone').attr("disabled",false);
           } else {
              $('#dsupd').attr("disabled",true);
              $('#dsdel').attr("disabled",true);
              $('#push').attr("disabled",true);
              // $('#pushAll').attr("disabled",true);
              $('#run').attr("disabled",true);
              $('#stop').attr("disabled",true);
              $('#clone').attr("disabled",true);
           }
        }

        $("#query_btn").click(function() {
              $.ajax({
                  url: "/bigdata/_query",
                  type: "post",
                  datatype: "json",
                  data:{
                      sync_tag   : $('#tagname').val(),
                      sync_ywlx  : $('#sync_ywlx').val(),
                      sync_type  : $('#sync_type').val(),
                      sync_env   : $('#sync_env').val()
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          ordering   :false,
                          scrollY    :"650px",
                          scrollX    :true,
                          scrollCollapse: true,
                          paging:     false,
                          // iDisplayLength: 15,
                          data: dataSet,
                          columns: [
                            { "title": "标识符"},
                            { "title": "同步标识号"},
                            { "title": "同步标识号","visible":false},
                            { "title": "任务描述"},
                            { "title": "同步服务器" },
                            { "title": "同步方向" },
                            { "title": "运行时间" },
                            { "title": "接口服务器"},
                            { "title": "状态"},
                            {
                                "title":"选择",
                                "width": "25px",
                                "render": function(data,type,row) {
                                    return '<input type="radio"  name="datax_selec_id"  onclick=isSelect("' + row[2] + '")>'
                                   }
                            },
                          ],
                          "language": {
                                 "search"       : "在表格中搜索:",
                                 "sProcessing"  : "处理中...",
                                 "sLengthMenu"  : "显示 _MENU_ 项结果",
                                 "sZeroRecords" : "没有匹配结果",
                                 "sInfo"        : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                 "sInfoEmpty"   : "显示第 0 至 0 项结果，共 0 项",
                                 "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                                 "sInfoPostFix" : "",
                                 "sSearch"      : "搜索:",
                                 "sUrl"         : "",
                                 "sEmptyTable"  : "表中数据为空",
                                 "sLoadingRecords": "载入中...",
                                 "sInfoThousands": ",",
                                 "oPaginate": {
                                     "sFirst"   : "首页",
                                     "sPrevious": "上页",
                                     "sNext"    : "下页",
                                     "sLast"    : "末页"
                                 },
                                 "oAria": {
                                     "sSortAscending" : ": 以升序排列此列",
                                     "sSortDescending": ": 以降序排列此列"
                                 }
                             }
                         });
                      $('#dsupd').attr("disabled",true);
                      $('#dsdel').attr("disabled",true);
                      $('#push').attr("disabled",true);
                      // $('#pushAll').attr("disabled",true);
                      $('#run').attr("disabled",true);
                      $('#stop').attr("disabled",true);
                      $('#clone').attr("disabled",true);
                 },
                 error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
            });

        $("#push").click(function() {
              var v_tag='';
              var v_desc='';
              $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  v_desc=row[2].innerHTML.replace(/&gt;/g,'>');
                  v_tag=$('#sync_tag_tmp').val()
                  v_api=row[6].innerHTML;
                  console.log("v_tag=",v_tag,"v_api=",v_api)
                  $.ajax({
                          url: "/bigdata/edit/push",
                          type: "post",
                          datatype: "json",
                          data:{
                              tag: v_tag,
                              api: v_api
                          },
                          beforeSend: function () {
                              swal({
                                    title: "正在推送中...",
                                    text: "任务["+v_desc+"]正在推送中...",
                                    type: "info",
                                    showConfirmButton: false
                               });
                          },
                          success: function (dataSet) {
                              if (dataSet['code']== 200) {
                                     swal("推送成功!", "任务["+v_desc+"]已推送成功!", "success");
                                     $('#ace-editor').html(dataSet['msg']['crontab'])
                                     $('.modal').on('show.bs.modal', centerModals);
                                     $(window).on('resize', centerModals);
                                     $('#con-close-modal').modal({ keyboard: false,backdrop:false});
                                     $("#query_btn").click();
                              } else {
                                  swal("推送失败!", "任务["+v_desc+"]推送失败!", "error");
                              }

                              $('#dsupd').attr("disabled",true);
                              $('#dsdel').attr("disabled",true);
                              $('#push').attr("disabled",true);
                              $('#run').attr("disabled",true);
                          },
                          error: function (jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR.responseText=',jqXHR.responseText);
                                console.log('jqXHR.status=',jqXHR.status);
                                console.log('jqXHR.readyState=',jqXHR.readyState);
                                console.log('jqXHR.statusText=',jqXHR.statusText);
                                console.log('textStatus=',textStatus);
                                console.log('errorThrown=',errorThrown);
                                if (jqXHR.status==403){
                                    swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                                    setTimeout(" window.location.href='/login'",3000);
                                } else if (jqXHR.status==502){
                                    swal("用户无权访问权限此功能!", "", "error")
                                } else {
                                    swal("系统不可用,请稍后重试!", "", "error")
                                }
                          }
                  });
              });

        })

        $("#run").click(function() {
              var v_tag='';
              var v_desc='';
              $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  v_desc=row[2].innerHTML.replace(/&gt;/g,'>');
                  v_tag=$('#sync_tag_tmp').val()
                  v_api=row[6].innerHTML;
                  console.log("v_tag=",v_tag)
                  $.ajax({
                          url: "/bigdata/edit/run",
                          type: "post",
                          datatype: "json",
                          data:{
                              tag: v_tag,
                              api: v_api
                          },
                         beforeSend: function () {
                              swal({
                                    title:"正在运行中...",
                                    text: "任务["+v_desc+"]正在运行中...",
                                    type: "info",
                                    showConfirmButton: false
                               });
                          },
                          success: function (dataSet) {
                              console.log(dataSet.code, dataSet.message);
                              if (dataSet.code=='0') {
                                     swal("运行成功!", "任务["+v_desc+"]已运行成功!", "success");
                                     $("#query_btn").click();
                              } else {
                                  swal("运行失败!", "任务["+v_desc+"]"+dataSet.message+"!", "error");
                              }
                              $('#dsupd').attr("disabled",true);
                              $('#dsdel').attr("disabled",true);
                              $('#push').attr("disabled",true);
                              $('#run').attr("disabled",true);
                          },
                          error: function (jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR.responseText=',jqXHR.responseText);
                                console.log('jqXHR.status=',jqXHR.status);
                                console.log('jqXHR.readyState=',jqXHR.readyState);
                                console.log('jqXHR.statusText=',jqXHR.statusText);
                                console.log('textStatus=',textStatus);
                                console.log('errorThrown=',errorThrown);
                                if (jqXHR.status==403){
                                    swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                                    setTimeout(" window.location.href='/login'",3000);
                                } else if (jqXHR.status==502){
                                    swal("用户无权访问权限此功能!", "", "error")
                                } else {
                                    swal("系统不可用,请稍后重试!", "", "error")
                                }
                          }
                  });
              });

        });

        $("#stop").click(function() {
              var v_tag='';
              var v_desc='';
              $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  v_desc=row[2].innerHTML.replace(/&gt;/g,'>');
                  v_tag=$('#sync_tag_tmp').val()
                  v_api=row[6].innerHTML;
                  console.log("v_tag=",v_tag)
                  $.ajax({
                          url: "/bigdata/edit/stop",
                          type: "post",
                          datatype: "json",
                          data:{
                              tag: v_tag,
                              api: v_api
                          },
                          beforeSend: function () {
                              swal({
                                    title:"正在停止中...",
                                    text: "任务["+v_desc+"]正在停止中...",
                                    type: "info",
                                    showConfirmButton: false
                               });
                          },
                          success: function (dataSet) {
                              console.log(dataSet.code, dataSet.message);
                              if (dataSet.code=='0') {
                                     swal("停止成功!", "任务["+v_desc+"]已停止成功!", "success");
                                     $("#query_btn").click();
                              } else {
                                  swal("停止失败!", "任务["+v_desc+"]"+dataSet.message+"!", "error");
                              }
                              $('#dsupd').attr("disabled",true);
                              $('#dsdel').attr("disabled",true);
                              $('#push').attr("disabled",true);
                              $('#run').attr("disabled",true);
                          },
                          error: function (jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR.responseText=',jqXHR.responseText);
                                console.log('jqXHR.status=',jqXHR.status);
                                console.log('jqXHR.readyState=',jqXHR.readyState);
                                console.log('jqXHR.statusText=',jqXHR.statusText);
                                console.log('textStatus=',textStatus);
                                console.log('errorThrown=',errorThrown);
                                if (jqXHR.status==403){
                                    swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                                    setTimeout(" window.location.href='/login'",3000);
                                } else if (jqXHR.status==502){
                                    swal("用户无权访问权限此功能!", "", "error")
                                } else {
                                    swal("系统不可用,请稍后重试!", "", "error")
                                }
                          }
                  });
              });

        });

        $('#dsupd').on('click', function() {
             var syncid='';
             $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  syncid=row[0].innerHTML;
                  console.log("syncid=",syncid)
             });

             $.ajax({
                url: "/bigdata/edit",
                type: "get",
                datatype: "html",
                data: {
                    sync_id:syncid
                },
                success: function () {
                   $('#main-container-div').load("/bigdata/edit?sync_id="+syncid);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             })
        });

        $('#dsdel').on('click', function() {
             var syncid='';
             var syncdesc='';
             $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  syncid=row[0].innerHTML;
                  syncdesc=row[2    ].innerHTML.replace(/&gt;/g,'>');
                  console.log("syncid=",syncid,"syncdesc=",syncdesc)
             });
            swal({
                title: "确认要删除吗?",
                text: "数据源["+syncdesc+"]将被删除了！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是, 删除!",
                cancelButtonText:  "否, 撤销!",
                closeOnConfirm: false,
                closeOnCancel: false
             }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                            url: "/bigdata/edit/del?syncid="+syncid,
                            type: "post",
                            datatype: "json",
                            success: function (dataSet) {
                                if (dataSet.code=='0') {
                                    swal("已删除!", "dataX同步任务["+syncdesc+"]已删除!", "success");
                                    $("#query_btn").click();
                                } else {
                                    swal("删除失败!", "dataX同步任务["+syncdesc+"]"+dataSet.message+"!", "error");
                                }
                            },
                           error: function (jqXHR, textStatus, errorThrown) {
                                console.log('jqXHR.responseText=',jqXHR.responseText);
                                console.log('jqXHR.status=',jqXHR.status);
                                console.log('jqXHR.readyState=',jqXHR.readyState);
                                console.log('jqXHR.statusText=',jqXHR.statusText);
                                console.log('textStatus=',textStatus);
                                console.log('errorThrown=',errorThrown);
                                if (jqXHR.status==403){
                                    swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                                    setTimeout(" window.location.href='/login'",3000);
                                } else if (jqXHR.status==502){
                                    swal("用户无权访问权限此功能!", "", "error")
                                } else {
                                    swal("系统不可用,请稍后重试!", "", "error")
                                }
                          }
                       });

                } else {
                    swal("已取消", "dataX同步任务["+syncdesc+"]未删除！", "error");
                }
            });
        });

        $('#clone').on('click', function() {
             var syncid='';
             $("#example tbody tr td input:checked").each( function() {
                  var row=$(($(this).parent().parent().html()));
                  syncid=row[0].innerHTML;
                  console.log("syncid=",syncid)
             });

             $.ajax({
                url: "/bigdata/clone",
                type: "get",
                datatype: "html",
                data: {
                    sync_id:syncid
                },
                success: function () {
                   $('#main-container-div').load("/bigdata/clone?sync_id="+syncid);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal({title:"您的登陆信息已过期，自动重新登陆!",timer: 3000,showConfirmButton: false});
                        setTimeout(" window.location.href='/login'",3000);
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             })

        });

        $(document).ready(function() {
            $("#query_btn").click();
        });

   </script>
</body>

</html>