 <head>
    <meta charset="utf-8">
    <style>
        #tab-sys-monitor，tab-svr-monitor{
            width: 100% !important;
        }
        .table_td_center {
            text-align: center;
        }
        /* dataTables表头居中 */
        .table > thead:first-child > tr:first-child > th {
            text-align: center;
        }
        .color-warning {
            color:red;
            font-size: 30px;
        }
         .color-success {
            color: #44d954;
            /*color: #d6d90d;*/
            font-size: 30px;
        }

        .progress-bar-success {
            background-color: #2196f3b0;
            line-height: 20px;
        }

        .progress-bar-warning {
            background-color: #f06292;
            line-height: 20px;
        }

        .progress-success {
             background-color: #7fc1fc;
             font-size: 10.8px;
             line-height: 20px;
        }

        .progress-warning {
             background-color: #fc7fb0a1;
             font-size: 10.8px;
             line-height: 20px;
        }
        #monitor_review {
            width:100%;
            height:350px;
        }
        .modal-lg-detail {
              margin-left:250px;
              margin-top:80px;
              width:85%;
              height:65%;
              max-height: 400px;
        }

    </style>

 </head>
 <body>
    <!--数据库监控情况 -->
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills m-b-30 pull-left">
                <li class="active">
                    <a href="#sys-monitor" data-toggle="tab" aria-expanded="true">系统监控</a>
                </li>
                <li id='incr_li' class="">
                    <a href="#svr-monitor" data-toggle="tab" aria-expanded="false">服务监控</a>
                </li>
                <li id='proj_li' class="">
                    <a href="#proj-monitor" data-toggle="tab" aria-expanded="false">外网监控</a>
                </li>
                <li id='api_li' class="">
                    <a href="#api-monitor" data-toggle="tab" aria-expanded="false">接口监控</a>
                </li>
            </ul>
            <div class="tab-content br-n pn">
                <div id="sys-monitor" class="tab-pane active">
                     <div class="row">
                     </div>
                     <div class="row">
                            <div class="col-md-4">
                                <span class="label text-primary">合生通&nbsp;</span>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio1" value="hst-dev" name="radioInline_sys" >
                                    <label for="inlineRadio1">开发</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio2" value="hst-test" name="radioInline_sys" >
                                    <label for="inlineRadio2">测试</label>
                                </div>
                               <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio3" value="hst-pre" name="radioInline_sys" >
                                    <label for="inlineRadio3">预发布</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio4" value="hst-prod" name="radioInline_sys" checked>
                                    <label for="inlineRadio4">生产</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio6" value="hst-proj" name="radioInline_sys" >
                                    <label for="inlineRadio6">项目</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                  <span class="label text-danger">平台组&nbsp;</span>
                                  <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio25" value="platform-prod" name="radioInline_sys" checked>
                                    <label for="inlineRadio25">生产</label>
                                  </div>
                            </div>
                            <div class="col-md-2">
                                  <span class="label text-danger">商管&nbsp;</span>
                                  <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio31" value="sg-prod" name="radioInline_sys" checked>
                                    <label for="inlineRadio31">生产</label>
                                  </div>
                            </div>
                            <div class="col-md-2 input-group">
                                <input type="text" id="search_text_sys" class="form-control">
                                <span class="input-group-btn">
                                   <button type="button"  class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div id='div-sys-monitor' class="col-md-12">
                               <table id="tab-sys-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                            </div>
                        </div>
                </div>
                <div id="svr-monitor" class="tab-pane">
                     <div class="row">
                     </div>
                     <div class="row">
                          <div class="col-md-4">
                                <span class="label text-primary">合生通&nbsp;</span>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio41" value="hst-dev" name="radioInline_svr" >
                                    <label for="inlineRadio41">开发</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio42" value="hst-test" name="radioInline_svr" >
                                    <label for="inlineRadio42">测试</label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio43" value="hst-pre" name="radioInline_svr" >
                                    <label for="inlineRadio43">预发布</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio44" value="hst-prod" name="radioInline_svr" >
                                    <label for="inlineRadio44">生产</label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio45" value="hst-proj" name="radioInline_svr" >
                                    <label for="inlineRadio6">项目</label>
                                </div>
                          </div>
                          <div class="col-md-2">
                              <span class="label text-danger">平台组&nbsp;</span>
                              <div class="radio radio-inline">
                                <input type="radio" id="inlineRadio55" value="platform-prod" name="radioInline_svr" checked>
                                <label for="inlineRadio31">生产</label>
                              </div>
                          </div>
                          <div class="col-md-2">
                                <span class="label text-danger">商管&nbsp;</span>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio61" value="sg-prod" name="radioInline_svr"  checked>
                                    <label for="inlineRadio61">商管</label>
                                </div>
                          </div>
                          <div class="col-md-2 input-group">
                            <input type="text" id="search_text_svr" class="form-control">
                            <span class="input-group-btn">
                               <button type="button"  class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                          </div>
                     </div>
                     <div class="row">
                        <div id='div-svr-monitor' class="col-md-12">
                            <table id="tab-svr-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                        </div>
                    </div>
                </div>
                <div id="proj-monitor" class="tab-pane">
                     <div class="row">
                     </div>
                     <div class="row">
                        <div id='div-proj-monitor' class="col-md-12">
                            <table id="tab-proj-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                        </div>
                    </div>
                </div>
                <div id="api-monitor" class="tab-pane">
                     <div class="row">
                     </div>
                     <div class="row">
                        <div id='div-api-monitor' class="col-md-12">
                            <table id="tab-api-monitor" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%"  height="100%" ></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--图表放大窗口 -->
    <div id="con-modal-img-win" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
       <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id='monitor_review_title' style="color:cornflowerblue" class="modal-title">图表预览</h4>
            </div>
            <div class="modal-body">
               <div class="panel panel-flat">
                    <div class="panel-body">
                         <form class="form-horizontal" role="form">
                            <div class="form-group" >
                               <div class="col-md-1" align="right">
                                    <div class="input-group">
                                        <label class="control-label">开始日期</label>
                                    </div>
                               </div>
                               <div class="col-md-2">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="ion-ios7-clock-outline"></i></span>
                                        <input  id="begin_date"  type="text" value="" class="form-control datetimepicker"  readonly >
                                        <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                    </div>
                               </div>
                               <div class="col-md-1" align="right">
                                    <div class="input-group text-right">
                                      <label class="control-label">结束日期&nbsp;</label>
                                    </div>
                               </div>
                               <div class="col-md-2">
                                  <div class="input-group">
                                      <span class="input-group-addon"><i class="ion-ios7-alarm-outline"></i></span>
                                      <input  id="end_date"  type="text" value="" class="form-control datetimepicker"  readonly  >
                                      <span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span>
                                  </div>
                               </div>
                               <div class="col-md-2">
                                   <div class="input-group">
                                        <span class="input-group-btn">
                                           <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                                        </span>
                                   </div>
                               </div>

                            </div>
                         </form>
                         <div class="col-md-12">
                             <div class="panel panel-border panel-primary">
                                <div class="panel-body fixed-panel">
                                    <div id='monitor_review'></div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
         </div>
      </div>
     </div>

    <input id='current_tab_hidden' type='hidden'>
    <input id='current_image_hidden' type='hidden'>
    <input id='current_market_hidden' type='hidden'>
    <script src="{{static_url('assets/pages/jquery.form-datetime-pickers.init.js')}}"></script>

    <script>
          //获取系统监控数据
          function get_sys_monitor(){
              $.ajax({
              url: "/monitor/view/sys",
              type: "post",
              datatype: "json",
              data:{
                      env: $("input[name='radioInline_sys']:checked").val(),
                      search_text:$('#search_text_sys').val()
              },
              success: function (dataSet) {
                 $('#tab-sys-monitor').DataTable( {
                          "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                          "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                          destroy    :true,
                          async      :true,
                          ordering   :true,
                          //scrollY    :"600px",
                          scrollY    :true,
                          scrollX    :false,
                          paging     : false,
                          data       : dataSet.data,
                          autoFill   : false,
                          bAutoWidth : false,
                          info       : true,
                          columns: [
                            { "title": "服务器描述","width":"15%"},
                            { "title": "服务器地址","width":"10%"},
                            { "title": "CPU使用率","className"  : 'table_td_center'},
                            { "title": "内存使用率","className" : 'table_td_center'},
                            { "title": "磁盘使用率","className" : 'table_td_center'},
                            { "title": "磁盘读写","className"   : 'table_td_center'},
                            { "title": "网络流量","className"   : 'table_td_center'},
                            { "title": "采集时间","className"   : 'table_td_center'},
                            { "title": "状态",   "className"   : 'table_td_center'},
                          ],
                          columnDefs: [
                              {
                                    targets: 2,
                                    render: function(data, type, row, meta){
                                        var process=row[2].replace('%','')
                                        if (process>=dataSet.index['cpu_total_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                    targets: 3,
                                    render: function(data, type, row, meta){
                                        var process=row[3].replace('%','')
                                        if (process>=dataSet.index['mem_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                   targets: 4,
                                    render: function(data, type, row, meta){
                                        var process=row[4].replace('%','')
                                        if (process>=dataSet.index['disk_usage']*100) {
                                            msg ='<div class=\"progress progress-md progress-warning \">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-warning\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;

                                        } else {
                                            msg ='<div class=\"progress progress-success progress-md\">'+
                                                     '<div class=\"progress-bar progress-bar-striped progress-bar-success\" role=\"progressbar\" aria-valuenow=\"'+process+'\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:'+process+'%;">'+
                                                        process+'%'+
                                                     '</div>'+
                                                  '</div>'
                                            return msg;
                                        }
                                     }
                              },
                              {
                                  targets: 8,
                                  render: function (data, type, row, meta) {
                                      if (row[8] == '100') {
                                          b = '<i class="ion-ios7-lightbulb color-success"></i>'
                                          return b
                                      } else {
                                          b = '<i class="ion-ios7-bell color-warning"></i>'
                                          return b
                                      }
                                      return  '<i class="ion-ios7-bell color-warning"></i>'
                                  }
                              }
                          ],
                         "language": get_languages()
                     });

                  if (dataSet.data.length>0){

                     for (i=0;i<dataSet.data.length;i++) {

                         if (dataSet.data[i][2].replace('%','')>=dataSet.index['cpu_total_usage']*100) {
                             showtips('error',dataSet.data[i][0],'CPU使用率'+dataSet.data[i][2]+'异常!');
                         }
                         if (dataSet.data[i][3].replace('%','')>=dataSet.index['mem_usage']*100) {
                             showtips('error',dataSet.data[i][0],'内存使用率'+dataSet.data[i][3]+'异常!');
                         }
                         if (dataSet.data[i][4].replace('%','')>=dataSet.index['disk_usage']*100) {
                             showtips('error',dataSet.data[i][0],'磁盘使用率'+dataSet.data[i][4]+'异常!');
                         }
                         if (dataSet.data[i][8]=='0') {
                             showtips('error',dataSet.data[i][0],'系统不可用!');
                         }
                     }
                  }
              }

             });
          }

          //获取系统服务监控数据
          function get_svr_mon_data(){
              $.ajax({
              url: "/monitor/view/svr",
              type: "post",
              data:{
                      env: $("input[name='radioInline_svr']:checked").val(),
                      search_text:$('#search_text_svr').val()
              },
              datatype: "json",
              success: function (dataSet) {
                 $('#tab-svr-monitor').DataTable( {
                      "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                      "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                      destroy    :true,
                      async      :true,
                      ordering   :true,
                      scrollY    : true,
                      scrollX    : false,
                      paging     : false,
                      data       : dataSet.data,
                      autoFill   : false,
                      bAutoWidth : false,
                      info       : true,
                      columns: [
                        { "title": "服务器描述","width":"10%"},
                        {
                             "title":"MySQL服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[1].split(',').length;i++) {
                                   var  status = row[1].split(',')[i].split('@')[0]
                                   var  dbid   = row[1].split(',')[i].split('@')[1]
                                   var  rqq    = row[1].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL捷顺车流",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[2].split(',').length;i++) {
                                   var  status = row[2].split(',')[i].split('@')[0]
                                   var  dbid   = row[2].split(',')[i].split('@')[1]
                                   var  rqq    = row[2].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                          },
                         {
                             "title":"MSSQL汇纳客流",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[3].split(',').length;i++) {
                                   var  status = row[3].split(',')[i].split('@')[0]
                                   var  dbid   = row[3].split(',')[i].split('@')[1]
                                   var  rqq    = row[3].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL德利多富",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[5].split(',').length;i++) {
                                   var  status = row[5].split(',')[i].split('@')[0]
                                   var  dbid   = row[5].split(',')[i].split('@')[1]
                                   var  rqq    = row[5].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"MSSQL商管",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[6].split(',').length;i++) {
                                   var  status = row[6].split(',')[i].split('@')[0]
                                   var  dbid   = row[6].split(',')[i].split('@')[1]
                                   var  rqq    = row[6].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Oracle商管",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[7].split(',').length;i++) {
                                   var  status = row[7].split(',')[i].split('@')[0]
                                   var  dbid   = row[7].split(',')[i].split('@')[1]
                                   var  rqq    = row[7].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Redis服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[8].split(',').length;i++) {
                                   var  status = row[8].split(',')[i].split('@')[0]
                                   var  dbid   = row[8].split(',')[i].split('@')[1]
                                   var  rqq    = row[8].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"Mongo服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[9].split(',').length;i++) {
                                   var  status = row[9].split(',')[i].split('@')[0]
                                   var  dbid   = row[9].split(',')[i].split('@')[1]
                                   var  rqq    = row[9].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                         {
                             "title":"ElasticSearch服务",
                             "className" : 'table_td_center',
                             "render": function(data,type,row,meta) {
                               var  tmp='';
                               var  result='';
                               for (i=0;i<row[10].split(',').length;i++) {
                                   var  status = row[10].split(',')[i].split('@')[0]
                                   var  dbid   = row[10].split(',')[i].split('@')[1]
                                   var  rqq    = row[10].split(',')[i].split('@')[2]
                                   var  rqz    = GetDate(2)
                                   if (status=='1') {
                                       if (GetDateDiff(rqq, rqz, "minute")>10) {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                       } else {
                                           tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-success"></i>'
                                       }
                                   } else if (status=='0') {
                                      tmp='<i id="db@'+dbid+'@'+rqq+'" class="ion-ios7-lightbulb color-warning"></i>'
                                   } else {
                                      tmp=''
                                   }
                                   result=result+'&nbsp;&nbsp;'+tmp+'&nbsp;&nbsp;';
                               }
                               return result
                            }
                         },
                      ],
                     "language": get_languages()
                 });

                 if (dataSet.warning.length>0) {
                     for (i=0;i<dataSet.warning.length;i++) {
                         //console.log('dataSet.warning.mysql=',dataSet.warning[i][1],dataSet.warning[i][2])
                         if (dataSet.warning[i][1]=='0') {
                             showtips('error',dataSet.warning[i][0],'MySQL(项目)数据库服务异常!');
                         }
                         if (dataSet.warning[i][2]=='0') {
                             showtips('error',dataSet.warning[i][0],'MSSQL(车流)数据库服务异常!');
                         }
                         if (dataSet.warning[i][3]=='0') {
                             showtips('error',dataSet.warning[i][0],'MSSQL(客流)数据库服务异常!');
                         }
                         if (dataSet.warning[i][4]=='0') {
                             showtips('error',dataSet.warning[i][0],'MSSQL(反向寻车)服务异常!');
                         }
                         if (dataSet.warning[i][5]=='0') {
                             showtips('error',dataSet.warning[i][0],'MSSQL德利多富服务异常!');
                         }
                         if (dataSet.warning[i][6]=='0') {
                             showtips('error',dataSet.warning[i][0],'MSSQL商管服务异常!');
                         }
                         if (dataSet.warning[i][7]=='0') {
                             showtips('error',dataSet.warning[i][0],'Oracle商管服务异常!');
                         }
                         if (dataSet.warning[i][8]=='0') {
                             showtips('error',dataSet.warning[i][0],'redis服务异常!');
                         }
                         if (dataSet.warning[i][9]=='0') {
                             showtips('error',dataSet.warning[i][0],'mongo服务异常!');
                         }
                         if (dataSet.warning[i][10]=='0') {
                             showtips('error',dataSet.warning[i][0],'ElasticSearch服务异常!');
                         }
                     }
                 }
              }
           });
          }

          //获取应用接口数据
          function get_api_monitor(){
              $.ajax({
                  url: "/monitor/view/api",
                  type: "post",
                  datatype: "json",
                  success: function (dataSet) {
                     $('#tab-api-monitor').DataTable( {
                              "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                              "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                              destroy    : true,
                              async      : true,
                              ordering   : true,
                              scrollY    : true,
                              scrollX    : false,
                              paging     : false,
                              data       : dataSet.data,
                              autoFill   : false,
                              bAutoWidth : false,
                              info       : true,
                              columns: [
                                { "title": "项目编码","width":"10%"},
                                { "title": "项目名称"},
                                { "title": "采集服务器"},
                                { "title": "接口地址","visible":false},
                                { "title": "接口状态","className" : 'table_td_center'},
                                { "title": "响应时间(毫秒)","className" : 'table_td_center'},
                                { "title": "更新时间","className" : 'table_td_center'},
                                { "title": "请求体","visible":false},
                                { "title": "详情","className" : 'table_td_center'},
                              ],
                              columnDefs: [
                                  {
                                        targets: 4,
                                        render: function(data, type, row){
                                            var  api_status   = row[4]
                                            var  update_time  = row[6]
                                            var  market_id    = row[0]
                                            if (api_status != '200') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-warning"></i>'
                                                    return msg;
                                             } else {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-success"></i>'
                                                    return msg;
                                             }
                                        }
                                  },
                                  {
                                      targets:8,
                                      render: function (data, type, row, meta) {
                                            //var  msg ='&nbsp;'+'<input class="btn btn-xs btn-primary"  type="button"  value="查看历史" onclick="show_api_grapha(\''+JSON.stringify(row)+'\');"/>' +'&nbsp;';
                                            var  msg ='&nbsp;'+'<input class="btn btn-xs btn-primary"  type="button"  value="查看历史" onclick="show_api_grapha(\''+escape(row)+'\');"/>' +'&nbsp;';
                                            //console.log(JSON.stringify(row))
                                            return msg ;
                                      }
                                  }
                              ],
                             "language": get_languages()
                         });

                  }
             });
          }

           //获取项目外网数据
          function get_proj_monitor(){
              $.ajax({
                  url: "/monitor/view/proj",
                  type: "post",
                  datatype: "json",
                  success: function (dataSet) {
                     //console.log( 'get_proj_monitor=',dataSet.data)
                     $('#tab-proj-monitor').DataTable( {
                              "stripeClasses": [ 'cell-border', 'cell-border', 'cell-border' ],
                              "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                              destroy    : true,
                              async      : true,
                              ordering   : true,
                              scrollY    : true,
                              scrollX    : false,
                              paging     : false,
                              data       : dataSet.data,
                              autoFill   : false,
                              bAutoWidth : false,
                              info       : true,
                              columns: [
                                { "title": "项目编码","width":"10%"},
                                { "title": "项目名称"},
                                { "title": "电信IP"},
                                { "title": "电信状态","className" : 'table_td_center'},
                                { "title": "联通IP"},
                                { "title": "联通状态","className" : 'table_td_center'},
                                { "title": "链路状态","className" : 'table_td_center'},
                                { "title": "更新时间","className" : 'table_td_center'},
                                { "title": "详情","className" : 'table_td_center'},
                              ],
                              columnDefs: [
                                  {
                                        targets: 3,
                                        render: function(data, type, row){
                                            var  market_id    = row[0]
                                            var  update_time  = row[7]
                                            if (row[3] == 'False') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-warning"></i>'
                                                    return msg;
                                             } else  if (row[3] == 'True') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-success"></i>'
                                                    return msg;
                                             } else {
                                                    return '';
                                             }
                                        }
                                  },
                                  {
                                        targets: 5,
                                        render: function(data, type, row, meta){
                                            var  market_id    = row[0]
                                            var  update_time  = row[7]
                                            if (row[5] == 'False') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-warning"></i>'
                                                    return msg;
                                             } else  if (row[5] == 'True') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-success"></i>'
                                                    return msg;
                                             } else {
                                                    return '';
                                             }
                                        }
                                  },
                                  {
                                      targets: 6,
                                      render: function (data, type, row, meta) {
                                            var  market_id    = row[0]
                                            var  update_time  = row[7]
                                            if (row[6] == 'False') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-warning"></i>'
                                                    return msg;
                                             } else  if (row[6] == 'True') {
                                                    msg ='<i id="net@'+market_id+'@'+update_time+'" class="ion-ios7-lightbulb color-success"></i>'
                                                    return msg;
                                             } else {
                                                    return '';
                                             }
                                      }
                                  },
                                  {
                                      targets:8,
                                      render: function (data, type, row, meta) {
                                            var  market_id    = row[0]
                                            var  market_name    = row[1]
                                            var  msg ='&nbsp;'+'<input class="btn btn-xs btn-primary"  type="button"  value="查看历史" onclick="show_proj_grapha(\''+market_id+'@'+market_name+'\');"/>' +'&nbsp;';
                                            return msg ;
                                      }
                                  }
                              ],
                             "language": get_languages()
                         });

                  }
             });
          }

          // 获取图表数据
          function get_contents_from_div_large(p_market_id) {
              $.ajax({
                    url: "/monitor/view/proj/log",
                    type: "post",
                    data: {
                        'market_id'   : p_market_id,
                        'begin_date'  : $('#begin_date').val(),
                        'end_date'    : $('#end_date').val()
                    },
                    datatype: "json",
                    success: function (dataSet) {
                        get_charts_large('链路历史',dataSet.x, dataSet.y,'#edc4a7')
                    }
              });
          }

            // 获取图表数据
          function get_contents_from_div_large_api(p_market_id) {
              $.ajax({
                    url: "/monitor/view/api/log",
                    type: "post",
                    data: {
                        'market_id'   : p_market_id,
                        'begin_date'  : $('#begin_date').val(),
                        'end_date'    : $('#end_date').val()
                    },
                    datatype: "json",
                    success: function (dataSet) {
                        get_charts_large_label('停简单接口调用图表',dataSet.x, dataSet.y,'#edc4a7','请求时间[时:分]','响应时长[毫秒]')
                    }
              });
          }

          function show_proj_grapha(p_market){
              p_market_id = p_market.split('@')[0]
              p_market_name =p_market.split('@')[1]
              $('#begin_date').val(GetDate(3));
              $('#end_date').val(GetDate(2));
              $('#monitor_review_title').text(p_market_name+'链路图表');
              $('#current_image_hidden').val('proj')
              $('#current_market_hidden').val(p_market_id)
              get_contents_from_div_large(p_market_id);
              $('.modal').on('show.bs.modal', centerModals);
              $(window).on('resize', centerModals);
              $('#con-modal-img-win').modal({
                  keyboard: false,
                  backdrop:false
              });
          }

          function show_api_grapha(p_row){
              row = unescape(p_row).split(',')
              p_market_id = row[0]
              p_market_name =row[2]
              p_api_interface=row[3]
              p_api_request_body=row[7]+','+row[8]
              p_curl='curl -H "Content-Type: application/json" -X POST -d \''+p_api_request_body+'\''+'&nbsp;&nbsp;'+ p_api_interface
              $('#begin_date').val(get_hour(1));
              $('#end_date').val(get_hour(0));
              $('#monitor_review_title').html(
                  '<h4>'+p_market_name+'</h4>'+
                  '接口：<span>'+p_api_interface+'</span><br>'+
                  '请求体：<span>'+p_api_request_body+'</span><br>'+
                  'curl命令：<span>'+p_curl+'</span><br>'
              )

              // $('#monitor_review_title').text(p_market_name)

              $('#current_image_hidden').val('api')
              $('#current_market_hidden').val(p_market_id)
              get_contents_from_div_large_api(p_market_id);
              $('.modal').on('show.bs.modal', centerModals);
              $(window).on('resize', centerModals);
              $('#con-modal-img-win').modal({
                  keyboard: false,
                  backdrop:false
              });
          }

          //标签页事件监听
          $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
              var activeTab = $(e.target).text();
              var previousTab = $(e.relatedTarget).text();
              $('#current_tab_hidden').val(activeTab)
              if (activeTab=='系统监控') {
                  get_sys_monitor()
              }

              if (activeTab=='服务监控') {
                 get_svr_mon_data()
              }

               if (activeTab=='外网监控') {
                 get_proj_monitor()
               }

               if (activeTab=='接口监控') {
                 get_api_monitor()
               }
           })

          //查询当前活动页内容
          function updateMonData() {
              if ($('#current_tab_hidden').val()=='系统监控') {
                  get_sys_monitor()
              }
              if ($('#current_tab_hidden').val()=='服务监控') {
                  get_svr_mon_data()
              }
          }

          $(document).ready(function() {

               //首次加载系统监控
               get_sys_monitor()

               //当前当活页设置为系统监控
               $('#current_tab_hidden').val('系统监控')

               //通每3秒刷新一次
               timer = setInterval("updateMonData()",60000);

               $('input[type=radio][name=radioInline_sys]').change(function() {
                    get_sys_monitor();
               });

               $('input[type=radio][name=radioInline_svr]').change(function() {
                    get_svr_mon_data();
               });

               $("#search_text_sys").bind("input propertychange",function(){
                   get_sys_monitor();
               });

               $("#search_text_svr").bind("input propertychange",function(){
                   get_svr_mon_data();
               });

          })

         $("#tab-svr-monitor").on("click","td i",function(){
             var id = $(this).attr('id').split('@')[1];
             var rq = $(this).attr('id').split('@')[2];
             $.ajax({
                  url: "/get_ds",
                  type: "post",
                  datatype: "json",
                  data: {
                    dsid: id, //$(this).find('i').attr('id').split('db')[1],
                 },
                 success: function (dataSet) {
                      if (dataSet.code=='0') {
                          showtips('info',
                               dataSet.message['db_desc']+'<br>'+
                               '地址：'+dataSet.message['ip']+'<br>'+
                               '端口：'+dataSet.message['port']+'<br>'+
                               '数据库：'+dataSet.message['service']+'<br>'+
                               '时间：'+rq
                          );
                      }
                  }
             })
         })

         $('#query_btn').click(function(){
            if ($('#current_image_hidden').val() == 'api') {
                get_contents_from_div_large_api($('#current_market_hidden').val());
            }
            if ($('#current_image_hidden').val() == 'proj') {
                get_contents_from_div_large($('#current_market_hidden').val());
            }
         })

    </script>

 </body>