<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>备份维护</title>
    <style>
        #example {
            width: 100% !important;
        }

        .modal-lg-detail {
            width: 65%;
            height: 80%;
        }

        #ace-editor {
            color: #59aed5;
            overflow: auto;
            height: 400px;
        }

        .warning {
            color: #d54c15;
        }

        .ellipsis {
            white-space: nowrap;       /* 不换行 */
            overflow: hidden;          /* 超出隐藏 */
            text-overflow: ellipsis;   /* 超出显示省略号 */
            max-width: 200px;          /* 最大宽度，可以根据需要调整 */
            display: inline-block;     /* 使 max-width 生效 */
            vertical-align: middle;    /* 文字垂直居中 */
        }
    </style>
</head>
<body>
<p></p>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" id="tagname" class="form-control" placeholder="请输入标签名">
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">数据库环境</span>
                <select class="form-control select" id="db_env">
                    <option value='' selected="selected">.....</option>
                    {% for var in dm_env_type %}
                    <option value={{var[0]}}>{{var[1]}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">数据库类型</span>
                <select class="form-control select" id="db_type">
                    <option value='' selected="selected">.....</option>
                    {% for var in dm_db_type %}
                    <option value={{var[0]}}>{{var[1]}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">任务状态</span>
                <select class="form-control select" id="db_status">
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                </select>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id='query_btn' class="btn waves-effect waves-light btn-primary"><i
                            class="fa fa-search"></i></button>
                  </span>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-12">
            <div id="div-tab">
                <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                       width="100%" height="100%"></table>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
            <input id='dsupd' type='button' class="btn waves-effect waves-light btn-primary" value="变更"/>
            <input id='dsdel' type='button' class="btn waves-effect waves-light btn-primary" value="删除"/>
            <input id='push' type='button' class="btn waves-effect waves-light btn-primary" value="推送"/>
            <input id='run' type='button' class="btn waves-effect waves-light btn-primary" value="启动"/>
            <input id='stop' type='button' class="btn waves-effect waves-light btn-primary" value="停止"/>
        </div>
    </div>
</div>
<span>&nbsp;</span>

<!--远程任务详情 -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">任务详情</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id='ace-editor' class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal -->

<script>

    function isSelect() {
        if (isSelectTable('example')) {
            set_button_status(false);
        } else {
            set_button_status(true);
        }
    }

    function set_button_status(p_status) {
        $('#dsupd').attr("disabled", p_status);
        $('#dsdel').attr("disabled", p_status);
        $('#push').attr("disabled", p_status);
        $('#run').attr("disabled", p_status);
        $('#stop').attr("disabled", p_status);
    }

    function query_data() {
        set_button_status(true);
        $("#query_btn").click();
    }

    $("#tagname").bind("input propertychange", function () {
        query_data();
    });

    $("#db_env").bind("input propertychange", function () {
        query_data();
    });

    $("#db_type").bind("input propertychange", function () {
        query_data();
    });

    $("#query_btn").click(function () {
        $.ajax({
            url: "/backup/_query",
            type: "post",
            datatype: "json",
            data: {
                tagname: $('#tagname').val(),
                db_env: $('#db_env').val(),
                db_type: $('#db_type').val(),
                db_status: $('#db_status').val(),
            },
            success: function (dataSet) {
                $('#example').DataTable({
                    "stripeClasses": ['cell-border', 'cell-border', 'cell-border'],
                    "dom": '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                    destroy: true,
                    async: true,
                    ordering: false,
                    scrollY: false,
                    scrollX: false,
                    scrollCollapse: true,
                    paging: true,
                    iDisplayLength: 10,
                    data: dataSet,
                    columns: [
                        {"title": "标识符"},
                        {"title": "任务描述"},
                        {"title": "标签名"},
                        {"title": "备份有效期"},
                        {"title": "运行时间"},
                        {"title": "备份服务器"},
                        {"title": "接口服务器"},
                        {"title": "备份状态"},
                        {"title": "任务状态"},
                        {
                            "title": "选择",
                            "width": "25px",
                            "render": function (data, type, row) {
                                return '<input type="radio" name="userid" onclick="isSelect();" >';
                            }
                        },
                    ],
                     columnDefs: [
                      {
                            targets: 1,
                             render: function(data, type, row, meta) {
                                    if(type === 'display' || type === 'filter'){
                                        return '<div class="ellipsis" title="' + data + '">' + data + '</div>';
                                    }
                                    return data;
                             }
                        },
                        {
                            targets: 2,
                             render: function(data, type, row, meta) {
                                    if(type === 'display' || type === 'filter'){
                                        return '<div class="ellipsis" title="' + data + '">' + data + '</div>';
                                    }
                                    return data;
                             }
                        }
                     ],
                    "language": get_languages()
                });
                set_button_status(true)
            },
        });
    });

    $("#push").click(function () {
        var v_tag = '';
        var v_desc = '';
        $("#example tbody tr td input:checked").each(function () {
            var row = $(($(this).parent().parent().html()));
            v_desc = row[1].innerHTML;
            v_tag = row[2].innerHTML;
            v_api = row[6].innerHTML;
            console.log("v_tag=", v_tag)
            $.ajax({
                url: "/backup/edit/push",
                type: "post",
                datatype: "json",
                data: {
                    tag: v_tag,
                    api: v_api
                },
                beforeSend: function () {
                    swal({
                        title: "正在推送中...",
                        text: "任务[" + v_desc + "]正在推送中...",
                        type: "info",
                        showConfirmButton: false
                    });
                },
                success: function (dataSet) {
                    if (dataSet['code'] == 200) {
                        swal("推送成功!", "任务[" + v_desc + "]已推送成功!", "success");
                        $('#ace-editor').html(dataSet['msg'])
                        $('.modal').on('show.bs.modal', centerModals);
                        $(window).on('resize', centerModals);
                        $('#con-close-modal').modal({keyboard: false, backdrop: false});

                        $("#query_btn").click();
                    } else {
                        swal("推送失败!", "任务[" + v_desc + "]推送失败!", "error");
                    }
                    $('#dsupd').attr("disabled", true);
                    $('#dsdel').attr("disabled", true);
                    $('#push').attr("disabled", true);
                    $('#run').attr("disabled", true);
                },
            });
        });

    });

    $("#run").click(function () {
        var v_tag = '';
        var v_desc = '';
        $("#example tbody tr td input:checked").each(function () {
            var row = $(($(this).parent().parent().html()));
            v_desc = row[1].innerHTML;
            v_tag = row[2].innerHTML;
            v_api = row[6].innerHTML;
            $.ajax({
                url: "/backup/edit/run",
                type: "post",
                datatype: "json",
                data: {
                    tag: v_tag,
                    api: v_api
                },
                success: function (dataSet) {
                    if (dataSet.code == 200) {
                        swal("运行成功!", "任务[" + v_desc + "]已运行成功!", "success");
                    } else {
                        swal("运行失败!", "任务[" + v_desc + "]" + dataSet.message + "!", "error");
                    }
                    query_data();
                },
            });
        });

    });

    $("#stop").click(function () {
        var v_tag = '';
        var v_desc = '';
        $("#example tbody tr td input:checked").each(function () {
            var row = $(($(this).parent().parent().html()));
            v_desc = row[1].innerHTML;
            v_tag = row[2].innerHTML;
            v_api = row[6].innerHTML;
            $.ajax({
                url: "/backup/edit/stop",
                type: "post",
                datatype: "json",
                data: {
                    tag: v_tag,
                    api: v_api
                },
                success: function (dataSet) {
                    if (dataSet.code == 200) {
                        swal("停止成功!", "任务[" + v_desc + "]已运行成功!", "success");
                    } else if (dataSet.code == -2) {
                        swal("停止失败!", "任务[" + v_desc + "]未运行!", "info");
                    } else {
                        swal("停止失败!", "任务[" + v_desc + "]停止发生异常!", "error");
                    }
                    query_data();
                },
            });
        });

    });

    $('#dsupd').on('click', function () {
        var backupid = '';
        $("#example tbody tr td input:checked").each(function () {
            var row = $(($(this).parent().parent().html()));
            backupid = row[0].innerHTML;
        });

        $.ajax({
            url: "/backup/edit",
            type: "get",
            datatype: "html",
            data: {
                backupid: backupid
            },
            success: function () {
                $('#main-container-div').load("/backup/edit?backupid=" + backupid);
            },
        })

    });

    $('#dsdel').on('click', function () {
        var backupid = '';
        var backupdesc = '';
        $("#example tbody tr td input:checked").each(function () {
            var row = $(($(this).parent().parent().html()));
            backupid = row[0].innerHTML;
            backupdesc = row[1].innerHTML;
            console.log("backupid=", backupid, "backupdesc=", backupdesc)
        });
        swal({
            title: "确认要删除吗?",
            text: "数据源[" + backupdesc + "]将被删除了！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "是, 删除!",
            cancelButtonText: "否, 撤销!",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/backup/edit/del?backupid=" + backupid,
                    type: "post",
                    datatype: "json",
                    success: function (dataSet) {
                        if (dataSet.code == '0') {
                            swal("已删除!", "数据源[" + backupdesc + "]已删除!", "success");
                            $("#query_btn").click();
                        } else {
                            swal("删除失败!", "用户[" + backupdesc + "]" + dataSet.message + "!", "error");
                        }
                    },
                });

            } else {
                swal("已取消", "数据源[" + backupdesc + "]未删除！", "error");
            }
        });
    });

    $(document).keydown(function (event) {
        if (event.keyCode == 13) { //判断为Enter键
            $("#query_btn").click();
        }
    });

    $(document).ready(function () {
        $("#query_btn").click();
    });

</script>
</body>

</html>