<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜单新增</title>
    <!-- Sweet Alert -->
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">

</head>
<body>
   <p></p>
   <div class="col-md-6">
       <form class="form-horizontal" role="form">
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_menu_name">*</span>菜单名称</label>
                </div>
                <div class="col-md-10">
                    <input id="name"  type="text" class="form-control" placeholder="请输入菜单名称">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label">功能链接</label>
                </div>
                <div class="col-md-10">
                    <input id="url"  type="text" class="form-control" placeholder="请输入功能链接">
                </div>
           </div>
           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_menu_status">*</span>菜单状态</label>
                </div>
               <div class="col-md-10">
                    <select class="form-control select" id="status" name="status">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
               </div>
            </div>

           <div class="form-group">
                <div>
                    <label class="col-md-2 control-label"><span id="s_menu_parent">*</span>上级节点</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" id="parent_id" >
                        {% for var in menus %}
                           <option value={{var[0]}} >{{var[1]}}</option>
                        {% end %}
                    </select>
                </div>
           </div>
           <br>
           <div class="form-group m-b-0">
                <div class="col-sm-offset-6 col-sm-9">
                  <button id="add" type="button" class="btn btn-custom waves-effect waves-light btn-md">保存</button>
                </div>
           </div>
       </form>
    </div>

    <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>

        function set_selected(){
            document.all['s_menu_name'].style.color="#ff0000";
            document.all['s_menu_status'].style.color="#ff0000";
            document.all['s_menu_parent'].style.color="#ff0000";
        }

        $(document).ready(function() {
          set_selected()
          $("#add").click(function () {
            $.ajax({
                url: "/menu/add/save",
                type: "post",
                datatype: "json",
                data: {
                     name:      $('#name').val(),
                     url:       $('#url').val(),
                     status:    $('#status').val(),
                     parent_id: $('#parent_id').val()
                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    if (dataSet.code==0) {
                       swal("保存成功", "", "success")
                    } else {
                       swal(dataSet.message, "", "error")
                    }
                },
               error: function (jqXHR, textStatus, errorThrown) {
                    console.log('jqXHR.responseText=',jqXHR.responseText);
                    console.log('jqXHR.status=',jqXHR.status);
                    console.log('jqXHR.readyState=',jqXHR.readyState);
                    console.log('jqXHR.statusText=',jqXHR.statusText);
                    console.log('textStatus=',textStatus);
                    console.log('errorThrown=',errorThrown);
                    if (jqXHR.status==403){
                        swal("登陆信息已过期，请重新登陆!", "", "error")
                        window.location.href='/login'
                    } else if (jqXHR.status==502){
                        swal("用户无权访问权限此功能!", "", "error")
                    } else {
                        swal("系统不可用,请稍后重试!", "", "error")
                    }
                }
             });
          });

        });

   </script>
</body>

</html>