<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据源变更</title>
    <link href="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.css')}}" rel="stylesheet" type="text/css">
    <!-- Notification css (Toastr) -->
    <link href="{{static_url('plugins/toastr/toastr.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{static_url('assets/css/components.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
   <p></p>
   <form class="form-horizontal" role="form">
       <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                   <input  id="dsid" type="hidden" name="dsid" value={{dsid}} >
                   <div>
                        <label class="col-md-2 control-label"><span id="s_ds_market_id">*</span>项目编码</label>
                   </div>
                   <div class="col-md-10">
                        <select class="form-control select" id="market_id" >
                            <option value='' selected = "selected">......</option>
                             {% for var in dm_proj_type %}
                                   {%  if var[0]==market_id %}
                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                   {% else %}
                                       <option value={{var[0]}}>{{var[1]}}</option>
                                   {% end %}
                             {% end %}
                        </select>
                   </div>
               </div>
         </div>
       </div>

        <div class="row">
              <div class="col-md-6">
                   <div class="form-group">
                        <div>
                            <label class="col-md-2 control-label"><span id="s_ds_inst_type">*</span>实例类型</label>
                        </div>
                        <div class="col-md-10">
                            <select class="form-control select" id="inst_type" >
                                  <option value='' selected = "selected">......</option>
                                  {% for var in dm_inst_type %}
                                      {%  if var[0]==inst_type %}
                                          <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                      {% else %}
                                           <option value={{var[0]}}>{{var[1]}}</option>
                                      {% end %}
                                  {% end %}
                            </select>
                       </div>
                   </div>
              </div>
       </div>
       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_db_type">*</span>数据库类型</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="db_type" >
                               {% for var in dm_db_type %}
                                   {%  if var[0]==db_type %}
                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                   {% else %}
                                       <option value={{var[0]}}>{{var[1]}}</option>
                                   {% end %}
                                {% end %}
                        </select>
                   </div>
               </div>
              </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_db_env">*</span>数据库环境</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="db_env" >
                           {% for var in dm_db_env %}
                               {%  if var[0]==db_env %}
                                  <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                               {% else %}
                                   <option value={{var[0]}}>{{var[1]}}</option>
                               {% end %}
                            {% end %}
                        </select>
                   </div>
               </div>
            </div>
       </div>


       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_db_desc">*</span>数据源描述</label>
                    </div>
                    <div class="col-md-10">
                        <input id="db_desc" type="text" class="form-control" placeholder="请输入数据源描述" value="{{db_desc}}">
                    </div>
               </div>
            </div>
       </div>


       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_ip">*</span>数据源地址</label>
                    </div>
                    <div class="col-md-10">
                        <input id="ip" type="text" class="form-control" value="{{ip}}">
                    </div>
               </div>
            </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_port">*</span>数据源端口</label>
                    </div>
                    <div class="col-md-10">
                        <input id="port" type="text" class="form-control" value="{{port}}">
                    </div>
               </div>
            </div>
       </div>


       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label">数据源服务名</label>
                    </div>
                    <div class="col-md-10">
                        <input id="service" type="text" class="form-control" value="{{service}}">
                    </div>
               </div>
            </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_user">*</span>数据源用户</label>
                    </div>
                    <div class="col-md-10">
                        <input id="user" type="text" class="form-control" value="{{user}}">
                    </div>
               </div>
            </div>
       </div>


       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_pass">*</span>数据源口令</label>
                    </div>
                    <div class="col-md-10">
                        <input id="pass" name="pass" type="password" class="form-control" value="{{password}}">
                    </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="form-group">
                    <div>
                          <button type="button" tabindex="0" id='query_password' class="btn btn-xs waves-effect waves-light" role="button" data-toggle="popover" data-trigger="focus" title="" data-content="支持多表传输，表间用逗号隔开！" data-original-title="小提示">
                            <i class="ion-help"></i>
                         </button>
                    </div>
               </div>
           </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label"><span id="s_ds_status">*</span>数据源状态</label>
                    </div>
                   <div class="col-md-10">
                        <select class="form-control select" id="status" name="status">
                            {% if status=='1' %}
                               <option value="1" selected = "selected">启用</option>
                               <option value="0">禁用</option>
                            {% end %}

                            {% if status=='0' %}
                                <option value='0' selected = "selected">禁用</option>
                                <option value="1">启用</option>
                            {% end %}
                        </select>
                   </div>
               </div>
            </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label">是否启用代理</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="proxy_status" name="status">
                            {% if proxy_status=='1' %}
                               <option value="1" selected = "selected">启用</option>
                               <option value="0">禁用</option>
                            {% end %}

                            {% if proxy_status=='0' %}
                                <option value='0' selected = "selected">禁用</option>
                                <option value="1">启用</option>
                            {% end %}
                        </select>
                   </div>
               </div>
            </div>
       </div>

       <div class="row">
           <div class="col-md-6">
               <div class="form-group">
                    <div>
                        <label class="col-md-2 control-label">数据库代理</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control select" id="proxy_server" >
                           {% if proxy_status=='1' %}
                               {% for var in dm_ds_proxy %}
                                   {% if var[0] == proxy_server %}
                                      <option value={{var[0]}} selected = "selected">{{var[1]}}</option>
                                   {% else %}
                                      <option value={{var[0]}}>{{var[1]}}</option>
                                   {% end %}
                               {% end %}
                           {% end %}

                           {% if proxy_status=='0' %}
                                <option value='' selected = "selected">......</option>
                           {% end %}
                        </select>
                   </div>
               </div>
            </div>
       </div>

       <br>
       <div class="row">
           <div class="col-md-6">
               <div class="form-group m-b-0">
                    <div class="col-sm-offset-6 col-sm-9">
                      <button id="save" type="button" class="btn btn-custom waves-effect waves-light btn-md">变更</button>
                      <button id="return" type="button" class="btn btn-custom waves-effect waves-light btn-md">返回</button>
                    </div>
               </div>
           </div>
       </div>
     </form>

     <!-- Sweet-Alert  -->
    <script src="{{static_url('plugins/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>

    <script>

        function set_selected(){
            document.all['s_ds_market_id'].style.color="#ff0000";
            document.all['s_ds_inst_type'].style.color="#ff0000";
            document.all['s_ds_db_type'].style.color="#ff0000";
            document.all['s_ds_db_env'].style.color="#ff0000";
            document.all['s_ds_db_desc'].style.color="#ff0000";
            document.all['s_ds_ip'].style.color="#ff0000";
            document.all['s_ds_port'].style.color="#ff0000";
            document.all['s_ds_user'].style.color="#ff0000";
            document.all['s_ds_pass'].style.color="#ff0000";
            document.all['s_ds_status'].style.color="#ff0000";
        }

        set_selected()

        $('#return').on('click', function() {
           $('#main-container-div').load('/ds/change');
        });

        $('#proxy_status').change(function() {
            if ($('#proxy_status').val() == '0') {
                $("#proxy_server").empty();
                $("#proxy_server").append("<option value='' selected = 'selected'>......</option>");
             } else {
                $.ajax({
                    url: "/get/dmm/dm",
                    type: "post",
                    datatype: "json",
                    data: {
                        dm :'26',
                    },
                    success: function (dataSet) {
                         console.log('proxy_status=',dataSet);
                         $("#proxy_server").empty();
                         $("#proxy_server").append("<option value='' selected = 'selected'>......</option>");
                         for(i=0;i<dataSet.length;i++){
                              var val  = dataSet[i][0];
                              var text = dataSet[i][1];
                              $("#proxy_server").append("<option value='"+val+"'>"+text+"</option>");
                         }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('jqXHR.responseText=',jqXHR.responseText);
                        console.log('jqXHR.status=',jqXHR.status);
                        console.log('jqXHR.readyState=',jqXHR.readyState);
                        console.log('jqXHR.statusText=',jqXHR.statusText);
                        console.log('textStatus=',textStatus);
                        console.log('errorThrown=',errorThrown);
                        if (jqXHR.status==403){
                            swal("登陆信息已过期，请重新登陆!", "", "error")
                            window.location.href='/login'
                        } else if (jqXHR.status==502){
                            swal("用户无权访问权限此功能!", "", "error")
                        } else {
                            swal("系统不可用,请稍后重试!", "", "error")
                        }
                    }
              });
           }
        });

        $("#save").click(function () {
          console.log(" status:",$('#status').val())
          $.ajax({
            url: "/ds/edit/save",
            type: "post",
            datatype: "json",
            data: {
                    market_id     :$('#market_id').val(),
                    inst_type     :$('#inst_type').val(),
                    dsid          :$('#dsid').val(),
                    db_type       :$('#db_type').val(),
                    db_env        :$('#db_env').val(),
                    db_desc       :$('#db_desc').val(),
                    ip            :$('#ip').val(),
                    port          :$('#port').val(),
                    service       :$('#service').val(),
                    user          :$('#user').val(),
                    pass          :$('#pass').val(),
                    status        :$('#status').val(),
                    proxy_status  :$('#proxy_status').val(),
                    proxy_server  :$('#proxy_server').val(),
            },
            success: function (dataSet) {
                console.log(dataSet.code, dataSet.message);
                if (dataSet.code==0) {
                   swal("变更成功", "", "success")
                } else {
                   swal(dataSet.message, "", "error")
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR.responseText=',jqXHR.responseText);
                console.log('jqXHR.status=',jqXHR.status);
                console.log('jqXHR.readyState=',jqXHR.readyState);
                console.log('jqXHR.statusText=',jqXHR.statusText);
                console.log('textStatus=',textStatus);
                console.log('errorThrown=',errorThrown);
                if (jqXHR.status==403){
                    swal("登陆信息已过期，请重新登陆!", "", "error")
                    window.location.href='/login'
                } else if (jqXHR.status==502){
                    swal("用户无权访问权限此功能!", "", "error")
                } else {
                    swal("系统不可用,请稍后重试!", "", "error")
                }
            }
         });
      });

        $('#query_password').tooltipster({
          content: $('#pass').val(),
          multiple: true,
          position: 'right'
        });

   </script>
</body>

</html>