<html>
<head>
    <title>工单详情</title>
    <link href="{{static_url('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ace.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugins/editors/ace/ext-language_tools.js')}}"></script>
    <script type="text/javascript" src="{{static_url('plugins/editors/src-min/mode-mysql.js')}}"></script>
    <style>
        .xwtable {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ccc;
        }

        .xwtable thead td {
            font-size: 12px;
            color: #333333;
            text-align: center;
            border: 1px solid #ccc;
            font-weight: bold;
        }

        .xwtable thead th {
            font-size: 12px;
            color: #333333;
            text-align: center;
            border: 1px solid #ccc;
            font-weight: bold;
        }

        .xwtable tbody tr {
            background: #fff;
            font-size: 14px;
            color: #666666;
        }

        .xwtable tbody tr.alt-row {
            background: #f2f7fc;
        }

        .xwtable td {
            line-height: 20px;
            text-align: left;
            padding: 4px 10px 3px 10px;
            height: 18px;
            border: 1px solid #a88c8c;
        }

        #ace-editor-exec {
            height: 180px;
        }

        #ace-editor-roll {
            height: 150px;
        }

    </style>
</head>

<body>
<h1 align="center">工单{{wkno['message']}}详情</h1>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <table class="xwtable">
         {% for key in wkno %}
            {% if key == 'id' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9;"><label>工单ID</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'message' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>工单编号</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'db' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>数据库名</label></td>
                <td><span>{{dbinfo}}</span></td>
            </tr>
            {% end %}
            {% if key == 'sqltext' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>执行语句</label></td>
                <td>
                    <div id='ace-editor-exec'>{% raw wkno[key] %}</div>
                </td>
            </tr>
            {% end %}

            {% if key == 'status_name' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>运行状态</label></td>
                <td>
                    <span>{{wkno[key]}}</span>
                </td>
            </tr>
            {% end %}

            {% if key == 'creation_date' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>提交日期</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'creator_name' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>提交人员</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}

            {% if key == 'audit_date' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>审核日期</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'auditor_name' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>审核人员</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}

            {% if key == 'executor_name' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>执行人员</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'exec_start' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>开始时间</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'exec_end' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>完成时间</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'exec_end' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>回滚语句</label></td>
                <td>
                    <div id='ace-editor-roll'>{% raw roll['message']['rollback'] %}</div>
                </td>
            </tr>
            {% end %}
            {% if key == 'binlog_file' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>binlog文件</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'start_pos' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>开始位置</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% if key == 'stop_pos' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>结束位置</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}

            {% if key == 'error' %}
            <tr>
                <td style="width:100px;text-align:center;background-color: #c6d9d9"><label>错误信息</label></td>
                <td><span>{{wkno[key]}}</span></td>
            </tr>
            {% end %}
            {% end %}
        </table>
    </div>
    <div class="col-md-1">
    </div>
</div>
</body>

<script src="{{static_url('assets/js/jquery.min.js')}}"></script>
<script src="{{static_url('assets/js/bootstrap.min.js')}}"></script>
<script>
    $(document).ready(function () {
        var editor1 = ace.edit("ace-editor-exec");
        editor1.setTheme("ace/theme/xcode");
        editor1.getSession().setMode("ace/mode/sql");
        editor1.setShowPrintMargin(false);
        editor1.setFontSize(16);
        editor1.getSession().setUseSoftTabs(true);
        editor1.setReadOnly(true);

        var editor2 = ace.edit("ace-editor-roll");
        editor2.setTheme("ace/theme/xcode");
        editor2.getSession().setMode("ace/mode/sql");
        editor2.setShowPrintMargin(false);
        editor2.setFontSize(16);
        editor2.getSession().setUseSoftTabs(true);
        editor2.setReadOnly(true);

    });

</script>

</html>