<html>
<head>
    <title>SQL审核</title>
    <style>
        .modal-lg-detail {
            width :60%;
            height:20%;
        }
         #ace-editor {
           height:280px;
        }
        .table th{
            text-align: center;
            vertical-align: middle!important;
        }
    </style>

</head>

<body>
    <p></p>
    <div class="row">
        <div class="col-md-12">
           <div class="col-md-3">
               <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="name"  class="form-control" placeholder="请输入关键字">
               </div>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                     <span class="input-group-addon">数据库环境</span>
                       <select class="form-control select" id="db_audit_source">
                            <option value='' selected = "selected">...</option>
                            {% for var in audit_dss %}
                              <option value={{var[0]}}>{{var[1]}}</option>
                            {% end %}
                       </select>
                 </div>
            </div>
            <div class="col-md-3">
                 <div class="input-group">
                    <span class="input-group-addon">发布人</span>
                      <select class="selectpicker" data-live-search="true" data-style="btn-default" id="sql_creater">
                            <option value='' selected = "selected">...</option>
                            {% for var in creater %}
                              <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                            {% end %}
                       </select>
                 </div>
             </div>

             <div class="col-md-1">
               <div class="input-group">
                    <span class="input-group-btn">
                       <button type="button"  id='query_btn' class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                    </span>
               </div>
            </div>

        </div>
     </div>
    <p></p>
    <div class="row">
         <div class="col-md-12">
              <div id="div-tab">
                   <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"  height="100%" ></table>
              </div>
         </div>
     </div>

     <!--工单审核  -->
     <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">工单审核</h4>
            </div>
            <div class="modal-body">
                <input id="sql_id" type="hidden"  value='' >
                <div class="row">
                    <label>运行实例：</label>
                    <span id ='run_db_detail' style="color:red"></span>
                </div>
                <input id="sql_status" type="hidden"  value='' >
                <div class="row">
                    <label>发布原因：</label>
                    <span id ='reason_detail'></span>
                </div>
                <div class="row">
                    <label>运行时间：</label>
                    <span id ='run_time_detail' style="color:red"></span>
                </div>
                <div class="row">
                    <label>执行语句：</label>
                    <div id='ace-editor' class="col-md-12"></div>
                </div>
                <br>
                <div class="row">
                    <div >
                        <label class="col-md-3 control-label">审核结果：</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control select" id="audit_result">
                            <option value='1' selected = "selected">审核成功</option>
                            <option value='2' >审核失改</option>
                        </select>
                   </div>
                </div>
                <br>
                <div class="row">
                    <div >
                        <label class="col-md-3 control-label">失败原因：</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" style="min-width: 90%" id="audit_message"></textarea>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" id="auditSql" >审核</button>
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

</body>

<script type="text/javascript">

      $(document).ready(function() {
          //可搜索选择框初始化
          $('.selectpicker').selectpicker({
              size: 10
          });
          $(":file").filestyle({input: false});

          //ace editor
          var editor = ace.edit("ace-editor");
          editor.setTheme("ace/theme/xcode");
          editor.getSession().setMode("ace/mode/sql");
          editor.setShowPrintMargin(false);
          editor.setFontSize(16);
          editor.getSession().setUseSoftTabs(true);
          editor.setReadOnly(true);

          $('#audit').attr("disabled",true);

          $("#query_btn").click(function() {
                var name = $("#name").val();
                var dsid = $("#db_audit_source").val();
                var creater  = $("#sql_creater").val();

                $.ajax({
                  url: "/sql/audit/query",
                  type: "post",
                  datatype: "json",
                  data:{
                      qname:name,
                      dsid:dsid,
                      creater:creater
                  },
                  success: function (dataSet) {
                      $('#example').DataTable( {
                      "dom"      : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                      destroy    :true,
                      async      :true,
                      ordering   :false,
                      scrollY    :false,
                      scrollX    :false,
                      scrollCollapse: true,
                      paging:     true,
                      iDisplayLength: 16,
                      data: dataSet,
                      columns: [
                         { "title": "工单编号" },
                         { "title": "工单描述" },
                         { "title": "工单状态" },
                         { "title": "工单类型" },
                         { "title": "数据库环境"},
                         { "title": "运行库" },
                         { "title": "发布人" },
                         { "title": "发布时间"},
                         { "title": "审核人"},
                         { "title": "审核时间"},
                         { "title": "操作"},
                       ],
                        columnDefs: [
                        {
                            targets: 10,
                            render: function(data, type, row, meta){
                                 var id=row[0]
                                 var status=row[2]
                                 if (status=='已发布') {
                                    msg ='&nbsp;'+
                                          '<input class="btn btn-xs btn-primary"  type="button"  value="审核" onclick="show_audit(\''+id+','+status+'\');"/>' +'&nbsp;'
                                    return msg;
                                 } else {
                                    msg ='&nbsp;'+
                                          '<input class="btn btn-xs btn-primary disabled"  type="button"  value="审核" onclick="show_audit(\''+id+','+status+'\');"/>' +'&nbsp;'
                                    return msg;
                                 }
                            }
                         }
                        ],
                      "language": get_languages()
                    });
                  },
              })
          });

          $('#audit').on('click', function() {
             rec=0;
             var sqlid='';
             $("#example tbody tr td input:checked").each( function() {
                  row=$(($(this).parent().parent().html()));
                  sqlid=row[0].innerHTML;
              });

             $.ajax({
                url: "/sql/_audit",
                type: "post",
                datatype: "json",
                data:{sqlid: sqlid},
                success: function (dataSet) {
                    swal(dataSet.message, "", "info")
                },
            });

            $("#query_btn").click();
        });

          $("#query_btn").click();

      });

      function show_audit(msg){
         id =msg.split(',')[0]
         status =msg.split(',')[1]
         $.ajax({
                url      : "/sql/audit/detail",
                type     : "post",
                datatype : "json",
                data     : {
                    id: id
                },
                success: function (dataSet) {
                    $('#sql_id').val(id);
                    $('#sql_status').val(status);
                    if (status=='已发布') {
                        $('#auditSql').removeAttr("disabled");
                    } else {
                        $('#auditSql').attr("disabled","disabled");
                    }

                    set_audit_btn();
                    var editor = ace.edit("ace-editor");
                    editor.setValue('')
                    editor.insert(format_sql(dataSet.message.sqltext))
                    editor.setReadOnly(true);
                    $('#run_time_detail').text(dataSet.message.run_time)
                    $('#reason_detail').text(dataSet.message.reason)

                    if (dataSet.message.ds.url.indexOf(dataSet.message.ds.service)==-1 ) {
                         $('#run_db_detail').text(dataSet.message.ds.db_desc+'-'+dataSet.message.ds.url+ dataSet.message.ds.service)
                    } else {
                         $('#run_db_detail').text(dataSet.message.ds.db_desc+'-'+ataSet.message.ds.url)
                    }
                    $('.modal').on('show.bs.modal', centerModals);
                    $(window).on('resize', centerModals);
                    $('#con-close-modal').modal({
                       keyboard: false,
                       backdrop:false
                    })
                },
        });
    }

    $('#auditSql').click(function(){
         $('#auditSql').attr("disabled","disabled");
         $.ajax({
                url: "/sql/_audit",
                type: "post",
                datatype: "json",
                data:{
                    sqlid   : $('#sql_id').val(),
                    status  : $('#audit_result').val(),
                    message : $('#audit_message').val()
                },
                success: function (dataSet) {
                    console.log(dataSet.code, dataSet.message);
                    if (dataSet.code == '-1') {
                       $('#auditSql').removeAttr("disabled");
                    }
                    swal(dataSet.message);
                    $("#query_btn").click();
                },
        });
    });

    $('#db_source').change(function() {
        console.log('db_source=',$('#db_source').val());
        if ($('#db_source').val()!=''){
            $.ajax({
                  url: "/get_database",
                  type: "post",
                  datatype: "json",
                  data:{
                      dbid : $('#db_source').val(),
                  },
                  success: function (dataSet) {
                     $("#db_name").empty();
                     $("#db_name").append("<option value=''>...</option>");
                     for(i=0;i<dataSet['message'].length;i++){
                          var val  = dataSet['message'][i];
                          var text = dataSet['message'][i];
                          $("#db_name").append("<option value='"+val+"'>"+text+"</option>");
                     }
                  }
            });
        } else {
            $("#db_name").empty();
            $("#db_name").append("<option value=''>...</option>");
        }
     });

    function set_audit_btn(){
       if ($('#audit_result').val()=='1') {
           $('#audit_message').val('');
           $('#audit_message').attr("disabled","disabled");
       } else {
           $('#audit_message').val('');
           $('#audit_message').removeAttr("disabled");
       }
    }

    $('#audit_result').change(function(){
       set_audit_btn();
    });

 </script>

</html>