<html>
<head>
    <meta charset="utf-8">
    <title>数据库查询</title>
    <style>
       .cur_db {
            font-size: 15px;
        }
       #example{
            font-size:14px;
       }
       #db_tree{
            font-size:13px;
       }
       #db_title{
           font-size: 15px;
           color: #329ba3;
           margin-bottom: 10px;
       }

       footer {
            border-top: 1px solid rgba(152, 166, 173, 0.2);
            bottom: 0;
            text-align: left !important;
            padding: 19px 30px 20px;
            position: absolute;
            right: 0;
            left: 225px;
        }

       #div-tree-panal,#ace-editor-panal,#div-table-panal {
          display:none;
       }

      .modal-lg-detail {
            width :60%;
            height:30%;
      }

      .modal-lg-demo {
            width :60%;
            height:30%;
      }

      #example{
         width: 100% !important;
      }

    </style>
</head>

<body>
   <p></p>
   <div class="row">
        <form class="form-horizontal" role="form">
           <div class="col-md-3">
                <div class="form-group">
                    <div>
                        <label class="col-md-3 control-label">数据源：</label>
                    </div>
                    <div class="col-md-8">
                         <select class="selectpicker" data-live-search="true" data-style="btn-default" id="db_source">
                            <option value='' selected = "selected">...</option>
                            {% for var in dss %}
                              <option value={{var[0]}} title={{var[1]}}>{{var[1]}}</option>
                            {% end %}
                         </select>
                   </div>
                </div>
           </div>

           <div  class="col-md-3">
                <div class="col-md-1">
                    <button type="button"  class="btn btn-xs waves-effect waves-light" ><i class="ti-layout-menu-v"></i></i></button>
                </div>
                <div class="col-md-11">
                      <select class="selectpicker" data-live-search="true" data-style="btn-default" id="curr_db">
                          <option value='' selected = "selected">...</option>
                      </select>
                </div>
            </div>
            <div  class="col-md-3">
                <div class="col-md-1">
                    <button type="button"  class="btn btn-xs waves-effect waves-light" ><i class="ion-android-timer"></i></i></button>
                </div>
                <div class="col-md-11">
                    <input id="filter_db" type="text" class="form-control" placeholder="请输入过虑条件">
                </div>
           </div>

           <div  class="col-md-3">
                <div class="form-group">
                      <button type="button" id='query_btn'   class="btn btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="查询" data-original-title="查询"><i class="fa fa-search"></i></button>
                      <button type="button" id='beauty_btn'  class="btn btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="美化" data-original-title="美化"><i class="mdi mdi-yelp"></i></button>
                      <button type="button" id='demo_btn'    disabled class="btn btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="示例" data-original-title="示例"><i class="mdi mdi-help"></i></button>
                     &nbsp;<span id="query_time"></span>
                 </div>
           </div>
         </form>
    </div>
   <p></p>
   <div class="row">
        <div class="col-lg-3">
            <div id='div-tree-panal' class="panel panel-border panel-info" >
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <span id='db_title'></span>
                    <div id='div-tree'>
                        <div id="db_tree" ></div>
                    </div>

                </div>
            </div>
       </div>
       <div class="col-lg-9">
            <div id='ace-editor-panal' class="panel panel-border panel-primary" >
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div id="ace-editor" ></div>
                </div>
            </div>

            <div id='div-table-panal' class="panel panel-border panel-primary" >
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div id='div-table'>
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" ></table>
                    </div>
                    <div id='div-result'>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">正在查询中，请稍候...</h4>
            </div>

        </div>
     </div>
   </div><!-- /.modal -->

   <div id="con-close-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">正在加载中，请稍候...</h4>
            </div>

        </div>
     </div>
   </div><!-- /.modal -->

   <!--查看DDL详情  -->
   <div id="con-close-modal-ddl" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-detail">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id='ddl-header'></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id='ace-editor-tab-defi' class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

   <!--查看DEMO详情  -->
   <div id="con-close-modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg-demo">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id='demo-header'></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id='ace-editor-demo' class="col-md-12"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="button" class="btn btn-custom waves-effect waves-light btn-md" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
   </div><!-- /.modal -->

   <input type='hidden' id='h_tab_height'>

   <script type="text/javascript">

        function set_screen_size(n_height){
             // console.log('height:'+n_height)
             //1366*768(100%)
             if (n_height <= 657)
             {
                   console.log('1366*768(100%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.625);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.20);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.4);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.55)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }
              //1366*768(80%)
             if (n_height ==821)
             {
                   console.log('1366*768(80%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.725);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.45);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.7)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

             //1440*1050(100%)、1680*1050（100%）
             if (n_height==939)
             {
                   console.log('1440*1050(100%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.725);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.45);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.7)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

             //1440*1050(80%)、1680*1050（100%）
             if (n_height==1174) {
                   console.log('1440*1050(80%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.8);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.53);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.75)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

            //1440*900(100%)、1600*900（100%）
             if (n_height == 789 )
             {
                   console.log('1440*900(80%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.71);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.43);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.7)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

             //1440*900(80%)、1600*900（80%）
             if (n_height == 986 )
             {
                   console.log('1440*900(80%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.75);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.48);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.75)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

             //1920*1080(100%)
             if (n_height == 969 )
             {
                   console.log('1920*1080(100%) :'+n_height+'px')
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.77);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.5);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.75)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

             //1920*1080(80%)
             if (n_height == 1211 )
             {
                   console.log('1920*1080(100%):'+n_height)
                   //set div_tree style
                   $("#div-tree-panal").css("height",n_height*0.81);
                   $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
                   $("#div-tree").css("border",1);
                   $("#div-tree").css("overflow-x","auto");
                   $("#div-tree").css("overflow-y","auto");

                   //set ace_editor style
                   $("#ace-editor-panal").css("height",n_height*0.25);
                   $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
                   $("#ace-editor").css("width","100%");
                   $("#ace-editor").css("border",1);
                   $("#ace-editor").css("overflow-x","auto");

                   //set div_table style
                   $("#div-table-panal").css("height",n_height*0.542);
                   $("#div-table").css("height",$("#div-table-panal").height()*1);
                   $("#div-table").css("width","100%");
                   $("#div-table").css("border",1);
                   $("#div-table").css("overflow-x","auto");
                   $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.77)+'px')
                   // console.log('h_tab_height=',$("#h_tab_height").val())
                   return
             }

            //set div_tree style
            $("#div-tree-panal").css("height",n_height*0.725);
            $("#div-tree").css("height",$("#div-tree-panal").height()*0.93);
            $("#div-tree").css("border",1);
            $("#div-tree").css("overflow-x","auto");
            $("#div-tree").css("overflow-y","auto");

            //set ace_editor style
            $("#ace-editor-panal").css("height",n_height*0.25);
            $("#ace-editor").css("height",$("#ace-editor-panal").height()*0.8);
            $("#ace-editor").css("width","100%");
            $("#ace-editor").css("border",1);
            $("#ace-editor").css("overflow-x","auto");

            //set div_table style
            $("#div-table-panal").css("height",n_height*0.45);
            $("#div-table").css("height",$("#div-table-panal").height()*1);
            $("#div-table").css("width","100%");
            $("#div-table").css("border",1);
            $("#div-table").css("overflow-x","auto");
            $("#h_tab_height").val(Math.trunc($("#div-table-panal").height()*0.7)+'px')
            // console.log('h_tab_height=',$("#h_tab_height").val())

        }

        function set_styles() {
             set_screen_size($(window).height())
             $('#div-tree-panal').show()
             $('#ace-editor-panal').show()
             $('#div-table-panal').show()
             $('#con-close-modal2').modal('hide');
        }

        $(window).resize(function () {
            set_styles()
        })

        $(document).ready(function() {

             Function.prototype.getMultiLine = function() {
                var lines = new String(this);
                lines = lines.substring(lines.indexOf("/*") + 3, lines.lastIndexOf("*/"));
                return lines;
             }

             var mongo_demo = function() {
                /*
                db.monitorLog.find({"terminalNo":"10000201"}).limit(5)
                db.getCollection('monitorLog').find({"terminalNo":"10000201"}).limit(2)
                db.monitorLog.find({"terminalNo":"10000201"},{"terminalNo":1}).limit(5)
                db.monitorLog.find({"terminalNo":"10000201"},{"terminalNo":1,"ip":1}).limit(5)
                db.getCollection('monitorLog').find({"terminalNo":"10000201"},{"terminalNo":1}).limit(5)
                db.getCollection('monitorLog').find({"terminalNo":"10000201"},{"terminalNo":1,"ip":1}).limit(5)
                db.monitorLog.find({}).limit(10)
                db.getCollection('monitorLog').find({}).limit(5)
                db.monitorLog.find({},{"terminalNo":1}).limit(10)
                db.monitorLog.find({'_id':ObjectId("5d5e5f338488d5000145b343")})
                db.getCollection('monitorLog').find({'_id':ObjectId("5d5e5f338488d5000145b343")})
                db.monitorLog.find({'_id':ObjectId("5d5e5f338488d5000145b343")},{"terminalNo":1}}).limit(5)
                db.monitorLog.find({"_id":{$in:[ObjectId("5d5e5f338488d5000145b343")]}}).limit(3)
                db.monitorLog.find({"_id":{$in:[ObjectId("5d5e5f338488d5000145b343"),ObjectId("5d5e5fc88488d5000145b344")]}}).limit(3)
                db.monitorLog.find({"_id":{$in:[ObjectId("5d5e5f338488d5000145b343"),ObjectId("5d5e5fc88488d5000145b344")]}},{"terminalNo":1}).limit(5)
                db.monitorLog.find({"logType" : 1},{"terminalNo":1,"logType":1}).limit(5)
                db.monitorLog.find({"logType" : {$in:[1,2]}},{"terminalNo":1,"logType":1}).limit(5)
                db.getCollection("monitorLog").find({ $and : [{"logType" : { "$gte" : 1 }}, {"logType" : { "$lte" : 3 }}] }).limit(10)
                db.getCollection("monitorLog").find({ $and : [{"logType" : { "$gte" : 1 }}, {"logType" : { "$lte" : 3 }}] },{"terminalNo":1,"ip":1}).limit(10)
                db.getCollection("monitorLog").find({ "$and" : [{"logType" : { "$gte" : 1 }}] }).limit(10)
                db.getCollection("monitorLog").find({ $and : [{"logType" : { "$gte" : 1 }}] }).limit(1)
                db.getCollection("monitorLog").find({ '$and'  :   [{"receiveLogDt" : { "$gte" : ISODate("2019-08-22 00:00:00") }}, {"receiveLogDt" : { "$lte" : ISODate("2019-08-22 23:59:59") }}]}).limit(3)
                db.getCollection("monitorLog").find({ $and : [{"receiveLogDt" : { "$gte" : ISODate("2019-08-22 00:00:00") }}, {"receiveLogDt" : { "$lte" : ISODate("2019-08-22 23:59:59") }}]}).limit(3)
                */
             }

              //可搜索选择框初始化
              $('.selectpicker').selectpicker({ size: 10 });
              $(":file").filestyle({input: false});

              var lock = false;
              var table;
              var query_status = false;
              set_editor("ace-editor")
              set_editor("ace-editor-tab-defi")
              set_editor("ace-editor-demo")

              function get_db_type() {
                  var db_type=''
                  $.ajax({
                       url     : "/ds/query/id",
                       type    : "post",
                       datatype: "json",
                       async   : false,
                       data    :{
                          dsid : $('#db_source').val(),
                       },
                       success: function (ds) {
                         //db_source = ds
                         db_type=ds['db_type']
                       }
                   });
                  return db_type;
              }

              function upd_curr_db(dataSet){
                   $("#curr_db").empty();
                   $("#curr_db").append("<option value=''>...</option>");
                    for (i=0;i<dataSet['message'].length;i++){
                       var val  = dataSet['message'][i].id;
                       var text = dataSet['message'][i].id;
                       $("#curr_db").append("<option value='"+val+"' title='"+text+"'>"+text+"</option>");
                   }
                   $("#curr_db").selectpicker('refresh')
              }

              function upd_result(){
                  if (get_db_type()=='6') {
                        $('#div-table').hide()
                        $('#div-result').show()
                        console.log('mongodb')
                         var editor = ace.edit("div-result")
                         editor.setValue('')
                    } else {
                        $('#div-table').show()
                        $('#div-result').hide()
                        console.log('mysql')
                    }
              }

              function upd_demo(){
                  console.log('update demo....')
                  if (get_db_type()=='6') {
                       console.log('update demo....false')
                       $('#demo_btn').attr('disabled',false)
                    } else {
                       $('#demo_btn').attr('disabled',true)
                    }
              }

              function upd_curr_db_select(dataSet,curdb){
                    $("#curr_db").empty();
                    $("#curr_db").append("<option value='"+curdb+"' title='"+curdb+"'>"+curdb+"</option>");
                    for (i=0;i<dataSet['message'].length;i++){
                       var val  = dataSet['message'][i].id;
                       var text = dataSet['message'][i].id;
                       if (val!=curdb) {
                              $("#curr_db").append("<option value='"+val+"' title='"+text+"'>"+text+"</option>");
                       }
                   }
                   $("#curr_db").append("<option value=''>...</option>");
                   $("#curr_db").selectpicker('refresh')
              }

              function refresh_tree() {
                  var db_type = ''
                  var db_source = ''
                  if ($('#db_source').val() != '') {

                      $.ajax({
                          url: "/ds/query/id",
                          type: "post",
                          datatype: "json",
                          async: false,
                          data: {
                              dsid: $('#db_source').val(),
                          },
                          success: function (ds) {
                              db_source = ds
                              db_type = ds['db_type']
                          },
                      });

                      if ($('#db_source').val()!='') {
                         $.ajax({
                            url     :"/get_tree",
                            type    :"post",
                            datatype:"json",
                            data: {
                                dbid : $('#db_source').val(),
                                msg  : $('#filter_db').val()
                            },
                            success: function (dataSet) {
                                if (dataSet.url.length>30) {
                                    $('#db_title').html(dataSet.url.slice(1,30)+'.../');
                                } else {
                                    $('#db_title').html(dataSet.url);
                                }

                                $('#db_tree').treeview({
                                     data              : dataSet.message,
                                     collapseIcon      : "ion-minus-round",
                                     expandIcon        : "mdi mdi-border-all",//"ion-plus-round",
                                     highlightSelected : true,
                                     levels            : 2,
                                     showBorder        : false,
                                     showIcon          : true,
                                });

                                $('#db_tree').treeview('collapseAll', { silent: true });

                                $('#db_tree').on('nodeSelected', function(event, data) {
                                    var curNode = $('#db_tree').treeview('getNode', data.nodeId);
                                    var parNode = $('#db_tree').treeview('getNode', curNode.parentId);

                                    if (curNode.state.expanded) {
                                        $('#db_tree').treeview('collapseNode', curNode.nodeId);
                                    } else {
                                        $('#db_tree').treeview('expandNode', curNode.nodeId);
                                    }

                                    if (data.parentId === undefined) {
                                         upd_curr_db_select(dataSet,curNode.text)
                                    } else {
                                        upd_curr_db_select(dataSet,parNode.text)
                                    }
                                });

                                $('#db_tree').on('nodeUnselected', function(event, data) {
                                    var curNode = $('#db_tree').treeview('getNode', data.nodeId);
                                    var parNode = $('#db_tree').treeview('getNode', curNode.parentId);

                                    if (curNode.state.expanded) {
                                        $('#db_tree').treeview('collapseNode', curNode.nodeId);
                                    } else {
                                        $('#db_tree').treeview('expandNode', curNode.nodeId);
                                    }

                                    if (data.parentId === undefined) {
                                         upd_curr_db_select(dataSet,curNode.text)
                                    } else {
                                        upd_curr_db_select(dataSet,parNode.text)

                                    }
                                });

                                $('#db_tree').contextMenu({
                                    selector: 'li',
                                    callback: function(key, options) {
                                        get_menu_result(key,get_db_type(),$(this).text())
                                    },
                                    items: {
                                        "tab_definition"   : {name: "表定义",   icon: "fa-first-order"},
                                        "idx_definition"   : {name: "索引定义", icon: "fa-diamond"},
                                        "query_tab_100"    : {name: "查询数据", icon: "fa-pied-piper"},
                                    }
                                });

                                //加载数据库列表
                                upd_curr_db(dataSet)

                                //更新结果div
                                upd_result()

                                //更新demo按钮状态
                                upd_demo()

                            }
                        });
                      }
                  }
              }

              function get_menu_result(key,db_type,curNode) {
                  if (key=='tab_definition') {
                      if (db_type == '2' || db_type == '0' ) {
                          $.ajax({
                            url     : "/get_tab_ddl",
                            type    : "post",
                            datatype: "json",
                            data: {
                                dbid  :  $('#db_source').val(),
                                cur_db:  $('#curr_db').val(),
                                tab   :  curNode
                            },
                            success: function (dataSet) {
                                if (dataSet.status=="1") {
                                    showtips('info',dataSet.message);
                                } else {
                                   var editor = ace.edit("ace-editor-tab-defi");
                                    editor.setValue('')
                                    editor.insert(dataSet.message);
                                    $('#ddl-header').text('表结构信息')
                                    $('.modal').on('show.bs.modal', centerModals);
                                    $(window).on('resize', centerModals);
                                    $('#con-close-modal-ddl').modal({
                                       keyboard: false,
                                       backdrop:false
                                    })
                               }
                             }
                         });
                      } else {
                          showtips('info','不支持的操作!');
                          return false;
                      }

                  } else if (key =='idx_definition') {
                       if (db_type == '2' || db_type == '0' ) {
                           $.ajax({
                            url     : "/get_tab_idx",
                            type    : "post",
                            datatype: "json",
                            data: {
                                dbid  :  $('#db_source').val(),
                                cur_db:  $('#curr_db').val(),
                                tab   :  curNode
                            },
                            success: function (dataSet) {
                                if (dataSet.status=="1") {
                                    showtips('info',dataSet.message);
                                } else {
                                    var editor = ace.edit("ace-editor-tab-defi");
                                    editor.setValue('')
                                    editor.insert(dataSet.message);
                                    $('#ddl-header').text('索引定义')
                                    $('.modal').on('show.bs.modal', centerModals);
                                    $(window).on('resize', centerModals);
                                    $('#con-close-modal-ddl').modal({
                                       keyboard: false,
                                       backdrop:false
                                    })
                               }
                             }
                         });
                       } else if (db_type=='6') {
                           showtips('info','功能开发中!');
                       }  else {
                           showtips('info','不支持的操作!');
                           return false;
                       }
                  } else if (key=='query_tab_100'){

                        if (db_type == '2'){
                             sql = 'select top 100 * from '+curNode;
                        } else if (db_type == '0') {
                            sql = 'select * from ' + curNode + ' limit 100';
                        } else if (db_type == '6') {
                            sql = 'db.'+curNode+'.find({}).limit(10)'.format(curNode)
                        } else {
                            sql = 'select * from '+curNode+ ' limit 100';
                        }
                        var editor = ace.edit("ace-editor");
                        editor.setValue(sql);
                        query_table(sql)
                     }
              }

              function query_table(sql){
                if (table!=undefined ){
                    if (query_status == false) {
                        table.destroy();
                    }
                    $('#example').empty();
                } else {
                    $('#example').empty();
                }

                $.ajax({
                    url     : "/sql/_query",
                    type    : "post",
                    datatype: "json",
                    data: {
                        dbid  :  $('#db_source').val(),
                        sql   :  sql,
                        cur_db:  $('#curr_db').val()
                    },
                    success: function (dataSet) {
                        if (dataSet.status=="1") {
                            showtips('error',dataSet.msg);
                            query_status = true
                        } else {
                            if (get_db_type()=='6') {
                                query_status = true
                                $('#div-table').hide()
                                $('#div-result').show()
                                console.log('mongodb')
                                 var editor = ace.edit("div-result")
                                 editor.setValue('')
                                 editor.insert(JSON.stringify(dataSet.data, null, "\t"))
                            } else {
                                query_status = false
                                $('#div-table').show()
                                $('#div-result').hide()
                                console.log('mysql')
                                table=$('#example').DataTable( {
                                   "dom"          : '<"top"<"clear">>rt<"bottom"ip<"clear">>',
                                    destroy       : true,
                                    async         : true,
                                    data          : dataSet.data,
                                    columns       : dataSet.column,
                                    scrollX       : true,
                                    scrollY       : $("#h_tab_height").val(),
                                    //scrollCollapse: true,
                                    paging        : false,
                                    ordering      : false,
                                    autoWidth     : true,
                                    "language"    : get_languages()
                                 });
                            }

                            if (dataSet.msg!='' ){
                                 $('#query_time').css('color','red')
                                 $('#query_time').text('查询用时:'+dataSet.msg+'秒')
                            } else {
                                 $('#query_time').text('');
                            }
                       }
                    },
                 });
              }

              function set_editor(p_editor) {
                  var editor = ace.edit(p_editor);
                  editor.setTheme("ace/theme/xcode");
                  editor.getSession().setMode("ace/mode/mysql");
                  editor.getSession().setUseSoftTabs(true);
                  editor.getSession().setUseWrapMode(true);
                  editor.setShowPrintMargin(false);
                  editor.setFontSize(14);
                  editor.setOption("wrap", "free");
                  ace.require("ace/ext/language_tools");
                  editor.setOptions({
                     enableBasicAutocompletion: true,
                     enableSnippets: true,
                     enableLiveAutocompletion: true,
                     wrapBehavioursEnabled:false
                  });
                  editor.setHighlightActiveLine(true);
              }

              function set_editor_result(p_editor) {
                  var editor = ace.edit(p_editor);
                  editor.setTheme("ace/theme/xcode");
                  editor.getSession().setMode("ace/mode/json");
                  editor.getSession().setUseSoftTabs(true);
                  editor.getSession().setUseWrapMode(true);
                  editor.setShowPrintMargin(false);
                  editor.setFontSize(14);
                  editor.setOption("wrap", "free");
                  editor.setReadOnly(true);
                  editor.setHighlightActiveLine(true);
              }

              $("#filter_db").on('compositionstart',function() {
                  lock = true;
              });

              $("#filter_db").on('compositionend',function() {
                  lock = false;
              });

              $("#filter_db").bind("input propertychange",function(){
                if (!lock) refresh_tree();
              });

              $("#db_source").on("changed.bs.select",function(){
                    refresh_tree();
              });

              $('#beauty_btn').click(function(){
                    var editor = ace.edit("ace-editor");
                    v_sql=editor.session.getTextRange(editor.getSelectionRange())
                    $.ajax({
                        type: 'post',
                        url: '/sql/_format',
                        data: {"sql":v_sql},
                        success: function (dataSet) {
                             if (dataSet.code == '0') {
                                var editor = ace.edit("ace-editor");
                                editor.insert(dataSet.message);
                             } else {
                                showtips('info',dataSet.message);
                             }
                         }
                     })
              });

              $('#curr_db').change(function(){
                     var pattern = $.trim($('#curr_db').val());
                     var options = {
                          ignoreCase: false,
                          exactMatch: false,
                          revealResults: true
                      };
                     var results = $('#db_tree').treeview('search', [ pattern, options ]);
                     console.log('results=',results)
              })

              $("#query_btn").click(function() {
                    $('#query_time').text('');
                    var editor = ace.edit("ace-editor");
                    v_sql=editor.session.getTextRange(editor.getSelectionRange())

                    if($('#db_source').val()=='') {
                       showtips('info','请选择数据源!');
                       return false;
                    }
                    if(v_sql=='') {
                      v_sql=editor.session.getValue()
                    }
                    query_table(v_sql)

              });

              $("#demo_btn").click(function() {
                    var editor = ace.edit("ace-editor-demo");
                    editor.setValue('')
                    editor.insert(mongo_demo.getMultiLine());
                    $('#demo-header').text('示例信息')
                    $('.modal').on('show.bs.modal', centerModals);
                    $(window).on('resize', centerModals);
                    $('#con-close-modal-demo').modal({
                       keyboard: false,
                       backdrop:false
                    });
              });

              $('.modal').on('show.bs.modal', centerModals);
              $(window).on('resize', centerModals);
              $('#con-close-modal2').modal({ keyboard: false,backdrop:false});
              setTimeout("set_styles()",1000)
              set_editor_result('div-result')
              $('#div-result').hide()
              $('#div-table').show()
        });
 </script>

</body>

</html>
