<!DOCTYPE html>
<html class="account-pages-bg">
    <head>
        <meta charset="utf-8">
        <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/core.css" rel="stylesheet" type="text/css" />
        <link href="static/css/components.css" rel="stylesheet" type="text/css" />
        <link href="static/css/icons.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="bg-transparent">
        <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="wrapper-page">
                            <img src="{{static_url('img/animat-search-color.gif')}}" alt="" height="120">
                            <h2 class="text-uppercase text-danger">页面未找到</h2>
                            <span class="text-muted">看起来你好像发生错误了({{msg}})。别担心即使是最优秀的人也会遇到这种情况。你可能想要检查你的网络连接。这里有一个小提示，可能会帮助你回到正轨。</p>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
<!--        <script src="{{static_url('assets/js/jquery.min.js')}}"></script>-->
<!--        <script src="{{static_url('assets/js/bootstrap.min.js')}}"></script>-->
        <!-- App js -->
<!--        <script src="{{static_url('assets/js/jquery.core.js')}}"></script>-->
<!--        <script src="{{static_url('assets/js/jquery.app.js')}}"></script>-->

    </body>
</html>